// Emphasis
//
// Emphasis is indicated in examples and interlinear glossed examples with the`.em` class. In [interlinear glosses](#kssref-components-interlinear), [examples](#kssref-components-example), or [lists of examples](#kssref-components-examples), `<b>` and `<em>` tags are automatically given emphasis styling.
//
// Markup: emphasis.html
//
// Styleguide components.emphasis
.em, .emphasis {
  color:       var(--em-color);
  font-weight: bold;
}

.strong {
  font-weight: bold;
}

.u, .underline {
  text-decoration: underline;
}
