:root {
  --padding-text: 0.25em 0.5em;
}
.reference-list h1 {
  font-size: 1.75em;
  font-weight: var(--bold);
  padding-bottom: 0.25em;
  padding-top: 0.5em;
}
.reference-list ol,
.reference-list ul {
  list-style: disc outside none;
  padding: 0.5em 0em;
  padding-left: 1.5em;
}
.reference-list li {
  display: list-item;
  padding: var(--padding-text);
}
.reference-list li p {
  display: block;
  margin-left: 1.5em;
  text-indent: -1.5em;
}
