.banner {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--blue);
  color: white;
  align-items: center;
  box-shadow: var(--shadow-deep);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.banner h1 {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  min-width: 0;
  padding: var(--padding-text);
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.bulleted {
  list-style: disc outside none;
}
.bulleted li {
  display: list-item;
}
.details summary {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: var(--bold);
  margin-left: -1em;
  min-width: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.field {
  --shadow-inset: inset var(--line-width) var(--line-width) 0.15em var(--shadow-color);
  background-color: transparent;
  border: 0.075em solid var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: var(--padding-text);
}
.field:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset);
  outline: none;
  --shadow-color: var(--blue);
}
.field:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset);
  --shadow-color: var(--darkred);
}
.field:disabled {
  background-color: #EAEDED;
  color: #CAD2D3;
  cursor: not-allowed;
}
.hanging {
  margin-left: 1em;
  text-indent: -1em;
}
.nav ul {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--blue);
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.25em;
  list-style: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.nav ul li {
  min-width: 0;
  overflow-wrap: break-word;
  padding: 0.5em;
  text-align: center;
  word-wrap: break-word;
}
.nav ul a {
  background: transparent;
  color: var(--link-color);
  border-bottom: var(--underline-transparent);
  text-decoration: none;
  --link-color: white;
  text-align: center;
}
.nav ul a:visited {
  --link-color: var(--link-color-visited);
}
.nav ul a:hover {
  border-bottom: var(--underline);
}
.nav ul a:visited {
  --link-color: white;
}
.numbered {
  counter-reset: numbered;
  list-style: none;
}
.numbered li {
  counter-increment: numbered;
  display: list-item;
  margin: 0;
  margin-left: 2.5em;
}
.numbered li::before {
  content: counter(numbered) '.';
  font-weight: bold;
  margin-left: -2.5em;
  padding: var(--padding-text);
  padding: 0.25em 0.5em;
}
.pre {
  font-family: var(--font-mono);
  white-space: pre;
}
.pre code {
  background-color: var(--codegray);
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--codedarkgray);
  font-family: var(--font-mono);
  font-size: 0.75em;
  font-style: normal;
  padding: var(--padding-text);
  white-space: pre-line;
  display: block;
  overflow-x: auto;
  white-space: pre;
}
.reference-list a {
  background: transparent;
  color: var(--link-color);
  border-bottom: var(--underline-transparent);
  text-decoration: none;
}
.reference-list a:visited {
  --link-color: var(--link-color-visited);
}
.reference-list a:hover {
  border-bottom: var(--underline);
}
.reference-list cite {
  font-style: italic;
}
.reference-list h2 {
  font-size: 1.75em;
  font-weight: var(--bold);
  padding-bottom: 0.25em;
  padding-top: 0.5em;
}
.reference-list ol,
.reference-list ul {
  list-style: disc outside none;
  padding: 0.5em 0em;
  padding-left: 1.5em;
}
.reference-list li {
  display: list-item;
  padding: var(--padding-text);
}
.reference-list li p {
  display: block;
  margin: 0;
  margin-left: 1.5em;
  padding: var(--padding-text);
  text-indent: -1.5em;
}
