.wugblue {
  color: #6FD1F6;
}
.wugblue-background {
  background-color: #6FD1F6;
}
.verydarkblue {
  color: #017CF2;
}
.darkblue {
  color: #0F89FF;
}
.blue {
  color: #3399FF;
}
.lightblue {
  color: #5CAFFF;
}
.verylightblue {
  color: #88C4FE;
}
.verydarkblue-background {
  background-color: #017CF2;
  color: white;
}
.darkblue-background {
  background-color: #0F89FF;
  color: white;
}
.blue-background {
  background-color: #3399FF;
  color: white;
}
.lightblue-background {
  background-color: #5CAFFF;
}
.verylightblue-background {
  background-color: #88C4FE;
}
.gray {
  color: #F5F2F0;
}
.gray-background {
  background-color: #F5F2F0;
}
.verylightgreen {
  color: #7FFED1;
}
.lightgreen {
  color: #4FFFC1;
}
.green {
  color: #23FFB1;
}
.darkgreen {
  color: #00FFA5;
}
.verydarkgreen {
  color: #00F39D;
}
.verylightgreen-background {
  background-color: #7FFED1;
}
.lightgreen-background {
  background-color: #4FFFC1;
}
.green-background {
  background-color: #23FFB1;
}
.darkgreen-background {
  background-color: #00FFA5;
}
.verydarkgreen-background {
  background-color: #00F39D;
}
.verylightorange {
  color: #FFA97F;
}
.lightorange {
  color: #FF884F;
}
.orange {
  color: #FF6A23;
}
.darkorange {
  color: #FF5300;
}
.verylightorange-background {
  background-color: #FFA97F;
}
.lightorange-background {
  background-color: #FF884F;
}
.orange-background {
  background-color: #FF6A23;
}
.darkorange-background {
  background-color: #FF5300;
  color: white;
}
.verylightpurple {
  color: #9791FE;
}
.lightpurple {
  color: #7068FF;
}
.purple {
  color: #4D42FF;
}
.darkpurple {
  color: #2A1DFF;
}
.verydarkpurple {
  color: #1002F4;
}
.verylightpurple-background {
  background-color: #9791FE;
}
.lightpurple-background {
  background-color: #7068FF;
  color: white;
}
.purple-background {
  background-color: #4D42FF;
  color: white;
}
.darkpurple-background {
  background-color: #2A1DFF;
  color: white;
}
.verydarkpurple-background {
  background-color: #1002F4;
  color: white;
}
.verylightred {
  color: #FF9797;
}
.lightred {
  color: #E96363;
}
.red {
  color: #CA3C3C;
}
.darkred {
  color: #AA1F1F;
}
.verydarkred {
  color: #830505;
}
.verylightred-background {
  background-color: #FF9797;
}
.lightred-background {
  background-color: #E96363;
}
.red-background {
  background-color: #CA3C3C;
  color: white;
}
.darkred-background {
  background-color: #AA1F1F;
  color: white;
}
.verydarkred-background {
  background-color: #830505;
  color: white;
}
.lightblue-transparent {
  background-color: rgba(92, 175, 255, 0.2);
}
.verylightblue-transparent {
  background-color: rgba(136, 196, 254, 0.2);
}
body {
  box-sizing: border-box;
  font-family: 'Fira Sans';
  line-height: 1.5;
}
.bulleted {
  list-style: disc outside none;
  margin-left: 1.5em;
}
.bulleted li {
  display: list-item;
}
code {
  background-color: #F5F2F0;
  border-radius: 3px;
  font-family: 'Fira Mono', 'Monaco', 'Courier New', monospace;
  font-size: 0.75em;
  font-style: normal;
  padding: 0.25em;
}
p > code {
  white-space: pre;
}
.link {
  color: #3399FF;
  border-bottom: 0.075em solid white;
}
.link:link {
  color: #3399FF;
}
.link:visited {
  color: #3399FF;
}
.link:hover {
  border-bottom: 0.075em solid #3399FF;
}
.link:active {
  color: #3399FF;
}
