.bulleted {
  list-style: disc outside none;
}
.bulleted li {
  display: list-item;
}
code {
  background-color: #F5F2F0;
  border-radius: 3px;
  font-family: 'Fira Mono', 'Monaco', 'Courier New', monospace;
  font-size: 0.75em;
  font-style: normal;
  padding: 0.25em;
  white-space: pre-wrap;
}
.link {
  border-bottom: 1px solid white;
  color: #3399ff;
}
.link:link {
  color: #3399ff;
}
.link:visited {
  color: #3399ff;
}
.link:hover {
  border-bottom: 1px solid #3399ff;
}
.link:active {
  color: #3399ff;
}
