@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Light'), url('../fonts/FiraSans-Light.woff2') format('woff2'), url('../fonts/FiraSans-Light.woff') format('woff');
  font-display: fallback;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Light Italic'), url('../fonts/FiraSans-LightItalic.woff2') format('woff2'), url('../fonts/FiraSans-LightItalic.woff') format('woff');
  font-display: fallback;
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Medium'), url('../fonts/FiraSans-Medium.woff2') format('woff2'), url('../fonts/FiraSans-Medium.woff') format('woff');
  font-display: fallback;
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Medium Italic'), url('../fonts/FiraSans-MediumItalic.woff2') format('woff2'), url('../fonts/FiraSans-MediumItalic.woff') format('woff');
  font-display: fallback;
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: 'Fira Mono';
  src: local('Fira Mono Regular'), url('../fonts/FiraMono-Regular.woff2') format('woff2'), url('../fonts/FiraMono-Regular.woff') format('woff');
  font-display: fallback;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Fira Mono';
  src: local('Fira Mono Bold'), url('../fonts/FiraMono-Bold.woff2') format('woff2'), url('../fonts/FiraMono-Bold.woff') format('woff');
  font-display: fallback;
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Gentium Plus';
  src: local('Gentium Plus Regular'), url('../fonts/GentiumPlus-R.woff2') format('woff2'), url('../fonts/GentiumPlus-R.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Gentium Plus';
  src: local('Gentium Plus Italic'), url('../fonts/GentiumPlus-I.woff2') format('woff2'), url('../fonts/GentiumPlus-I.woff') format('woff');
  font-display: swap;
  font-style: italic;
  font-weight: normal;
}
