.button {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--blue);
  color: white;
  align-items: center;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15), transparent);
  border: 0;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-button);
  cursor: pointer;
  font: inherit;
  outline: 0;
  padding: var(--padding-text);
  text-align: center;
}
.button:active {
  --shadow-button: 0 0 0 0.075em rgba(0, 0, 0, 0.15) inset, 0 0 0.5em rgba(0, 0, 0, 0.2) inset;
}
.button:hover,
.button:focus {
  background-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.15));
}
.button:disabled {
  background-image: none;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.40;
}
.button-red {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--red);
  color: white;
}
.fieldset {
  border: var(--border);
  border-radius: var(--border-radius);
}
.fieldset legend {
  font-weight: var(--bold);
}
.input[type=button] {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--blue);
  color: white;
  align-items: center;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15), transparent);
  border: 0;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-button);
  cursor: pointer;
  font: inherit;
  outline: 0;
  padding: var(--padding-text);
  text-align: center;
}
.input[type=button]:active {
  --shadow-button: 0 0 0 0.075em rgba(0, 0, 0, 0.15) inset, 0 0 0.5em rgba(0, 0, 0, 0.2) inset;
}
.input[type=button]:hover,
.input[type=button]:focus {
  background-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.15));
}
.input[type=button]:disabled {
  background-image: none;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.40;
}
.input[type=button]-red {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--red);
  color: white;
}
.input[type=checkbox] {
  align-self: center;
  max-height: 1rem;
  max-width: 1rem;
}
.input[type=color] {
  display: block;
}
.input[type=date] {
  --shadow-inset: inset var(--line-width) var(--line-width) 0.15em var(--shadow-color);
  background-color: transparent;
  border: 0.075em solid var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: var(--padding-text);
}
.input[type=date]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset);
  outline: none;
  --shadow-color: var(--blue);
}
.input[type=date]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset);
  --shadow-color: var(--darkred);
}
.input[type=date]:disabled {
  background-color: #EAEDED;
  color: #CAD2D3;
  cursor: not-allowed;
}
.input[type=datetime] {
  --shadow-inset: inset var(--line-width) var(--line-width) 0.15em var(--shadow-color);
  background-color: transparent;
  border: 0.075em solid var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: var(--padding-text);
}
.input[type=datetime]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset);
  outline: none;
  --shadow-color: var(--blue);
}
.input[type=datetime]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset);
  --shadow-color: var(--darkred);
}
.input[type=datetime]:disabled {
  background-color: #EAEDED;
  color: #CAD2D3;
  cursor: not-allowed;
}
.input[type=datetime-local] {
  --shadow-inset: inset var(--line-width) var(--line-width) 0.15em var(--shadow-color);
  background-color: transparent;
  border: 0.075em solid var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: var(--padding-text);
}
.input[type=datetime-local]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset);
  outline: none;
  --shadow-color: var(--blue);
}
.input[type=datetime-local]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset);
  --shadow-color: var(--darkred);
}
.input[type=datetime-local]:disabled {
  background-color: #EAEDED;
  color: #CAD2D3;
  cursor: not-allowed;
}
.input[type=email] {
  --shadow-inset: inset var(--line-width) var(--line-width) 0.15em var(--shadow-color);
  background-color: transparent;
  border: 0.075em solid var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: var(--padding-text);
}
.input[type=email]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset);
  outline: none;
  --shadow-color: var(--blue);
}
.input[type=email]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset);
  --shadow-color: var(--darkred);
}
.input[type=email]:disabled {
  background-color: #EAEDED;
  color: #CAD2D3;
  cursor: not-allowed;
}
.input[type=month] {
  --shadow-inset: inset var(--line-width) var(--line-width) 0.15em var(--shadow-color);
  background-color: transparent;
  border: 0.075em solid var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: var(--padding-text);
}
.input[type=month]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset);
  outline: none;
  --shadow-color: var(--blue);
}
.input[type=month]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset);
  --shadow-color: var(--darkred);
}
.input[type=month]:disabled {
  background-color: #EAEDED;
  color: #CAD2D3;
  cursor: not-allowed;
}
.input[type=number] {
  --shadow-inset: inset var(--line-width) var(--line-width) 0.15em var(--shadow-color);
  background-color: transparent;
  border: 0.075em solid var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: var(--padding-text);
}
.input[type=number]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset);
  outline: none;
  --shadow-color: var(--blue);
}
.input[type=number]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset);
  --shadow-color: var(--darkred);
}
.input[type=number]:disabled {
  background-color: #EAEDED;
  color: #CAD2D3;
  cursor: not-allowed;
}
.input[type=password] {
  --shadow-inset: inset var(--line-width) var(--line-width) 0.15em var(--shadow-color);
  background-color: transparent;
  border: 0.075em solid var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: var(--padding-text);
}
.input[type=password]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset);
  outline: none;
  --shadow-color: var(--blue);
}
.input[type=password]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset);
  --shadow-color: var(--darkred);
}
.input[type=password]:disabled {
  background-color: #EAEDED;
  color: #CAD2D3;
  cursor: not-allowed;
}
.input[type=radio] {
  align-self: center;
  max-height: 1rem;
  max-width: 1rem;
}
.input[type=range] {
  align-self: center;
}
.input[type=reset] {
  background-color: var(--blue);
  align-items: center;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15), transparent);
  border: 0;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-button);
  cursor: pointer;
  font: inherit;
  outline: 0;
  padding: var(--padding-text);
  text-align: center;
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--superdarkgreen);
  color: white;
}
.input[type=reset]:active {
  --shadow-button: 0 0 0 0.075em rgba(0, 0, 0, 0.15) inset, 0 0 0.5em rgba(0, 0, 0, 0.2) inset;
}
.input[type=reset]:hover,
.input[type=reset]:focus {
  background-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.15));
}
.input[type=reset]:disabled {
  background-image: none;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.40;
}
.input[type=reset]-red {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--red);
  color: white;
}
.input[type=search] {
  --shadow-inset: inset var(--line-width) var(--line-width) 0.15em var(--shadow-color);
  background-color: transparent;
  border: 0.075em solid var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: var(--padding-text);
}
.input[type=search]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset);
  outline: none;
  --shadow-color: var(--blue);
}
.input[type=search]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset);
  --shadow-color: var(--darkred);
}
.input[type=search]:disabled {
  background-color: #EAEDED;
  color: #CAD2D3;
  cursor: not-allowed;
}
.input[type=submit] {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--blue);
  color: white;
  align-items: center;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15), transparent);
  border: 0;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-button);
  cursor: pointer;
  font: inherit;
  outline: 0;
  padding: var(--padding-text);
  text-align: center;
}
.input[type=submit]:active {
  --shadow-button: 0 0 0 0.075em rgba(0, 0, 0, 0.15) inset, 0 0 0.5em rgba(0, 0, 0, 0.2) inset;
}
.input[type=submit]:hover,
.input[type=submit]:focus {
  background-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.15));
}
.input[type=submit]:disabled {
  background-image: none;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.40;
}
.input[type=submit]-red {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--red);
  color: white;
}
.input[type=tel] {
  --shadow-inset: inset var(--line-width) var(--line-width) 0.15em var(--shadow-color);
  background-color: transparent;
  border: 0.075em solid var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: var(--padding-text);
}
.input[type=tel]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset);
  outline: none;
  --shadow-color: var(--blue);
}
.input[type=tel]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset);
  --shadow-color: var(--darkred);
}
.input[type=tel]:disabled {
  background-color: #EAEDED;
  color: #CAD2D3;
  cursor: not-allowed;
}
.input[type=text] {
  --shadow-inset: inset var(--line-width) var(--line-width) 0.15em var(--shadow-color);
  background-color: transparent;
  border: 0.075em solid var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: var(--padding-text);
}
.input[type=text]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset);
  outline: none;
  --shadow-color: var(--blue);
}
.input[type=text]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset);
  --shadow-color: var(--darkred);
}
.input[type=text]:disabled {
  background-color: #EAEDED;
  color: #CAD2D3;
  cursor: not-allowed;
}
.input[type=time] {
  --shadow-inset: inset var(--line-width) var(--line-width) 0.15em var(--shadow-color);
  background-color: transparent;
  border: 0.075em solid var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: var(--padding-text);
}
.input[type=time]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset);
  outline: none;
  --shadow-color: var(--blue);
}
.input[type=time]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset);
  --shadow-color: var(--darkred);
}
.input[type=time]:disabled {
  background-color: #EAEDED;
  color: #CAD2D3;
  cursor: not-allowed;
}
.input[type=url] {
  --shadow-inset: inset var(--line-width) var(--line-width) 0.15em var(--shadow-color);
  background-color: transparent;
  border: 0.075em solid var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: var(--padding-text);
}
.input[type=url]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset);
  outline: none;
  --shadow-color: var(--blue);
}
.input[type=url]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset);
  --shadow-color: var(--darkred);
}
.input[type=url]:disabled {
  background-color: #EAEDED;
  color: #CAD2D3;
  cursor: not-allowed;
}
.input[type=week] {
  --shadow-inset: inset var(--line-width) var(--line-width) 0.15em var(--shadow-color);
  background-color: transparent;
  border: 0.075em solid var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: var(--padding-text);
}
.input[type=week]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset);
  outline: none;
  --shadow-color: var(--blue);
}
.input[type=week]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset);
  --shadow-color: var(--darkred);
}
.input[type=week]:disabled {
  background-color: #EAEDED;
  color: #CAD2D3;
  cursor: not-allowed;
}
.label {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.label h1,
.label h2,
.label h3,
.label h4,
.label h5,
.label h6,
.label span {
  font-size: smaller;
  font-weight: var(--bold);
  padding: var(--padding-text);
}
.label p {
  padding: var(--padding-text);
}
.select {
  border: var(--border);
  --border-color: var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-button);
  padding: var(--padding-text);
}
.select:focus {
  outline: none;
}
.textarea {
  --shadow-inset: inset var(--line-width) var(--line-width) 0.15em var(--shadow-color);
  background-color: transparent;
  border: 0.075em solid var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: var(--padding-text);
}
.textarea:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset);
  outline: none;
  --shadow-color: var(--blue);
}
.textarea:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset);
  --shadow-color: var(--darkred);
}
.textarea:disabled {
  background-color: #EAEDED;
  color: #CAD2D3;
  cursor: not-allowed;
}
