.abbr {
  font-style: italic;
}
.cite {
  font-style: italic;
}
.code {
  background-color: var(--codegray);
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--codedarkgray);
  font-family: var(--font-mono);
  font-size: 0.75em;
  font-style: normal;
  padding: var(--padding-text);
  white-space: pre-line;
}
.dfn {
  font-style: italic;
}
.em {
  font-style: italic;
}
.italic {
  font-style: italic;
}
