.abbr {
  font-style: italic;
}
.cite {
  font-style: italic;
}
.code {
  background-color: var(--codegray);
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--codedarkgray);
  font-family: var(--font-mono);
  font-size: 0.75em;
  font-style: normal;
  padding: var(--padding-text);
  white-space: pre-line;
}
.dfn {
  font-style: italic;
}
.em {
  font-style: italic;
}
.italic {
  font-style: italic;
}
.kbd {
  background-color: var(--codegray);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  border: 0.035em solid #BBB;
  border-radius: var(--border-radius);
  color: #444;
  padding: var(--padding-text);
  text-align: center;
  text-shadow: 0em var(--line-width) white;
  box-shadow: 0em 0.15em 0em var(--gray), 0.02em 0.225em 0.2em var(--darkgray), inset 0em var(--line-width) var(--line-width) white, inset 0em -0.075em 0.225em var(--gray);
}
.link {
  background: transparent;
  color: var(--link-color);
  border-bottom: var(--underline-transparent);
  text-decoration: none;
}
.link:visited {
  --link-color: var(--link-color-visited);
}
.link:hover {
  border-bottom: var(--underline);
}
.link-white {
  background: transparent;
  color: var(--link-color);
  border-bottom: var(--underline-transparent);
  text-decoration: none;
  --link-color: white;
}
.link-white:visited {
  --link-color: var(--link-color-visited);
}
.link-white:hover {
  border-bottom: var(--underline);
}
.link-white:visited {
  --link-color: white;
}
.strong {
  color: var(--verydarkblue);
  font-weight: var(--bold);
}
.orthographic {
  font-family: var(--font-unicode);
  font-size: 1.15em;
}
.orthographic::before {
  content: '<';
  padding-right: var(--padding-ipa);
}
.orthographic::after {
  content: '>';
  padding-left: var(--padding-ipa);
}
.phonemic {
  font-family: var(--font-unicode);
  font-size: 1.15em;
}
.phonemic::before {
  content: '/';
  padding-right: var(--padding-ipa);
}
.phonemic::after {
  content: '/';
  padding-left: var(--padding-ipa);
}
.phonetic {
  font-family: var(--font-unicode);
  font-size: 1.15em;
}
.phonetic::before {
  content: '[';
  padding-right: var(--padding-ipa);
}
.phonetic::after {
  content: ']';
  padding-left: var(--padding-ipa);
}
.unicode {
  font-family: var(--font-unicode);
  font-size: 1.15em;
}
