.kss-modifiers__example html,
.kss-modifiers__example body,
.kss-modifiers__example div,
.kss-modifiers__example span,
.kss-modifiers__example applet,
.kss-modifiers__example object,
.kss-modifiers__example iframe,
.kss-modifiers__example h1,
.kss-modifiers__example h2,
.kss-modifiers__example h3,
.kss-modifiers__example h4,
.kss-modifiers__example h5,
.kss-modifiers__example h6,
.kss-modifiers__example p,
.kss-modifiers__example blockquote,
.kss-modifiers__example pre,
.kss-modifiers__example a,
.kss-modifiers__example abbr,
.kss-modifiers__example address,
.kss-modifiers__example big,
.kss-modifiers__example br,
.kss-modifiers__example cite,
.kss-modifiers__example code,
.kss-modifiers__example del,
.kss-modifiers__example dfn,
.kss-modifiers__example em,
.kss-modifiers__example hr,
.kss-modifiers__example img,
.kss-modifiers__example ins,
.kss-modifiers__example kbd,
.kss-modifiers__example q,
.kss-modifiers__example s,
.kss-modifiers__example samp,
.kss-modifiers__example small,
.kss-modifiers__example strike,
.kss-modifiers__example strong,
.kss-modifiers__example sub,
.kss-modifiers__example sup,
.kss-modifiers__example tt,
.kss-modifiers__example var,
.kss-modifiers__example b,
.kss-modifiers__example u,
.kss-modifiers__example i,
.kss-modifiers__example dl,
.kss-modifiers__example dt,
.kss-modifiers__example dd,
.kss-modifiers__example ol,
.kss-modifiers__example ul,
.kss-modifiers__example li,
.kss-modifiers__example button,
.kss-modifiers__example caption,
.kss-modifiers__example input,
.kss-modifiers__example fieldset,
.kss-modifiers__example form,
.kss-modifiers__example label,
.kss-modifiers__example legend,
.kss-modifiers__example output,
.kss-modifiers__example table,
.kss-modifiers__example textarea,
.kss-modifiers__example tbody,
.kss-modifiers__example tfoot,
.kss-modifiers__example thead,
.kss-modifiers__example tr,
.kss-modifiers__example th,
.kss-modifiers__example td,
.kss-modifiers__example article,
.kss-modifiers__example aside,
.kss-modifiers__example audio,
.kss-modifiers__example canvas,
.kss-modifiers__example details,
.kss-modifiers__example embed,
.kss-modifiers__example figure,
.kss-modifiers__example figcaption,
.kss-modifiers__example footer,
.kss-modifiers__example header,
.kss-modifiers__example hgroup,
.kss-modifiers__example main,
.kss-modifiers__example mark,
.kss-modifiers__example menu,
.kss-modifiers__example nav,
.kss-modifiers__example option,
.kss-modifiers__example output,
.kss-modifiers__example ruby,
.kss-modifiers__example section,
.kss-modifiers__example select,
.kss-modifiers__example summary,
.kss-modifiers__example time,
.kss-modifiers__example video {
  border: 0;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}
.kss-modifiers__example a,
.kss-modifiers__example abbr,
.kss-modifiers__example acronym,
.kss-modifiers__example b,
.kss-modifiers__example bdo,
.kss-modifiers__example big,
.kss-modifiers__example br,
.kss-modifiers__example cite,
.kss-modifiers__example code,
.kss-modifiers__example del,
.kss-modifiers__example dfn,
.kss-modifiers__example em,
.kss-modifiers__example i,
.kss-modifiers__example ins,
.kss-modifiers__example kbd,
.kss-modifiers__example mark,
.kss-modifiers__example q,
.kss-modifiers__example samp,
.kss-modifiers__example s,
.kss-modifiers__example small,
.kss-modifiers__example span,
.kss-modifiers__example strike,
.kss-modifiers__example strong,
.kss-modifiers__example sub,
.kss-modifiers__example sup,
.kss-modifiers__example time,
.kss-modifiers__example tt,
.kss-modifiers__example var {
  display: inline;
}
.kss-modifiers__example blockquote,
.kss-modifiers__example button,
.kss-modifiers__example caption,
.kss-modifiers__example dd,
.kss-modifiers__example dt,
.kss-modifiers__example figcaption,
.kss-modifiers__example h1,
.kss-modifiers__example h2,
.kss-modifiers__example h3,
.kss-modifiers__example h4,
.kss-modifiers__example h5,
.kss-modifiers__example h6,
.kss-modifiers__example input,
.kss-modifiers__example legend,
.kss-modifiers__example option,
.kss-modifiers__example output,
.kss-modifiers__example p,
.kss-modifiers__example pre,
.kss-modifiers__example select,
.kss-modifiers__example textarea {
  display: block;
}
.kss-modifiers__example [hidden] {
  display: none;
}
.kss-modifiers__example a,
.kss-modifiers__example a:link,
.kss-modifiers__example a:visited,
.kss-modifiers__example a:hover,
.kss-modifiers__example a:active {
  background: transparent;
  color: inherit;
  text-decoration: none;
}
.kss-modifiers__example body {
  background-color: transparent;
  color: black;
  font-size: 100%;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  min-height: 100vh;
}
.kss-modifiers__example blockquote,
.kss-modifiers__example q {
  quotes: none;
}
.kss-modifiers__example blockquote:before,
.kss-modifiers__example q:before,
.kss-modifiers__example blockquote:after,
.kss-modifiers__example q:after {
  content: '';
  content: none;
}
.kss-modifiers__example input[type=date],
.kss-modifiers__example input[type=datetime-local],
.kss-modifiers__example input[type=file],
.kss-modifiers__example input[type=month],
.kss-modifiers__example input[type=time],
.kss-modifiers__example input[type=week],
.kss-modifiers__example select {
  flex-direction: row;
}
.kss-modifiers__example ol,
.kss-modifiers__example ul {
  list-style: none;
}
.kss-modifiers__example table {
  border-spacing: 0;
  display: table;
}
.kss-modifiers__example tbody {
  display: table-row-group;
}
.kss-modifiers__example td,
.kss-modifiers__example th {
  display: table-cell;
}
.kss-modifiers__example thead {
  display: table-header-group;
}
.kss-modifiers__example tr {
  display: table-row;
}
