/*
This file contains DLx styles that are applied by default, without the need for specifiying them explicitly using CSS classes. This file also applies the flexbox-reset styling.
 */
/*
This file bundles together all the DLx stylesheets into a single LESS/CSS file. NB: The import order is important.
 */
/*
This file applies a CSS reset which uses flexbox styling as the default for most cases. See [flexbox-reset](https://github.com/dwhieb/flexbox-reset) for more information.
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
big,
br,
cite,
code,
del,
dfn,
em,
hr,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
button,
caption,
input,
fieldset,
form,
label,
legend,
output,
table,
textarea,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
audio,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
mark,
menu,
nav,
option,
output,
ruby,
section,
select,
summary,
time,
video {
  border: 0;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}
a,
abbr,
acronym,
b,
bdo,
big,
br,
cite,
code,
del,
dfn,
em,
i,
ins,
kbd,
mark,
q,
samp,
s,
small,
span,
strike,
strong,
sub,
sup,
time,
tt,
var {
  display: inline;
}
blockquote,
button,
caption,
dd,
dt,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
option,
output,
p,
pre,
select,
textarea {
  display: block;
}
[hidden] {
  display: none;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  background: transparent;
  color: inherit;
  text-decoration: none;
}
body {
  background-color: transparent;
  color: black;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  min-height: 100vh;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
input[type=date],
input[type=datetime-local],
input[type=file],
input[type=month],
input[type=time],
input[type=week],
select {
  flex-direction: row;
}
ol,
ul {
  list-style: none;
}
table {
  border-spacing: 0;
  display: table;
}
tbody {
  display: table-row-group;
}
td,
th {
  display: table-cell;
}
thead {
  display: table-header-group;
}
tr {
  display: table-row;
}
@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Light'), url('../fonts/FiraSans-Light.woff2') format('woff2'), url('../fonts/FiraSans-Light.woff') format('woff');
  font-display: fallback;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Light Italic'), url('../fonts/FiraSans-LightItalic.woff2') format('woff2'), url('../fonts/FiraSans-LightItalic.woff') format('woff');
  font-display: fallback;
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Medium'), url('../fonts/FiraSans-Medium.woff2') format('woff2'), url('../fonts/FiraSans-Medium.woff') format('woff');
  font-display: fallback;
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Medium Italic'), url('../fonts/FiraSans-MediumItalic.woff2') format('woff2'), url('../fonts/FiraSans-MediumItalic.woff') format('woff');
  font-display: fallback;
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: 'Fira Mono';
  src: local('Fira Mono Regular'), url('../fonts/FiraMono-Regular.woff2') format('woff2'), url('../fonts/FiraMono-Regular.woff') format('woff');
  font-display: fallback;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Fira Mono';
  src: local('Fira Mono Bold'), url('../fonts/FiraMono-Bold.woff2') format('woff2'), url('../fonts/FiraMono-Bold.woff') format('woff');
  font-display: fallback;
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Gentium Plus';
  src: local('Gentium Plus Regular'), url('../fonts/GentiumPlus-R.woff2') format('woff2'), url('../fonts/GentiumPlus-R.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Gentium Plus';
  src: local('Gentium Plus Italic'), url('../fonts/GentiumPlus-I.woff2') format('woff2'), url('../fonts/GentiumPlus-I.woff') format('woff');
  font-display: swap;
  font-style: italic;
  font-weight: normal;
}
/*
This file contains LESS variables for each of the colors in the DLx color schema
 */
:root {
  --wugblue: #6FD1F6;
  --verydarkblue: #017CF2;
  --darkblue: #0F89FF;
  --blue: #3399FF;
  --lightblue: #5CAFFF;
  --verylightblue: #88C4FE;
  --darkgray: gray;
  --gray: #CCC;
  --lightgray: #F5F2F0;
  --verylightgreen: #7FFED1;
  --lightgreen: #4FFFC1;
  --green: #23FFB1;
  --darkgreen: #00FFA5;
  --verydarkgreen: #00F39D;
  --superdarkgreen: #00AB6E;
  --verylightorange: #FFA97F;
  --lightorange: #FF884F;
  --orange: #FF6A23;
  --darkorange: #FF5300;
  --verylightpurple: #9791FE;
  --lightpurple: #7068FF;
  --purple: #4D42FF;
  --darkpurple: #2A1DFF;
  --verydarkpurple: #1002F4;
  --verylightred: #FF9797;
  --lightred: #E96363;
  --red: #CA3C3C;
  --darkred: #AA1F1F;
  --verydarkred: #830505;
  --lightblue-transparent: rgba(92, 175, 255, 0.2);
  --verylightblue-transparent: rgba(136, 196, 254, 0.2);
}
/*
This file contains DLx styles that need to be explicitly specified using classes
 */
:root {
  --border: 0.075em solid black;
  --border-gray: 0.075em solid var(--gray);
  --border-radius: 0.35em;
  --shadow: 0.075em 0.075em 0.15em var(--gray);
  --shadow-button: inset -0.075em -0.075em 0.15em 0em rgba(0, 0, 0, 0.15);
  --shadow-button-press: 0 0 0 0.075em rgba(0, 0, 0, 0.15) inset, 0 0 0.5em rgba(0, 0, 0, 0.2) inset;
  --shadow-inset: inset 0.075em 0.075em 0.15em var(--gray);
  --shadow-inset-blue: inset 0.075em 0.075em 0.15em var(--blue);
  --shadow-inset-red: inset 0.075em 0.075em 0.15em var(--darkred);
}
.wugblue {
  color: var(--wugblue);
}
.wugblue-background {
  background-color: var(--wugblue);
}
.verydarkblue {
  color: var(--verydarkblue);
}
.darkblue {
  color: var(--darkblue);
}
.blue {
  color: var(--blue);
}
.lightblue {
  color: var(--lightblue);
}
.verylightblue {
  color: var(--verylightblue);
}
.verydarkblue-background {
  background-color: var(--verydarkblue);
  color: white;
}
.verydarkblue-background a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.verydarkblue-background a:link {
  color: white;
}
.verydarkblue-background a:visited {
  color: white;
}
.verydarkblue-background a:hover {
  border-bottom: 0.075em solid white;
}
.verydarkblue-background a:visited:hover {
  border-bottom: 0.075em solid white;
}
.verydarkblue-background a:active {
  color: white;
}
.darkblue-background {
  background-color: var(--darkblue);
  color: white;
}
.darkblue-background a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.darkblue-background a:link {
  color: white;
}
.darkblue-background a:visited {
  color: white;
}
.darkblue-background a:hover {
  border-bottom: 0.075em solid white;
}
.darkblue-background a:visited:hover {
  border-bottom: 0.075em solid white;
}
.darkblue-background a:active {
  color: white;
}
.blue-background {
  background-color: var(--blue);
  color: white;
}
.blue-background a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.blue-background a:link {
  color: white;
}
.blue-background a:visited {
  color: white;
}
.blue-background a:hover {
  border-bottom: 0.075em solid white;
}
.blue-background a:visited:hover {
  border-bottom: 0.075em solid white;
}
.blue-background a:active {
  color: white;
}
.lightblue-background {
  background-color: var(--lightblue);
}
.verylightblue-background {
  background-color: var(--verylightblue);
}
.gray {
  color: var(--gray);
}
.gray-background {
  background-color: var(--gray);
}
.verylightgreen {
  color: var(--verylightgreen);
}
.lightgreen {
  color: var(--lightgreen);
}
.green {
  color: var(--green);
}
.darkgreen {
  color: var(--darkgreen);
}
.verydarkgreen {
  color: var(--verydarkgreen);
}
.superdarkgreen {
  color: var(--superdarkgreen);
}
.verylightgreen-background {
  background-color: var(--verylightgreen);
}
.lightgreen-background {
  background-color: var(--lightgreen);
}
.green-background {
  background-color: var(--green);
}
.darkgreen-background {
  background-color: var(--darkgreen);
}
.verydarkgreen-background {
  background-color: var(--verydarkgreen);
}
.superdarkgreen-background {
  background-color: var(--superdarkgreen);
  color: white;
}
.superdarkgreen-background a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.superdarkgreen-background a:link {
  color: white;
}
.superdarkgreen-background a:visited {
  color: white;
}
.superdarkgreen-background a:hover {
  border-bottom: 0.075em solid white;
}
.superdarkgreen-background a:visited:hover {
  border-bottom: 0.075em solid white;
}
.superdarkgreen-background a:active {
  color: white;
}
.verylightorange {
  color: var(--verylightorange);
}
.lightorange {
  color: var(--lightorange);
}
.orange {
  color: var(--orange);
}
.darkorange {
  color: var(--darkorange);
}
.verylightorange-background {
  background-color: var(--verylightorange);
}
.lightorange-background {
  background-color: var(--lightorange);
}
.orange-background {
  background-color: var(--orange);
}
.darkorange-background {
  background-color: var(--darkorange);
  color: white;
}
.darkorange-background a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.darkorange-background a:link {
  color: white;
}
.darkorange-background a:visited {
  color: white;
}
.darkorange-background a:hover {
  border-bottom: 0.075em solid white;
}
.darkorange-background a:visited:hover {
  border-bottom: 0.075em solid white;
}
.darkorange-background a:active {
  color: white;
}
.verylightpurple {
  color: var(--verylightpurple);
}
.lightpurple {
  color: var(--lightpurple);
}
.purple {
  color: var(--purple);
}
.darkpurple {
  color: var(--darkpurple);
}
.verydarkpurple {
  color: var(--verydarkpurple);
}
.verylightpurple-background {
  background-color: var(--verylightpurple);
}
.lightpurple-background {
  background-color: var(--lightpurple);
  color: white;
}
.lightpurple-background a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.lightpurple-background a:link {
  color: white;
}
.lightpurple-background a:visited {
  color: white;
}
.lightpurple-background a:hover {
  border-bottom: 0.075em solid white;
}
.lightpurple-background a:visited:hover {
  border-bottom: 0.075em solid white;
}
.lightpurple-background a:active {
  color: white;
}
.purple-background {
  background-color: var(--purple);
  color: white;
}
.purple-background a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.purple-background a:link {
  color: white;
}
.purple-background a:visited {
  color: white;
}
.purple-background a:hover {
  border-bottom: 0.075em solid white;
}
.purple-background a:visited:hover {
  border-bottom: 0.075em solid white;
}
.purple-background a:active {
  color: white;
}
.darkpurple-background {
  background-color: var(--darkpurple);
  color: white;
}
.darkpurple-background a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.darkpurple-background a:link {
  color: white;
}
.darkpurple-background a:visited {
  color: white;
}
.darkpurple-background a:hover {
  border-bottom: 0.075em solid white;
}
.darkpurple-background a:visited:hover {
  border-bottom: 0.075em solid white;
}
.darkpurple-background a:active {
  color: white;
}
.verydarkpurple-background {
  background-color: var(--verydarkpurple);
  color: white;
}
.verydarkpurple-background a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.verydarkpurple-background a:link {
  color: white;
}
.verydarkpurple-background a:visited {
  color: white;
}
.verydarkpurple-background a:hover {
  border-bottom: 0.075em solid white;
}
.verydarkpurple-background a:visited:hover {
  border-bottom: 0.075em solid white;
}
.verydarkpurple-background a:active {
  color: white;
}
.verylightred {
  color: var(--verylightred);
}
.lightred {
  color: var(--lightred);
}
.red {
  color: var(--red);
}
.darkred {
  color: var(--darkred);
}
.verydarkred {
  color: var(--verydarkred);
}
.verylightred-background {
  background-color: var(--verylightred);
}
.lightred-background {
  background-color: var(--lightred);
}
.red-background {
  background-color: var(--red);
  color: white;
}
.red-background a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.red-background a:link {
  color: white;
}
.red-background a:visited {
  color: white;
}
.red-background a:hover {
  border-bottom: 0.075em solid white;
}
.red-background a:visited:hover {
  border-bottom: 0.075em solid white;
}
.red-background a:active {
  color: white;
}
.darkred-background {
  background-color: var(--darkred);
  color: white;
}
.darkred-background a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.darkred-background a:link {
  color: white;
}
.darkred-background a:visited {
  color: white;
}
.darkred-background a:hover {
  border-bottom: 0.075em solid white;
}
.darkred-background a:visited:hover {
  border-bottom: 0.075em solid white;
}
.darkred-background a:active {
  color: white;
}
.verydarkred-background {
  background-color: var(--verydarkred);
  color: white;
}
.verydarkred-background a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.verydarkred-background a:link {
  color: white;
}
.verydarkred-background a:visited {
  color: white;
}
.verydarkred-background a:hover {
  border-bottom: 0.075em solid white;
}
.verydarkred-background a:visited:hover {
  border-bottom: 0.075em solid white;
}
.verydarkred-background a:active {
  color: white;
}
.lightblue-transparent {
  background-color: var(--lightblue-transparent);
}
.verylightblue-transparent {
  background-color: var(--verylightblue-transparent);
}
.abbr {
  font-style: italic;
}
.bulleted {
  list-style: disc outside none;
  margin-left: 1.5em;
}
.bulleted li {
  display: list-item;
}
.button {
  background-color: var(--blue);
  color: white;
  align-items: center;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15), transparent);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-button);
  cursor: pointer;
  padding: 0.25em 0.5em;
  text-align: center;
}
.button a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.button a:link {
  color: white;
}
.button a:visited {
  color: white;
}
.button a:hover {
  border-bottom: 0.075em solid white;
}
.button a:visited:hover {
  border-bottom: 0.075em solid white;
}
.button a:active {
  color: white;
}
.button:active {
  box-shadow: var(--shadow-button-press);
}
.button:hover,
.button:focus {
  background-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.15));
}
.button:disabled {
  background-image: none;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.40;
}
.button-red {
  background-color: var(--blue);
  align-items: center;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15), transparent);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-button);
  cursor: pointer;
  padding: 0.25em 0.5em;
  text-align: center;
  background-color: var(--red);
  color: white;
}
.button-red a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.button-red a:link {
  color: white;
}
.button-red a:visited {
  color: white;
}
.button-red a:hover {
  border-bottom: 0.075em solid white;
}
.button-red a:visited:hover {
  border-bottom: 0.075em solid white;
}
.button-red a:active {
  color: white;
}
.button-red:active {
  box-shadow: var(--shadow-button-press);
}
.button-red:hover,
.button-red:focus {
  background-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.15));
}
.button-red:disabled {
  background-image: none;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.40;
}
.button-red a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.button-red a:link {
  color: white;
}
.button-red a:visited {
  color: white;
}
.button-red a:hover {
  border-bottom: 0.075em solid white;
}
.button-red a:visited:hover {
  border-bottom: 0.075em solid white;
}
.button-red a:active {
  color: white;
}
.cite {
  font-style: italic;
}
.code {
  background-color: #fafafa;
  border: var(--border);
  border-radius: var(--border-radius);
  color: #383a42;
  font-family: 'Fira Mono', 'Consolas', 'Monaco', 'DejaVu Mono', 'Courier New', monospace;
  font-size: 0.75em;
  font-style: normal;
  overflow-x: auto;
  padding: 0.25em 0.5em;
  white-space: pre;
}
.dfn {
  font-style: italic;
}
.em {
  font-style: italic;
}
.field {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
.field:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
.field:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
.field[disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
.fieldset legend {
  font-weight: bold;
}
.h-minor {
  font-size: 1.25em;
}
.h-section {
  font-size: 1.75em;
  font-weight: bold;
  padding-bottom: 0.25em;
  padding-top: 0.5em;
}
.h-subsection {
  font-size: 1.5em;
  padding-bottom: 0.25em;
  padding-top: 0.5em;
}
.h-subsubsection {
  font-size: 1.5em;
  font-style: italic;
}
.hanging {
  margin-left: 1em;
  text-indent: -1em;
}
.input[type=button] {
  background-color: var(--blue);
  color: white;
  align-items: center;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15), transparent);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-button);
  cursor: pointer;
  padding: 0.25em 0.5em;
  text-align: center;
}
.input[type=button] a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.input[type=button] a:link {
  color: white;
}
.input[type=button] a:visited {
  color: white;
}
.input[type=button] a:hover {
  border-bottom: 0.075em solid white;
}
.input[type=button] a:visited:hover {
  border-bottom: 0.075em solid white;
}
.input[type=button] a:active {
  color: white;
}
.input[type=button]:active {
  box-shadow: var(--shadow-button-press);
}
.input[type=button]:hover,
.input[type=button]:focus {
  background-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.15));
}
.input[type=button]:disabled {
  background-image: none;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.40;
}
.input[type=color] {
  display: block;
}
.input[type=date] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
.input[type=date]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
.input[type=date]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
.input[type=date][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
.input[type=datetime] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
.input[type=datetime]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
.input[type=datetime]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
.input[type=datetime][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
.input[type=datetime-local] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
.input[type=datetime-local]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
.input[type=datetime-local]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
.input[type=datetime-local][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
.input[type=email] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
.input[type=email]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
.input[type=email]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
.input[type=email][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
.input[type=month] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
.input[type=month]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
.input[type=month]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
.input[type=month][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
.input[type=number] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
.input[type=number]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
.input[type=number]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
.input[type=number][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
.input[type=password] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
.input[type=password]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
.input[type=password]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
.input[type=password][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
.input[type=reset] {
  background-color: var(--blue);
  align-items: center;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15), transparent);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-button);
  cursor: pointer;
  padding: 0.25em 0.5em;
  text-align: center;
  background-color: var(--superdarkgreen);
  color: white;
}
.input[type=reset] a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.input[type=reset] a:link {
  color: white;
}
.input[type=reset] a:visited {
  color: white;
}
.input[type=reset] a:hover {
  border-bottom: 0.075em solid white;
}
.input[type=reset] a:visited:hover {
  border-bottom: 0.075em solid white;
}
.input[type=reset] a:active {
  color: white;
}
.input[type=reset]:active {
  box-shadow: var(--shadow-button-press);
}
.input[type=reset]:hover,
.input[type=reset]:focus {
  background-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.15));
}
.input[type=reset]:disabled {
  background-image: none;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.40;
}
.input[type=reset] a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.input[type=reset] a:link {
  color: white;
}
.input[type=reset] a:visited {
  color: white;
}
.input[type=reset] a:hover {
  border-bottom: 0.075em solid white;
}
.input[type=reset] a:visited:hover {
  border-bottom: 0.075em solid white;
}
.input[type=reset] a:active {
  color: white;
}
.input[type=search] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
.input[type=search]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
.input[type=search]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
.input[type=search][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
.input[type=submit] {
  background-color: var(--blue);
  color: white;
  align-items: center;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15), transparent);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-button);
  cursor: pointer;
  padding: 0.25em 0.5em;
  text-align: center;
}
.input[type=submit] a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.input[type=submit] a:link {
  color: white;
}
.input[type=submit] a:visited {
  color: white;
}
.input[type=submit] a:hover {
  border-bottom: 0.075em solid white;
}
.input[type=submit] a:visited:hover {
  border-bottom: 0.075em solid white;
}
.input[type=submit] a:active {
  color: white;
}
.input[type=submit]:active {
  box-shadow: var(--shadow-button-press);
}
.input[type=submit]:hover,
.input[type=submit]:focus {
  background-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.15));
}
.input[type=submit]:disabled {
  background-image: none;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.40;
}
.input[type=tel] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
.input[type=tel]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
.input[type=tel]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
.input[type=tel][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
.input[type=text] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
  display: flex;
}
.input[type=text]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
.input[type=text]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
.input[type=text][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
.input[type=time] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
.input[type=time]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
.input[type=time]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
.input[type=time][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
.input[type=url] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
.input[type=url]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
.input[type=url]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
.input[type=url][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
.input[type=week] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
.input[type=week]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
.input[type=week]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
.input[type=week][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
.italic {
  font-style: italic;
}
.kbd {
  background-color: #F7F7F7;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  border: 0.035em solid #BBB;
  border-radius: var(--border-radius);
  color: #444;
  padding: 0.25em 0.5em;
  text-align: center;
  text-shadow: 0em 0.075em 0em #FFF;
  box-shadow: 0em 0.15em 0em #BBB, 0em 0.225em 0.075em #999, 0em 0.225em 0em #BBB, inset 0em 0.075em 0.075em #FFF, inset 0em -0.075em 0.225em #CCC;
}
.label {
  align-items: center;
  flex-direction: row;
}
.label span {
  font-size: smaller;
  font-weight: bold;
}
.link {
  color: var(--blue);
  border-bottom: 0.075em solid transparent;
}
.link:link {
  color: var(--blue);
}
.link:visited {
  color: var(--purple);
}
.link:hover {
  border-bottom: 0.075em solid var(--blue);
}
.link:active {
  color: var(--blue);
}
.link:visited:hover {
  border-bottom: 0.075em solid var(--purple);
}
.link:visited:active {
  color: var(--purple);
}
.link-white {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.link-white:link {
  color: white;
}
.link-white:visited {
  color: white;
}
.link-white:hover {
  border-bottom: 0.075em solid white;
}
.link-white:visited:hover {
  border-bottom: 0.075em solid white;
}
.link-white:active {
  color: white;
}
.nav ul {
  background-color: var(--blue);
  color: white;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.25rem;
  justify-content: space-around;
}
.nav ul a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
.nav ul a:link {
  color: white;
}
.nav ul a:visited {
  color: white;
}
.nav ul a:hover {
  border-bottom: 0.075em solid white;
}
.nav ul a:visited:hover {
  border-bottom: 0.075em solid white;
}
.nav ul a:active {
  color: white;
}
.nav ul li {
  padding: 0.5em;
}
.nav ul a {
  text-align: center;
}
.numbered {
  counter-reset: numbered;
  list-style: none;
}
.numbered li {
  counter-increment: numbered;
  display: list-item;
  margin-left: 2.5rem;
  position: relative;
}
.numbered li::before {
  content: counter(numbered) '.';
  font-weight: bold;
  margin-left: -2.5rem;
  padding: 0rem 0.5em;
  position: absolute;
}
.orthographic {
  font-family: 'Gentium Plus', 'Charis SIL', 'Doulos SIL', 'Cambria', 'Andika', 'Lucida Sans Unicode', 'Times New Roman', 'Georgia', serif;
  font-size: 1.15em;
  line-height: 1;
}
.orthographic::before {
  content: '<';
  padding-right: 0.15em;
}
.orthographic::after {
  content: '>';
  padding-left: 0.15em;
}
.page-title {
  align-self: center;
  font-size: 2.5em;
  text-align: center;
}
.phonemic {
  font-family: 'Gentium Plus', 'Charis SIL', 'Doulos SIL', 'Cambria', 'Andika', 'Lucida Sans Unicode', 'Times New Roman', 'Georgia', serif;
  font-size: 1.15em;
  line-height: 1;
}
.phonemic::before {
  content: '/';
  padding-right: 0.15em;
}
.phonemic::after {
  content: '/';
  padding-left: 0.15em;
}
.phonetic {
  font-family: 'Gentium Plus', 'Charis SIL', 'Doulos SIL', 'Cambria', 'Andika', 'Lucida Sans Unicode', 'Times New Roman', 'Georgia', serif;
  font-size: 1.15em;
  line-height: 1;
}
.phonetic::before {
  content: '[';
  padding-right: 0.15em;
}
.phonetic::after {
  content: ']';
  padding-left: 0.15em;
}
.reference-list a {
  color: var(--blue);
  border-bottom: 0.075em solid transparent;
}
.reference-list a:link {
  color: var(--blue);
}
.reference-list a:visited {
  color: var(--purple);
}
.reference-list a:hover {
  border-bottom: 0.075em solid var(--blue);
}
.reference-list a:active {
  color: var(--blue);
}
.reference-list a:visited:hover {
  border-bottom: 0.075em solid var(--purple);
}
.reference-list a:visited:active {
  color: var(--purple);
}
.reference-list h1 {
  font-size: 1.75em;
  font-weight: bold;
  padding-bottom: 0.25em;
  padding-top: 0.5em;
}
.reference-list ol,
.reference-list ul {
  list-style: disc outside none;
  padding: 0.5em 0em;
  padding-left: 1.5em;
}
.reference-list li {
  display: list-item;
  padding: 0.25em 0em;
}
.reference-list li p {
  display: block;
  margin-left: 1.5em;
  text-indent: -1.5em;
}
.select {
  border: var(--border);
  border-radius: 0.25em;
  padding: 0.25em;
}
.strong {
  color: var(--verydarkblue);
  font-weight: bold;
}
.summary {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: -1em;
}
.textarea {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
.textarea:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
.textarea:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
.textarea[disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
.tooltip {
  position: relative;
}
.tooltip::after {
  background-color: var(--verydarkgreen);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  content: attr(title);
  font-size: smaller;
  left: 0.5em;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 115%;
  transition: all 0.3s ease;
  width: 25em;
  z-index: -2;
}
.tooltip:hover::after,
.tooltip:focus::after {
  opacity: 1;
  padding: 0.5em 1em;
  z-index: 2;
}
.unicode {
  font-family: 'Gentium Plus', 'Charis SIL', 'Doulos SIL', 'Cambria', 'Andika', 'Lucida Sans Unicode', 'Times New Roman', 'Georgia', serif;
  font-size: 1.15em;
  line-height: 1;
}
* {
  box-sizing: border-box;
}
blockquote > a,
button > a,
caption > a,
dd > a,
dt > a,
figcaption > a,
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a,
input > a,
legend > a,
option > a,
output > a,
p > a,
pre > a,
select > a,
summary > a,
textarea > a,
abbr > a,
acronym > a,
b > a,
bdo > a,
big > a,
br > a,
cite > a,
code > a,
del > a,
dfn > a,
em > a,
i > a,
ins > a,
kbd > a,
mark > a,
q > a,
samp > a,
s > a,
small > a,
span > a,
strike > a,
strong > a,
sub > a,
sup > a,
time > a,
tt > a,
var > a {
  color: var(--blue);
  border-bottom: 0.075em solid transparent;
}
blockquote > a:link,
button > a:link,
caption > a:link,
dd > a:link,
dt > a:link,
figcaption > a:link,
h1 > a:link,
h2 > a:link,
h3 > a:link,
h4 > a:link,
h5 > a:link,
h6 > a:link,
input > a:link,
legend > a:link,
option > a:link,
output > a:link,
p > a:link,
pre > a:link,
select > a:link,
summary > a:link,
textarea > a:link,
abbr > a:link,
acronym > a:link,
b > a:link,
bdo > a:link,
big > a:link,
br > a:link,
cite > a:link,
code > a:link,
del > a:link,
dfn > a:link,
em > a:link,
i > a:link,
ins > a:link,
kbd > a:link,
mark > a:link,
q > a:link,
samp > a:link,
s > a:link,
small > a:link,
span > a:link,
strike > a:link,
strong > a:link,
sub > a:link,
sup > a:link,
time > a:link,
tt > a:link,
var > a:link {
  color: var(--blue);
}
blockquote > a:visited,
button > a:visited,
caption > a:visited,
dd > a:visited,
dt > a:visited,
figcaption > a:visited,
h1 > a:visited,
h2 > a:visited,
h3 > a:visited,
h4 > a:visited,
h5 > a:visited,
h6 > a:visited,
input > a:visited,
legend > a:visited,
option > a:visited,
output > a:visited,
p > a:visited,
pre > a:visited,
select > a:visited,
summary > a:visited,
textarea > a:visited,
abbr > a:visited,
acronym > a:visited,
b > a:visited,
bdo > a:visited,
big > a:visited,
br > a:visited,
cite > a:visited,
code > a:visited,
del > a:visited,
dfn > a:visited,
em > a:visited,
i > a:visited,
ins > a:visited,
kbd > a:visited,
mark > a:visited,
q > a:visited,
samp > a:visited,
s > a:visited,
small > a:visited,
span > a:visited,
strike > a:visited,
strong > a:visited,
sub > a:visited,
sup > a:visited,
time > a:visited,
tt > a:visited,
var > a:visited {
  color: var(--purple);
}
blockquote > a:hover,
button > a:hover,
caption > a:hover,
dd > a:hover,
dt > a:hover,
figcaption > a:hover,
h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover,
input > a:hover,
legend > a:hover,
option > a:hover,
output > a:hover,
p > a:hover,
pre > a:hover,
select > a:hover,
summary > a:hover,
textarea > a:hover,
abbr > a:hover,
acronym > a:hover,
b > a:hover,
bdo > a:hover,
big > a:hover,
br > a:hover,
cite > a:hover,
code > a:hover,
del > a:hover,
dfn > a:hover,
em > a:hover,
i > a:hover,
ins > a:hover,
kbd > a:hover,
mark > a:hover,
q > a:hover,
samp > a:hover,
s > a:hover,
small > a:hover,
span > a:hover,
strike > a:hover,
strong > a:hover,
sub > a:hover,
sup > a:hover,
time > a:hover,
tt > a:hover,
var > a:hover {
  border-bottom: 0.075em solid var(--blue);
}
blockquote > a:active,
button > a:active,
caption > a:active,
dd > a:active,
dt > a:active,
figcaption > a:active,
h1 > a:active,
h2 > a:active,
h3 > a:active,
h4 > a:active,
h5 > a:active,
h6 > a:active,
input > a:active,
legend > a:active,
option > a:active,
output > a:active,
p > a:active,
pre > a:active,
select > a:active,
summary > a:active,
textarea > a:active,
abbr > a:active,
acronym > a:active,
b > a:active,
bdo > a:active,
big > a:active,
br > a:active,
cite > a:active,
code > a:active,
del > a:active,
dfn > a:active,
em > a:active,
i > a:active,
ins > a:active,
kbd > a:active,
mark > a:active,
q > a:active,
samp > a:active,
s > a:active,
small > a:active,
span > a:active,
strike > a:active,
strong > a:active,
sub > a:active,
sup > a:active,
time > a:active,
tt > a:active,
var > a:active {
  color: var(--blue);
}
blockquote > a:visited:hover,
button > a:visited:hover,
caption > a:visited:hover,
dd > a:visited:hover,
dt > a:visited:hover,
figcaption > a:visited:hover,
h1 > a:visited:hover,
h2 > a:visited:hover,
h3 > a:visited:hover,
h4 > a:visited:hover,
h5 > a:visited:hover,
h6 > a:visited:hover,
input > a:visited:hover,
legend > a:visited:hover,
option > a:visited:hover,
output > a:visited:hover,
p > a:visited:hover,
pre > a:visited:hover,
select > a:visited:hover,
summary > a:visited:hover,
textarea > a:visited:hover,
abbr > a:visited:hover,
acronym > a:visited:hover,
b > a:visited:hover,
bdo > a:visited:hover,
big > a:visited:hover,
br > a:visited:hover,
cite > a:visited:hover,
code > a:visited:hover,
del > a:visited:hover,
dfn > a:visited:hover,
em > a:visited:hover,
i > a:visited:hover,
ins > a:visited:hover,
kbd > a:visited:hover,
mark > a:visited:hover,
q > a:visited:hover,
samp > a:visited:hover,
s > a:visited:hover,
small > a:visited:hover,
span > a:visited:hover,
strike > a:visited:hover,
strong > a:visited:hover,
sub > a:visited:hover,
sup > a:visited:hover,
time > a:visited:hover,
tt > a:visited:hover,
var > a:visited:hover {
  border-bottom: 0.075em solid var(--purple);
}
blockquote > a:visited:active,
button > a:visited:active,
caption > a:visited:active,
dd > a:visited:active,
dt > a:visited:active,
figcaption > a:visited:active,
h1 > a:visited:active,
h2 > a:visited:active,
h3 > a:visited:active,
h4 > a:visited:active,
h5 > a:visited:active,
h6 > a:visited:active,
input > a:visited:active,
legend > a:visited:active,
option > a:visited:active,
output > a:visited:active,
p > a:visited:active,
pre > a:visited:active,
select > a:visited:active,
summary > a:visited:active,
textarea > a:visited:active,
abbr > a:visited:active,
acronym > a:visited:active,
b > a:visited:active,
bdo > a:visited:active,
big > a:visited:active,
br > a:visited:active,
cite > a:visited:active,
code > a:visited:active,
del > a:visited:active,
dfn > a:visited:active,
em > a:visited:active,
i > a:visited:active,
ins > a:visited:active,
kbd > a:visited:active,
mark > a:visited:active,
q > a:visited:active,
samp > a:visited:active,
s > a:visited:active,
small > a:visited:active,
span > a:visited:active,
strike > a:visited:active,
strong > a:visited:active,
sub > a:visited:active,
sup > a:visited:active,
time > a:visited:active,
tt > a:visited:active,
var > a:visited:active {
  color: var(--purple);
}
abbr {
  font-style: italic;
}
body {
  box-sizing: border-box;
  font-family: 'Fira Sans', 'Calibri', 'DejaVu Sans', 'Verdana', 'Arial', 'Helvetica', sans-serif;
  line-height: 1.5;
}
button {
  background-color: var(--blue);
  color: white;
  align-items: center;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15), transparent);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-button);
  cursor: pointer;
  padding: 0.25em 0.5em;
  text-align: center;
}
button a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
button a:link {
  color: white;
}
button a:visited {
  color: white;
}
button a:hover {
  border-bottom: 0.075em solid white;
}
button a:visited:hover {
  border-bottom: 0.075em solid white;
}
button a:active {
  color: white;
}
button:active {
  box-shadow: var(--shadow-button-press);
}
button:hover,
button:focus {
  background-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.15));
}
button:disabled {
  background-image: none;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.40;
}
cite {
  font-style: italic;
}
code {
  background-color: #fafafa;
  border: var(--border);
  border-radius: var(--border-radius);
  color: #383a42;
  font-family: 'Fira Mono', 'Consolas', 'Monaco', 'DejaVu Mono', 'Courier New', monospace;
  font-size: 0.75em;
  font-style: normal;
  overflow-x: auto;
  padding: 0.25em 0.5em;
  white-space: pre;
}
dfn {
  font-style: italic;
}
em {
  font-style: italic;
}
fieldset legend {
  font-weight: bold;
}
input[type=button] {
  background-color: var(--blue);
  color: white;
  align-items: center;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15), transparent);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-button);
  cursor: pointer;
  padding: 0.25em 0.5em;
  text-align: center;
}
input[type=button] a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
input[type=button] a:link {
  color: white;
}
input[type=button] a:visited {
  color: white;
}
input[type=button] a:hover {
  border-bottom: 0.075em solid white;
}
input[type=button] a:visited:hover {
  border-bottom: 0.075em solid white;
}
input[type=button] a:active {
  color: white;
}
input[type=button]:active {
  box-shadow: var(--shadow-button-press);
}
input[type=button]:hover,
input[type=button]:focus {
  background-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.15));
}
input[type=button]:disabled {
  background-image: none;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.40;
}
input[type=color] {
  display: block;
}
input[type=date] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
input[type=date]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
input[type=date]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
input[type=date][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
input[type=datetime] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
input[type=datetime]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
input[type=datetime]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
input[type=datetime][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
input[type=datetime-local] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
input[type=datetime-local]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
input[type=datetime-local]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
input[type=datetime-local][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
input[type=email] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
input[type=email]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
input[type=email]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
input[type=email][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
input[type=month] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
input[type=month]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
input[type=month]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
input[type=month][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
input[type=number] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
input[type=number]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
input[type=number]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
input[type=number][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
input[type=password] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
input[type=password]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
input[type=password]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
input[type=password][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
input[type=reset] {
  background-color: var(--blue);
  align-items: center;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15), transparent);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-button);
  cursor: pointer;
  padding: 0.25em 0.5em;
  text-align: center;
  background-color: var(--superdarkgreen);
  color: white;
}
input[type=reset] a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
input[type=reset] a:link {
  color: white;
}
input[type=reset] a:visited {
  color: white;
}
input[type=reset] a:hover {
  border-bottom: 0.075em solid white;
}
input[type=reset] a:visited:hover {
  border-bottom: 0.075em solid white;
}
input[type=reset] a:active {
  color: white;
}
input[type=reset]:active {
  box-shadow: var(--shadow-button-press);
}
input[type=reset]:hover,
input[type=reset]:focus {
  background-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.15));
}
input[type=reset]:disabled {
  background-image: none;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.40;
}
input[type=reset] a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
input[type=reset] a:link {
  color: white;
}
input[type=reset] a:visited {
  color: white;
}
input[type=reset] a:hover {
  border-bottom: 0.075em solid white;
}
input[type=reset] a:visited:hover {
  border-bottom: 0.075em solid white;
}
input[type=reset] a:active {
  color: white;
}
input[type=search] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
input[type=search]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
input[type=search]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
input[type=search][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
input[type=submit] {
  background-color: var(--blue);
  color: white;
  align-items: center;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15), transparent);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-button);
  cursor: pointer;
  padding: 0.25em 0.5em;
  text-align: center;
}
input[type=submit] a {
  border-bottom: 0.075em solid transparent;
  color: white;
}
input[type=submit] a:link {
  color: white;
}
input[type=submit] a:visited {
  color: white;
}
input[type=submit] a:hover {
  border-bottom: 0.075em solid white;
}
input[type=submit] a:visited:hover {
  border-bottom: 0.075em solid white;
}
input[type=submit] a:active {
  color: white;
}
input[type=submit]:active {
  box-shadow: var(--shadow-button-press);
}
input[type=submit]:hover,
input[type=submit]:focus {
  background-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.15));
}
input[type=submit]:disabled {
  background-image: none;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.40;
}
input[type=tel] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
input[type=tel]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
input[type=tel]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
input[type=tel][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
input[type=text] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
  display: flex;
}
input[type=text]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
input[type=text]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
input[type=text][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
input[type=time] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
input[type=time]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
input[type=time]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
input[type=time][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
input[type=url] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
input[type=url]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
input[type=url]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
input[type=url][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
input[type=week] {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
input[type=week]:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
input[type=week]:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
input[type=week][disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
i {
  font-style: italic;
}
label {
  align-items: center;
  flex-direction: row;
}
label span {
  font-size: smaller;
  font-weight: bold;
}
select {
  border: var(--border);
  border-radius: 0.25em;
  padding: 0.25em;
}
strong {
  color: var(--verydarkblue);
  font-weight: bold;
}
textarea {
  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;
}
textarea:focus {
  border-color: var(--blue);
  box-shadow: var(--shadow-inset-blue);
}
textarea:focus:invalid {
  border-color: var(--darkred);
  box-shadow: var(--shadow-inset-red);
  color: var(--red);
}
textarea[disabled] {
  background-color: #eaeded;
  color: #cad2d3;
  cursor: not-allowed;
}
blockquote > .tooltip,
button > .tooltip,
caption > .tooltip,
dd > .tooltip,
dt > .tooltip,
figcaption > .tooltip,
h1 > .tooltip,
h2 > .tooltip,
h3 > .tooltip,
h4 > .tooltip,
h5 > .tooltip,
h6 > .tooltip,
input > .tooltip,
legend > .tooltip,
option > .tooltip,
output > .tooltip,
p > .tooltip,
pre > .tooltip,
select > .tooltip,
summary > .tooltip,
textarea > .tooltip,
abbr > .tooltip,
acronym > .tooltip,
b > .tooltip,
bdo > .tooltip,
big > .tooltip,
br > .tooltip,
cite > .tooltip,
code > .tooltip,
del > .tooltip,
dfn > .tooltip,
em > .tooltip,
i > .tooltip,
ins > .tooltip,
kbd > .tooltip,
mark > .tooltip,
q > .tooltip,
samp > .tooltip,
s > .tooltip,
small > .tooltip,
span > .tooltip,
strike > .tooltip,
strong > .tooltip,
sub > .tooltip,
sup > .tooltip,
time > .tooltip,
tt > .tooltip,
var > .tooltip {
  text-decoration: underline dotted var(--verydarkgreen);
}
body {
  align-items: center;
  line-height: 1.5;
  padding: 2rem;
}
body > label {
  align-items: flex-start;
  flex-direction: column;
  margin: 1em;
  position: fixed;
  right: 0;
  top: 0;
}
body > section {
  max-width: 100%;
}
.color {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25em 0em;
}
.color span {
  align-items: flex-start;
  display: flex;
}
#colors {
  align-items: center;
}
#colors > section {
  min-width: 30em;
  padding: 0.5em 1em;
}
#icons ul {
  margin-top: 1rem;
}
#icons li {
  align-items: center;
  flex-direction: row;
}
#icons img {
  margin: 0.5rem;
  width: 3rem;
}
#icons img.favicon {
  height: 1rem;
  margin: 1.5rem;
  width: 1rem;
}
#icons img[src="img/x-circle.svg"] {
  height: 1.5rem;
}
.markup,
.rendered {
  margin: 0.5em 1em;
  padding: 1em;
}
.rendered {
  align-items: flex-start;
  border: var(--border);
  border-radius: var(--border-radius);
}
.page-title {
  align-self: center;
}
.pattern > div {
  margin-bottom: 1em;
}
.pattern-description {
  padding: 0.5em 0em;
}
#patterns > section {
  padding: 0.5em 1em;
}
#patterns > section .pattern-title.subsection-header {
  border-bottom: var(--border);
  margin-bottom: 0.25em;
  padding-bottom: 0.5em;
}
.swatch {
  border: none;
  cursor: pointer;
  padding: 0.5em 1em;
}
#typography p {
  padding: 0.5em 1em;
}
.button-example button,
.button-example input[type=button] {
  margin: 0.5em;
}
.field-example input {
  margin: 0.5em;
  width: 80%;
}
.nav-example .rendered {
  align-items: stretch;
}
.link-white-example .rendered p {
  background-color: var(--blue);
  padding: 0.5em;
}
