// Fieldset
//
// Used for grouping inputs together under a heading (<code>&lt;legend&gt;</code>). Remember that flexbox does not work well with <code>&lt;fieldset&gt;</code>, so you may need to wrap the items inside <code>&lt;fieldset&gt;</code> in a <code>&lt;div&gt;</code>.
//
// Markup: fieldset.hbs
//
// Styleguide Components.Forms.fieldset
.fieldset {

  border:        var(--border);
  border-color:  var(--gray);
  border-radius: var(--border-radius);
  display:       flex;
  padding:       0.5em;

  legend {
    font-size:     smaller;
    font-weight:   var(--bold);
    overflow-wrap: break-word;
    word-wrap:     break-word; // NOTE: This is an alias for overflow-wrap that some browsers use
  }

  > p {
    color:     var(--placeholder-color);
    font-size: smaller;
    padding:   var(--padding-text);
  }

}
