<fieldset class=fieldset>

  <legend>Colors</legend>

  <label>
    <span>Blue</span>
    <input type=radio name=color>
  </label>

  <label>
    <span>Green</span>
    <input type=radio name=color>
  </label>

  <label>
    <span>Yellow</span>
    <input type=radio name=color>
  </label>

</fieldset>
