// Select
//
// Default styling for `<select>` elements.
//
// Markup: select.hbs
//
// Styleguide Components.Forms.select
.select {

  border:         var(--border);
  --border-color: var(--gray);
  border-radius:  var(--border-radius);
  box-shadow:     var(--shadow-button);
  padding:        0.25em;

  &:focus { outline: none; }

}
