@import 'components/interlinear/interlinear.less';

// Article
//
// A linguistics paper or article.
//
// Markup: article.hbs
//
// Styleguide Components.article
.ling-article {

  --example-indent: 2.5em;
  counter-reset:    examples;
  font-family:      var(--font-unicode);

  .examples {

    list-style:   none;
    padding-top:  var(--text-base-size);
    padding-left: var(--example-indent);

    .igl {
      counter-increment: examples;
      margin-bottom:     var(--text-base-size);
    }

    .igl::before {
      content:     '(' counter(examples) ')';
      // stylelint-disable-next-line function-calc-no-invalid
      margin-left: calc(var(--example-indent) * -1);
      position:    absolute;
    }

  }

  .header {
    align-items: center;
    display:     flex;
    flex-flow:   column nowrap;
    text-align:  center;
  }

  .section-header {
    font-size:   var(--text-lg);
    font-weight: bold;
  }

  .title {
    font-size: var(--text-xl);
  }

}
