// Heading 2: Section Header
//
// For major section headers. Also aliased as `.section-header`.
//
// Markup: section-header.hbs
//
// Styleguide Components.Headings.h2
.h2 {
  font-size:      1.75em;
  font-weight:    var(--bold);
  padding-bottom: 0.25em;
  padding-top:    0.5em;
}

.section-header { .h2; }
