@import 'components/transcription/transcription.less';

// Phonemic
//
// Used for phonemic representations of data.
//
// Markup: phonemic.hbs
//
// Styleguide Components.phonemic
.phonemic {

  .transcription;

  &::before {
    content:       '/';
    padding-right: var(--transcription-padding);
  }

  &::after  {
    content:       '/';
    padding-left: var(--transcription-padding);
  }

}
