.phon,
.phonemic {
  --txn-padding: 0.15em;
  font-family: var(--font-unicode-serif);
}
.phon b,
.phonemic b,
.phon em,
.phonemic em,
.phon .em,
.phonemic .em,
.phon .emphasis,
.phonemic .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.phon::before,
.phonemic::before {
  content: '/';
  padding-right: var(--txn-padding);
}
.phon::after,
.phonemic::after {
  content: '/';
  padding-left: var(--txn-padding);
}
