<!DOCTYPE html>
<html lang=en>

  <head>

    <meta charset=utf-8>
    <title>DLx Pattern Library</title>
    <meta name=author content='Daniel W. Hieber'>
    <meta name=description content='The Digital Linguistics (DLx) pattern library'>
    <meta name=keywords content='digital linguistics, dlx, linguistics, language, documentation, description, revitalization'>
    <meta name=viewport content='width=device-width, initial-scale=1'>

    <link href=img/wugbot.ico rel='shortcut icon' type=image/x-icon>

    <link rel=stylesheet href=css/patterns.css>
    <link rel=stylesheet href=css/atom-one-light.css>

  </head>

  <body>

    <label>

      <span>Jump to …</span>

      <select id=nav>
        <option value=variables>Variables</option>
        <option value=colors>Colors</option>
        <option value=typography>Typography</option>
        <option value=icons>Icons</option>
        <option value=patterns>Patterns</option>
        {{#each patterns}}<option value={{@key}}-pattern>{{@key}}</option>{{/each}}
      </select>

    </label>

    <h1 class=page-title>DLx Pattern Library</h1>

    <p>See the <a href=https://github.com/digitallinguistics/styles#readme>GitHub repository</a> for instructions on how to use DLx styles in your code.</p>

    <nav>
      <h2 class=h-section>Contents</h2>
      <ul class=bulleted>
        <li><a class=link href=#variables>Variables</a></li>
        <li><a class=link href=#typography>Typography</a></li>
        <li><a class=link href=#colors>Colors</a></li>
        <li><a class=link href=#patterns>Patterns</a></li>
      </ul>
    </nav>

    {{> variables}}

    {{> typography}}

    {{> colors}}

    {{> icons}}

    {{> patterns}}

    <script src=js/patterns.js></script>
    <script src=js/highlight.js></script>

    <script>
      hljs.initHighlightingOnLoad();
    </script>

  </body>

</html>
