// Linguistics Document
//
// A linguistics paper, article, or chapter.
//
// Markup: document.hbs
//
// Styleguide Components.document
.ling-document {

  counter-reset: examples;
  font-family:   var(--font-unicode);

  // Captions
  //
  // Captions for figures and tables.
  //
  // Styleguide Components.document.caption
  .caption {
    padding: 0.25em 0.5em;
  }

  // Document Header
  //
  // The header of the document (e.g. chapter or article title and author information)
  //
  // Styleguide Components.document.header
  .header {
    align-items: center;
    display:     flex;
    flex-flow:   column nowrap;
    text-align:  center;
  }

  // Section Header
  //
  // A section (or subsection) header
  //
  // Styleguide Components.document.section-header
  .section-header {
    font-size:   var(--text-lg);
    font-weight: bold;
  }

  // Document Title
  //
  // The title of the document
  //
  // Styleguide Components.document.title
  .title {
    font-size: var(--text-xl);
  }

}
