<style>
.ling-doc {
  .author {
    display: block;
  }
  & header {
    text-align: center;
  }
  h1 {
    font-size: xxx-large;
  }
  h2 {
    font-size: xx-large;
  }
  h3 {
    font-size: x-large;
  }
  h4 {
    font-size: large;
  }
  h5 {
    font-size: medium;
  }
  h6 {
    font-size: small;
  }
}
</style>

<article class=ling-doc>
  <header>
    <h1>Semantic alignment in Chitimacha</h1>
    <div class=author>
      <p>Daniel W. Hieber</p>
      <p>University of California, Santa Barbara</p>
    </div>
  </header>
  <!-- TODO -->
  <!--
    - numbered examples (non-interlinear)
    - numbered figures
    - numbered sections
    - numbered tables
    - table captions
    - figure captions
    - paragraph spacing
    - abbreviation (partial)
    - cite (partial)
    - definition (partial)
    - inline example (partial)
  -->
</article>