// Message
//
// A message component. This class applies styles to all message components, regardless of type. These styles are inherited by warning messages and blockquotes, for example.
//
// Styleguide Components.message
.message {

  // --message-background-lightness
  //
  // The HSL lightness to use for message backgrounds
  //
  // Styleguide Variables.message-background-lightness
  --message-background-lightness: 95%;

  // --message-border-lightness
  //
  // The HSL lightness to use for message borders
  //
  // Styleguide Variables.message-border-lightness
  --message-border-lightness: 85%;

  // --message-border-saturation
  //
  // The HSL saturation to use for message borders
  //
  // Styleguide Variables.message-border-saturation
  --message-border-saturation: 35%;

  // --message-text-lightness
  //
  // The HSL lightness to use for text in messages
  //
  // Styleguide Variables.message-text-lightness
  --message-text-lightness: 20%;

  // --padding-message
  //
  // Padding to use in message boxes (block quotes, warnings, etc.)
  //
  // Styleguide Variables.padding-message
  --message-padding: 1em 1.5em;

}
