/*
This file contains DLx styles that need to be explicitly specified using classes
 */

@import (reference) 'https://digitallinguistics.blob.core.windows.net/less/colors.less';

:root {
  --border: 0.075em solid black;
  --border-gray: 0.075em solid var(--gray);
  --border-radius: 0.35em;
  --shadow: 0.075em 0.075em 0.15em var(--gray);
  --shadow-button: inset -0.075em -0.075em 0.15em 0em rgba(0,0,0,0.15), ;
  --shadow-button-press: 0 0 0 0.075em rgba(0,0,0,0.15) inset, 0 0 0.5em rgba(0,0,0,0.2) inset;
  --shadow-inset: inset 0.075em 0.075em 0.15em var(--gray);
  --shadow-inset-blue: inset 0.075em 0.075em 0.15em var(--blue);
  --shadow-inset-red: inset 0.075em 0.075em 0.15em var(--darkred);
}

// COLOR CLASSES
.wugblue                    { color:            var(--wugblue); }
.wugblue-background         { background-color: var(--wugblue); }

.verydarkblue               { color:            var(--verydarkblue); }
.darkblue                   { color:            var(--darkblue); }
.blue                       { color:            var(--blue); }
.lightblue                  { color:            var(--lightblue); }
.verylightblue              { color:            var(--verylightblue); }

.verydarkblue-background {
  background-color: var(--verydarkblue);
  color: white;
  a { .link-white; }
}

.darkblue-background {
  background-color: var(--darkblue);
  color: white;
  a { .link-white; }
}

.blue-background {
  background-color: var(--blue);
  color: white;
  a { .link-white; }
}

.lightblue-background       { background-color: var(--lightblue); }
.verylightblue-background   { background-color: var(--verylightblue); }

.gray                       { color:            var(--gray); }
.gray-background            { background-color: var(--gray); }

.verylightgreen             { color:            var(--verylightgreen); }
.lightgreen                 { color:            var(--lightgreen); }
.green                      { color:            var(--green); }
.darkgreen                  { color:            var(--darkgreen); }
.verydarkgreen              { color:            var(--verydarkgreen); }
.superdarkgreen             { color:            var(--superdarkgreen); }

.verylightgreen-background  { background-color: var(--verylightgreen); }
.lightgreen-background      { background-color: var(--lightgreen); }
.green-background           { background-color: var(--green); }
.darkgreen-background       { background-color: var(--darkgreen); }
.verydarkgreen-background   { background-color: var(--verydarkgreen); }

.superdarkgreen-background {
  background-color: var(--superdarkgreen);
  color: white;
  a { .link-white; }
}

.verylightorange            { color:            var(--verylightorange); }
.lightorange                { color:            var(--lightorange); }
.orange                     { color:            var(--orange); }
.darkorange                 { color:            var(--darkorange); }

.verylightorange-background { background-color: var(--verylightorange); }
.lightorange-background     { background-color: var(--lightorange); }
.orange-background          { background-color: var(--orange); }

.darkorange-background {
  background-color: var(--darkorange);
  color: white;
  a { .link-white; }
}

.verylightpurple            { color:            var(--verylightpurple); }
.lightpurple                { color:            var(--lightpurple); }
.purple                     { color:            var(--purple); }
.darkpurple                 { color:            var(--darkpurple); }
.verydarkpurple             { color:            var(--verydarkpurple); }

.verylightpurple-background { background-color: var(--verylightpurple); }

.lightpurple-background {
  background-color: var(--lightpurple);
  color: white;
  a { .link-white; }
}

.purple-background {
  background-color: var(--purple);
  color: white;
  a { .link-white; }
}

.darkpurple-background {
  background-color: var(--darkpurple);
  color: white;
  a { .link-white; }
}

.verydarkpurple-background {
  background-color: var(--verydarkpurple);
  color: white;
  a { .link-white; }
}

.verylightred               { color:            var(--verylightred); }
.lightred                   { color:            var(--lightred); }
.red                        { color:            var(--red); }
.darkred                    { color:            var(--darkred); }
.verydarkred                { color:            var(--verydarkred); }

.verylightred-background    { background-color: var(--verylightred); }
.lightred-background        { background-color: var(--lightred); }

.red-background {
  background-color: var(--red);
  color: white;
  a { .link-white; }
}

.darkred-background {
  background-color: var(--darkred);
  color: white;
  a { .link-white; }
}

.verydarkred-background {
  background-color: var(--verydarkred);
  color: white;
  a { .link-white; }
}

.lightblue-transparent      { background-color: var(--lightblue-transparent); }
.verylightblue-transparent  { background-color: var(--verylightblue-transparent); }

// PATTERNS
.abbr {
  font-style: italic;
}

.bulleted {

  list-style: disc outside none;
  margin-left: 1.5em;

  li {
    display: list-item;
  }

}

.button {

  .blue-background;
  align-items: center;
  background-image: linear-gradient(135deg, rgba(255,255,255,0.15), transparent);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-button);
  cursor: pointer;
  padding: 0.25em 0.5em;
  text-align: center;

  &:active {
    box-shadow: var(--shadow-button-press);
  }

  &:hover, &:focus {
    background-image: linear-gradient(135deg, transparent, rgba(0,0,0,0.15));
  }

  &:disabled {
    background-image: none;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.40;
  }

}

.button-red {
  .button;
  .red-background;
}

.cite {
  font-style: italic;
}

.code {
  background-color: #fafafa;
  border: var(--border);
  border-radius: var(--border-radius);
  color: #383a42;
  font-family: 'Fira Mono', 'Consolas', 'Monaco', 'DejaVu Mono', 'Courier New', monospace;
  font-size: 0.75em;
  font-style: normal;
  overflow-x: auto;
  padding: 0.25em 0.5em;
  white-space: pre;
}

.dfn {
  font-style: italic;
}

.em {
  font-style: italic;
}

.field {

  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: 0.125em 0.25em;

  &:focus {

    border-color: var(--blue);
    box-shadow: var(--shadow-inset-blue);

    &:invalid {
      border-color: var(--darkred);
      box-shadow: var(--shadow-inset-red);
      color: var(--red);
    }

  }

  &[disabled] {
    background-color: #eaeded;
    color: #cad2d3;
    cursor: not-allowed;
  }

}

.fieldset {
  legend {
    font-weight: bold;
  }
}

.h-minor {
  font-size: 1.25em;
}

.h-section {
  font-size: 1.75em;
  font-weight: bold;
  padding-bottom: 0.25em;
  padding-top: 0.5em;
}

.h-subsection {
  font-size: 1.5em;
  padding-bottom: 0.25em;
  padding-top: 0.5em;
}

.h-subsubsection {
  font-size: 1.5em;
  font-style: italic;
}

.hanging {
  margin-left: 1em;
  text-indent: -1em;
}

.input {

  &[type=button] {
    .button;
  }

  &[type=color] {
    display: block;
  }

  &[type=date] {
    .field;
  }

  &[type=datetime] {
    .field;
  }

  &[type=datetime-local] {
    .field;
  }

  &[type=email] {
    .field;
  }

  &[type=month] {
    .field;
  }

  &[type=number] {
    .field;
  }

  &[type=password] {
    .field;
  }

  &[type=reset] {
    .button;
    .superdarkgreen-background;
  }

  &[type=search] {
    .field;
  }

  &[type=submit] {
    .button;
  }

  &[type=tel] {
    .field;
  }

  &[type=text] {
    .field;
    display: flex;
  }

  &[type=time] {
    .field;
  }

  &[type=url] {
    .field;
  }

  &[type=week] {
    .field;
  }

}

.italic {
  font-style: italic;
}

.kbd {

  background-color: #F7F7F7;
  background-image: linear-gradient(to top, rgba(0,0,0,0.1), rgba(0,0,0,0));
  border: 0.035em solid #BBB;
  border-radius: var(--border-radius);
	color: #444;
  padding: 0.25em 0.5em;
	text-align: center;
	text-shadow: 0em 0.075em 0em #FFF;

  box-shadow: 0em 0.15em 0em #BBB,
    0em 0.225em 0.075em #999,
    0em 0.225em 0em #BBB,
    inset 0em 0.075em 0.075em #FFF,
    inset 0em -0.075em 0.225em #CCC;

}

.label {

  align-items: center;
  flex-direction: row;

  span {
    font-size: smaller;
    font-weight: bold;
  }

}

.link {
  .blue;
  border-bottom: 0.075em solid transparent;
  &:link { .blue; }
  &:visited { .purple; }
  &:hover { border-bottom: 0.075em solid var(--blue); }
  &:active { .blue; }
  &:visited:hover { border-bottom: 0.075em solid var(--purple); }
  &:visited:active { .purple; }
}

.link-white {
  border-bottom: 0.075em solid transparent;
  color: white;
  &:link { color: white; }
  &:visited { color: white; }
  &:hover { border-bottom: 0.075em solid white; }
  &:visited:hover { border-bottom: 0.075em solid white; }
  &:active { color: white; }
}

.nav {
  ul {
    .blue-background;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.25em;
    justify-content: space-around;

    li {
      padding: 0.5em;
    }

    a {
      text-align: center;
    }
  }
}

.numbered {

  counter-reset: numbered;
  list-style: none;

  li {

    counter-increment: numbered;
    display: list-item;
    margin-left: 2.5em;

    &::before {
      content: counter(numbered) '.';
      font-weight: bold;
      margin-left: -2.5em;
      padding: 0em 0.5em;
    }

  }

}

.orthographic {
  .unicode;
  &::before {
    content: '<';
    padding-right: 0.15em;
  }
  &::after  {
    content: '>';
    padding-left: 0.15em;
  }
}

.page-title {
  align-self: center;
  font-size: 2.5em;
  text-align: center;
}

.phonemic {
  .unicode;
  &::before {
    content: '/';
    padding-right: 0.15em;
  }
  &::after  {
    content: '/';
    padding-left: 0.15em;
  }
}

.phonetic {
  .unicode;
  &::before {
    content: '[';
    padding-right: 0.15em;
  }
  &::after  {
    content: ']';
    padding-left: 0.15em;
  }
}

.reference-list {

  a { .link; }

  h1 { .h-section; }

  ol, ul {
    list-style: disc outside none;
    padding: 0.5em 0em;
    padding-left: 1.5em;
  }

  li {
    display: list-item;
    padding: 0.25em 0em;

    p {
      display: block;
      margin-left: 1.5em;
      text-indent: -1.5em;
    }

  }

}

.select {
  border: var(--border);
  border-radius: 0.25em;
  padding: 0.25em;
}

.strong {
  color: var(--verydarkblue);
  font-weight: bold;
}

.summary {
  align-items: center;
  display: flex; // TODO: remove this when flexbox-reset is updated
  flex-direction: row;
  margin-left: -1em;
}

.textarea {
  .field;
}

.unicode {
  font-family: 'Gentium Plus', 'Charis SIL', 'Doulos SIL', 'Cambria', 'Andika', 'Lucida Sans Unicode', 'Times New Roman', 'Georgia', serif;
  font-size: 1.15em;
  line-height: 1;
}
