@import (reference) 'https://digitallinguistics.blob.core.windows.net/less/colors.less';
@import (reference) 'https://digitallinguistics.blob.core.windows.net/less/headings.less';

:root {

  --border-gray: 0.075em solid var(--gray);
  --border-radius: 0.35em;

  --font-unicode: 'Gentium Plus', 'Charis SIL', 'Doulos SIL', 'Cambria', 'Andika', 'Lucida Sans Unicode', 'Times New Roman', 'Georgia', serif;

  --padding-ipa: 0.15em;
  --padding-text: 0.25em 0.5em;

  --shadow-button: inset -0.075em -0.075em 0.15em 0em rgba(0,0,0,0.15), var(--shadow);

}

// PATTERNS
.link {}

.nav {

  ul {

    .blue-background;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.25em;
    justify-content: space-around;

    li {
      padding: 0.5em;
      white-space: nowrap;
    }

    a {
      text-align: center;
    }

  }

}

.numbered {

  counter-reset: numbered;
  list-style: none;

  li {

    counter-increment: numbered;
    display: list-item;
    margin-left: 2.5em;

    &::before {
      content: counter(numbered) '.';
      font-weight: bold;
      margin-left: -2.5em;
      padding: var(--padding-text);
    }

  }

}

.reference-list {

  a { .link; }

  h1 { .h2; }

  ol, ul {
    list-style: disc outside none;
    padding: 0.5em 0em;
    padding-left: 1.5em;
  }

  li {
    display: list-item;
    padding: var(--padding-text);

    p {
      display: block;
      margin-left: 1.5em;
      text-indent: -1.5em;
    }

  }

}

.select {
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-button);
  padding: var(--padding-text);
}

.summary {
  align-items: center;
  display: flex; // TODO: remove this when flexbox-reset is updated
  flex-direction: row;
  margin-left: -1em;
}
