@import (reference) 'https://digitallinguistics.blob.core.windows.net/less/colors.less';

:root {

  --border: 0.075em solid black;
  --border-gray: 0.075em solid var(--gray);
  --border-radius: 0.35em;

  --font: 'Fira Sans', 'Calibri', 'DejaVu Sans', 'Verdana', 'Arial', 'Helvetica', sans-serif;
  --font-mono: 'Fira Mono', 'Consolas', 'Monaco', 'DejaVu Mono', 'Courier New', monospace;
  --font-unicode: 'Gentium Plus', 'Charis SIL', 'Doulos SIL', 'Cambria', 'Andika', 'Lucida Sans Unicode', 'Times New Roman', 'Georgia', serif;

  --link-color: var(--blue);
  --link-color-visited: var(--purple);

  --padding-ipa: 0.15em;
  --padding-text: 0.25em 0.5em;

  --shadow: 0.075em 0.075em 0.15em var(--gray);
  --shadow-button: inset -0.075em -0.075em 0.15em 0em rgba(0,0,0,0.15), var(--shadow);
  --shadow-button-press: 0 0 0 0.075em rgba(0,0,0,0.15) inset, 0 0 0.5em rgba(0,0,0,0.2) inset;
  --shadow-deep: 0rem 0.225em 0.225em var(--gray);
  --shadow-inset: inset 0.075em 0.075em 0.15em var(--gray);
  --shadow-inset-blue: inset 0.075em 0.075em 0.15em var(--blue);
  --shadow-inset-red: inset 0.075em 0.075em 0.15em var(--darkred);

  --underline-blue: 0.075em solid var(--blue);
  --underline-purple: 0.075em solid var(--purple);
  --underline-transparent: 0.075em solid transparent;

}

// PATTERNS
.field {

  background-color: white;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: var(--padding-text);

  &:focus {

    border-color: var(--blue);
    box-shadow: var(--shadow-inset-blue);

    &:invalid {
      border-color: var(--darkred);
      box-shadow: var(--shadow-inset-red);
      color: var(--red);
    }

  }

  &[disabled] {
    background-color: #EAEDED;
    color: #CAD2D3;
    cursor: not-allowed;
  }

}

.fieldset {
  legend {
    font-weight: bold;
  }
}

.h-minor {
  font-size: 1.25em;
}

.h-section {
  font-size: 1.75em;
  font-weight: bold;
  padding-bottom: 0.25em;
  padding-top: 0.5em;
}

.h-subsection {
  font-size: 1.5em;
  padding-bottom: 0.25em;
  padding-top: 0.5em;
}

.h-subsubsection {
  font-size: 1.5em;
  font-style: italic;
}

.hanging {
  margin-left: 1em;
  text-indent: -1em;
}

.input {

  &[type=button] {
    // .button;
  }

  &[type=color] {
    display: block;
  }

  &[type=date] {
    .field;
  }

  &[type=datetime] {
    .field;
  }

  &[type=datetime-local] {
    .field;
  }

  &[type=email] {
    .field;
  }

  &[type=month] {
    .field;
  }

  &[type=number] {
    .field;
  }

  &[type=password] {
    .field;
  }

  &[type=reset] {
    // .button;
    .superdarkgreen-background;
  }

  &[type=search] {
    .field;
  }

  &[type=submit] {
    // .button;
  }

  &[type=tel] {
    .field;
  }

  &[type=text] {
    .field;
    display: flex;
  }

  &[type=time] {
    .field;
  }

  &[type=url] {
    .field;
  }

  &[type=week] {
    .field;
  }

}

.italic {
  font-style: italic;
}

.kbd {

  background-color: #F7F7F7;
  background-image: linear-gradient(to top, rgba(0,0,0,0.1), rgba(0,0,0,0));
  border: 0.035em solid #BBB;
  border-radius: var(--border-radius);
	color: #444;
  padding: var(--padding-text);
	text-align: center;
	text-shadow: 0em 0.075em 0em #FFF;

  box-shadow: 0em 0.15em 0em #BBB,
    0em 0.225em 0.075em #999,
    0em 0.225em 0em #BBB,
    inset 0em 0.075em 0.075em #FFF,
    inset 0em -0.075em 0.225em #CCC;

}

.label {

  align-items: center;
  flex-direction: row;

  span {
    font-size: smaller;
    font-weight: bold;
  }

}

.link {
  color: var(--link-color);
  border-bottom: var(--underline-transparent);
  &:link { color: var(--link-color); }
  &:visited { color: var(--link-color-visited); }
  &:hover { border-bottom: var(--link-color); }
  &:active { color: var(--link-color); }
  &:visited:hover { border-bottom: var(--link-color-visited); }
  &:visited:active { color: var(--link-color-visited); }
}

.link-white {
  --link-color: white;
  --link-color-visited: white;
}

.nav {

  ul {

    .blue-background;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.25em;
    justify-content: space-around;

    li {
      padding: 0.5em;
      white-space: nowrap;
    }

    a {
      text-align: center;
    }

  }

}

.numbered {

  counter-reset: numbered;
  list-style: none;

  li {

    counter-increment: numbered;
    display: list-item;
    margin-left: 2.5em;

    &::before {
      content: counter(numbered) '.';
      font-weight: bold;
      margin-left: -2.5em;
      padding: var(--padding-text);
    }

  }

}

.orthographic {
  .unicode;
  &::before {
    content: '<';
    padding-right: var(--padding-ipa);
  }
  &::after  {
    content: '>';
    padding-left: var(--padding-ipa);
  }
}

.page-title {
  align-self: center;
  font-size: 2.5em;
  text-align: center;
}

.phonemic {
  .unicode;
  &::before {
    content: '/';
    padding-right: var(--padding-ipa);
  }
  &::after  {
    content: '/';
    padding-left: var(--padding-ipa);
  }
}

.phonetic {
  .unicode;
  &::before {
    content: '[';
    padding-right: var(--padding-ipa);
  }
  &::after  {
    content: ']';
    padding-left: var(--padding-ipa);
  }
}

.reference-list {

  a { .link; }

  h1 { .h-section; }

  ol, ul {
    list-style: disc outside none;
    padding: 0.5em 0em;
    padding-left: 1.5em;
  }

  li {
    display: list-item;
    padding: var(--padding-text);

    p {
      display: block;
      margin-left: 1.5em;
      text-indent: -1.5em;
    }

  }

}

.select {
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-button);
  padding: var(--padding-text);
}

.strong {
  color: var(--verydarkblue);
  font-weight: bold;
}

.summary {
  align-items: center;
  display: flex; // TODO: remove this when flexbox-reset is updated
  flex-direction: row;
  margin-left: -1em;
}

.textarea {
  .field;
}

.unicode {
  font-family: var(--font-unicode);
  font-size: 1.15em;
  // line-height: 1; // QUESTION: Why was this here originally?
}
