/*
This file contains LESS variables for each of the colors in the DLx color schema
 */

// Colors
//
// The following colors are available as CSS variables and classes. To set the font color, use `.{color}` (e.g. ``.wugblue`). To set the background color, use `.{color}-background` (e.g. `.wugblue-background`).
//
// Styleguide Colors

:root {

  // Wug Blue
  //
  // $wugblue - #6FD1F6; wug blue
  //
  // Styleguide Colors.wug
  --wugblue:                   #6FD1F6;

  // Blue
  //
  // $verydarkblue - #017CF2; very dark blue
  // $darkblue - #0F89FF; dark blue
  // $blue - #3399FF; blue
  // $lightblue - #5CAFFF; light blue
  // $verylightblue - #88C4FE; very light blue
  //
  // Styleguide Colors.blue
  --verydarkblue:              #017CF2;
  --darkblue:                  #0F89FF;
  --blue:                      #3399FF;
  --lightblue:                 #5CAFFF;
  --verylightblue:             #88C4FE;

  --codegray:                  #FAFAFA;
  --darkgray:                  gray;
  --gray:                      #CCC;
  --lightgray:                 #F5F2F0;

  --verylightgreen:            #7FFED1;
  --lightgreen:                #4FFFC1;
  --green:                     #23FFB1;
  --darkgreen:                 #00FFA5;
  --verydarkgreen:             #00F39D;
  --superdarkgreen:            #00AB6E;

  --verylightorange:           #FFA97F;
  --lightorange:               #FF884F;
  --orange:                    #FF6A23;
  --darkorange:                #FF5300;

  --verylightpurple:           #9791FE;
  --lightpurple:               #7068FF;
  --purple:                    #4D42FF;
  --darkpurple:                #2A1DFF;
  --verydarkpurple:            #1002F4;

  --verylightred:              #FF9797;
  --lightred:                  #E96363;
  --red:                       #CA3C3C;
  --darkred:                   #AA1F1F;
  --verydarkred:               #830505;

  --lightblue-transparent:     rgba(92, 175, 255, 0.2);
  --verylightblue-transparent: rgba(136, 196, 254, 0.2);

}
