@import (reference) 'https://digitallinguistics.blob.core.windows.net/less/colors.less';
@import (reference) 'https://digitallinguistics.blob.core.windows.net/less/variables.less';
@import (reference) 'https://digitallinguistics.blob.core.windows.net/less/inline.less';

// Components
//
// Discrete, self-contained pieces of UI.
//
// Weight: 4
//
// Styleguide Components


// Banner
//
// A site banner at the top of the page.
//
// Markup: banner.hbs
//
// Styleguide Components.banner
.banner {

  .blue-background;
  align-items: center;
  box-shadow: var(--shadow-deep);
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  h1 {
    font-size: 2em;
    font-weight: 300;
    padding: var(--padding-text);
    white-space: nowrap;
  }

}

// Bulleted List
//
// In DLx projects, lists are often used semantically rather than stylistically, e.g. a phrase includes a list of words. As such, lists have no styling by default, and list styling needs to be explicitly set with the <code>.bulleted</code> or <code>.numbered</code> styles.
//
// Markup: bulleted.hbs
//
// Styleguide Components.bulleted
.bulleted {

  list-style: disc outside none;

  li {
    display: list-item;
  }

}

// Text Field
//
// Styles an element as a form field.
//
// Markup: field.hbs
//
// :disabled - When the field is disabled
// :focus    - When the field is focused
//
// Styleguide Components.field
.field {

  background-color: transparent;
  border: 0.075em solid var(--gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  padding: var(--padding-text);

  &:focus {

    --shadow-color: var(--blue);
    border-color: var(--blue);
    box-shadow: var(--shadow-inset);
    outline: none;

    &:invalid {
      --shadow-color: var(--darkred);
      border-color: var(--darkred);
      box-shadow: var(--shadow-inset);
    }

  }

  &:disabled {
    background-color: #EAEDED;
    color: #CAD2D3;
    cursor: not-allowed;
  }

}

// Hanging Indented Paragraph
//
// For blocks of text with a hanging indent.
//
// Markup: hanging.hbs
//
// Styleguide Components.hanging
.hanging {
  margin-left: 1em;
  text-indent: -1em;
}

// Pre
//
// Used for standalone code blocks (for inline code blocks, see the `<code>` tag). If the `<pre>` element is used by itself, without a `<code>` element inside it, it will simply display as preformatted text. If a `<code>` element is included inside the `<pre>`, however, that element will be `display: block;`.
//
// Markup: pre.hbs
//
// Styleguide Components.pre
.pre {

  font-family: var(--font-mono);
  white-space: pre;

  code {
    .code;
    display: block;
    overflow-x: auto;
    white-space: pre;
  }

}
