/*
This file declares @font-face rules for each of the fonts used in DLx projects
 */

@fonts: 'https://cdn.digitallinguistics.io/fonts';

// Fira Sans
@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans'),
    url('@{fonts}/FiraSans-Light.woff2') format('woff2'),
    url('@{fonts}/FiraSans-Light.woff') format('woff'),
    url('@{fonts}/FiraSans-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Light Italic'),
    url('@{fonts}/FiraSans-LightItalic.woff2') format('woff2'),
    url('@{fonts}/FiraSans-LightItalic.woff') format('woff'),
    url('@{fonts}/FiraSans-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Medium'),
    url('@{fonts}/FiraSans-Medium.woff2') format('woff2'),
    url('@{fonts}/FiraSans-Medium.woff') format('woff'),
    url('@{fonts}/FiraSans-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Medium Italic'),
    url('@{fonts}/FiraSans-MediumItalic.woff2') format('woff2'),
    url('@{fonts}/FiraSans-MediumItalic.woff') format('woff'),
    url('@{fonts}/FiraSans-MediumItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: bold;
}

// Fira Mono
@font-face {
  font-family: 'Fira Mono';
  src:
    local('Fira Mono Regular'),
    url('@{fonts}/FiraMono-Regular.woff2') format('woff2'),
    url('@{fonts}/FiraMono-Regular.woff') format('woff'),
    url('@{fonts}/FiraMono-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Fira Mono';
  src:
    local('Fira Mono Bold'),
    url('@{fonts}/FiraMono-Bold.woff2') format('woff2'),
    url('@{fonts}/FiraMono-Bold.woff') format('woff'),
    url('@{fonts}/FiraMono-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

// Gentium Plus
@font-face {
  font-family: 'Gentium Plus';
  src:
    local('Gentium Plus Regular'),
    url('@{fonts}/GentiumPlus-R.woff2') format('woff2'),
    url('@{fonts}/GentiumPlus-R.woff') format('woff'),
    url('@{fonts}/GentiumPlus-R.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Gentium Plus';
  src:
    local('Gentium Plus Italic'),
    url('@{fonts}/GentiumPlus-I.woff2') format('woff2'),
    url('@{fonts}/GentiumPlus-I.woff') format('woff'),
    url('@{fonts}/GentiumPlus-I.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}
