/*
This file contains DLx styles that are applied by default, without the need for specifiying them explicitly using CSS classes. This file also applies the flexbox-reset styling.
 */

@import 'https://digitallinguistics.blob.core.windows.net/less/dlx.less';

* {
  box-sizing: border-box;
}

// <a>
// elements whose contents are typically inline
blockquote, button, caption, dd, dt, figcaption, h1, h2, h3, h4, h5, h6, input, legend, option, output, p, pre, select, summary, textarea,
// inline elements
abbr, acronym, b, bdo, big, br, cite, code, del, dfn, em, i, ins, kbd, mark, q, samp, s, small, span, strike, strong, sub, sup, time, tt, var,
{
  > a {
    .link;
  }
}

abbr { .abbr; }

body {
  box-sizing: border-box;
  font-family: var(--font);
  line-height: 1.5;
}

button { .button; }

cite { .cite; }

code { .code; }

dfn { .dfn; }

em { .em; }

fieldset { .fieldset; }

input { .input; }

i { .italic; }

label { .label; }

select { .select; }

strong { .strong; }

textarea { .textarea; }
