@import 'less/global.less';

body {

  align-items: center;
  line-height: 1.5;
  padding: 2rem;

  > label {
    align-items: flex-start;
    flex-direction: column;
    margin: 1em;
    position: fixed;
    right: 0;
    top: 0;
  }

  > section {
    max-width: 100%;
  }

}

.color {

  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25em 0em;

  span {
    align-items: flex-start;
    display: flex;
  }

}

#colors {

  align-items: center;

  > section {
    min-width: 30em;
    padding: 0.5em 1em;
  }

}

#icons {

  ul {
    margin-top: 1rem;
  }

  li {
    align-items: center;
    flex-direction: row;
  }

  img {
    margin: 0.5rem;
    width: 3rem;
  }

  img.favicon {
    height: 1rem;
    margin: 1.5rem;
    width: 1rem;
  }

  img[src="img/x-circle.svg"] {
    height: 1.5rem;
  }

}

.markup,
.rendered,
{
  margin: 0.5em 1em;
  padding: 1em;
}

.rendered {
  align-items: flex-start;
  border: var(--border);
  border-radius: var(--border-radius);
}

.page-title {
  align-self: center;
}

.pattern > div {
  margin-bottom: 1em;
}

.pattern-description {
  padding: 0.5em 0em;
}

#patterns > section {

  padding: 0.5em 1em;

  .pattern-title.subsection-header {
    border-bottom: var(--border);
    margin-bottom: 0.25em;
    padding-bottom: 0.5em;
  }

}

.swatch {
  border: none;
  cursor: pointer;
  padding: 0.5em 1em;
}

#typography p {
  padding: 0.5em 1em;
}

// styling for specific patterns
.button-example {
  button,
  input[type=button],
  {
    margin: 0.5em;
  }
}

.field-example input {
  margin: 0.5em;
  width: 80%;
}

.nav-example .rendered {
  align-items: stretch;
}

.link-white-example .rendered p {
  background-color: var(--blue);
  padding: 0.5em;
}
