:root {

  --border: 0.075em solid black;
  --border-radius: 0.35em;

  --font: 'Fira Sans', 'Calibri', 'DejaVu Sans', 'Verdana', 'Arial', 'Helvetica', sans-serif;
  --font-mono: 'Fira Mono', 'Consolas', 'Monaco', 'DejaVu Mono', 'Courier New', monospace;
  --font-unicode: 'Gentium Plus', 'Charis SIL', 'Doulos SIL', 'Cambria', 'Andika', 'Lucida Sans Unicode', 'Times New Roman', 'Georgia', serif;

  --padding-text: 0.25em 0.5em;

  --shadow: 0.075em 0.075em 0.15em var(--gray);
  --shadow-button: inset -0.075em -0.075em 0.15em 0em rgba(0,0,0,0.15), var(--shadow);
  --shadow-deep: 0rem 0.225em 0.225em var(--gray);

}
