{
  "comments": false,
  "compact": true,
  "minified": true,
  "presets": [
    ["env", {
      "targets": {
        "node": true,
        "browsers": [
          "last 1 Edge versions",
          "last 1 Chrome versions",
          "last 1 Firefox versions",
          "last 1 Safari versions",
          "last 1 iOS versions"
        ]
      },
      "useBuiltIns": true
    }]
  ],
  "sourceType": "script"
}
