:root {
  --font-display: fallback;
  --font-display-critical: swap;
  --font-family: var(--font-family);
  --font-family-mono: 'Fira Sans Mono';
  --font-family-unicode: 'Gentium Plus';
}
@font-face {
  font-family: var(--font-family);
  src: local('Fira Sans Light'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/FiraSans-Light.woff2') format('woff2'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/FiraSans-Light.woff') format('woff');
  font-display: var(--font-display);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: var(--font-family);
  src: local('Fira Sans Light Italic'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/FiraSans-LightItalic.woff2') format('woff2'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/FiraSans-LightItalic.woff') format('woff');
  font-display: var(--font-display);
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: var(--font-family);
  src: local('Fira Sans Regular'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/FiraSans-Regular.woff2') format('woff2'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/FiraSans-Regular.woff') format('woff');
  font-display: var(--font-display);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: var(--font-family);
  src: local('Fira Sans Regular Italic'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/FiraSans-RegularItalic.woff2') format('woff2'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/FiraSans-RegularItalic.woff') format('woff');
  font-display: var(--font-display);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: var(--font-family);
  src: local('Fira Sans Medium'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/FiraSans-Medium.woff2') format('woff2'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/FiraSans-Medium.woff') format('woff');
  font-display: var(--font-display);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: var(--font-family);
  src: local('Fira Sans Medium Italic'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/FiraSans-MediumItalic.woff2') format('woff2'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/FiraSans-MediumItalic.woff') format('woff');
  font-display: var(--font-display);
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: var(--font-family);
  src: local('Fira Sans SemiBold'), url('https://digitallinguistics.blob.core.windows.net/fonts/FiraSans-SemiBold.woff2') format('woff2'), url('https://digitallinguistics.blob.core.windows.net/fonts/FiraSans-SemiBold.woff') format('woff');
  font-display: var(--font-display);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: var(--font-family);
  src: local('Fira Sans SemiBold Italic'), url('https://digitallinguistics.blob.core.windows.net/fonts/FiraSans-SemiBoldItalic.woff2') format('woff2'), url('https://digitallinguistics.blob.core.windows.net/fonts/FiraSans-SemiBoldItalic.woff') format('woff');
  font-display: var(--font-display);
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: var(--font-family-mono);
  src: local('Fira Mono Regular'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/FiraMono-Regular.woff2') format('woff2'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/FiraMono-Regular.woff') format('woff');
  font-display: var(--font-display);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: var(--font-family-mono);
  src: local('Fira Mono Bold'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/FiraMono-Bold.woff2') format('woff2'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/FiraMono-Bold.woff') format('woff');
  font-display: var(--font-display);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: var(--font-family-unicode);
  src: local('Gentium Plus Regular'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/GentiumPlus-R.woff2') format('woff2'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/GentiumPlus-R.woff') format('woff');
  font-display: var(--font-display-critical);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: var(--font-family-unicode);
  src: local('Gentium Plus Italic'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/GentiumPlus-I.woff2') format('woff2'), url('https://digitallinguistics.blob.core.windows.net/fonts/fonts/GentiumPlus-I.woff') format('woff');
  font-display: var(--font-display-critical);
  font-style: italic;
  font-weight: 400;
}
/*
This file contains LESS variables for each of the colors in the DLx color schema
 */
:root {
  --wugblue: #6FD1F6;
  --verydarkblue: #017CF2;
  --darkblue: #0F89FF;
  --blue: #3399FF;
  --lightblue: #5CAFFF;
  --verylightblue: #88C4FE;
  --codegray: #FAFAFA;
  --codedarkgray: #383A42;
  --darkgray: gray;
  --gray: #CCC;
  --lightgray: #F5F2F0;
  --verylightgreen: #7FFED1;
  --lightgreen: #4FFFC1;
  --green: #23FFB1;
  --darkgreen: #00FFA5;
  --verydarkgreen: #00F39D;
  --superdarkgreen: #00AB6E;
  --verylightorange: #FFA97F;
  --lightorange: #FF884F;
  --orange: #FF6A23;
  --darkorange: #FF5300;
  --verylightpurple: #9791FE;
  --lightpurple: #7068FF;
  --purple: #4D42FF;
  --darkpurple: #2A1DFF;
  --verydarkpurple: #1002F4;
  --verylightred: #FF9797;
  --lightred: #E96363;
  --red: #CA3C3C;
  --darkred: #AA1F1F;
  --verydarkred: #830505;
  --lightblue-transparent: rgba(92, 175, 255, 0.2);
  --verylightblue-transparent: rgba(136, 196, 254, 0.2);
}
.wugblue {
  color: var(--wugblue);
}
.verydarkblue {
  color: var(--verydarkblue);
}
.darkblue {
  color: var(--darkblue);
}
.blue {
  color: var(--blue);
}
.lightblue {
  color: var(--lightblue);
}
.verylightblue {
  color: var(--verylightblue);
}
.codegray {
  color: var(--codegray);
}
.darkgray {
  color: var(--darkgray);
}
.gray {
  color: var(--gray);
}
.lightgray {
  color: var(--lightgray);
}
.verylightgreen {
  color: var(--verylightgreen);
}
.lightgreen {
  color: var(--lightgreen);
}
.green {
  color: var(--green);
}
.darkgreen {
  color: var(--darkgreen);
}
.verydarkgreen {
  color: var(--verydarkgreen);
}
.superdarkgreen {
  color: var(--superdarkgreen);
}
.verylightorange {
  color: var(--verylightorange);
}
.lightorange {
  color: var(--lightorange);
}
.orange {
  color: var(--orange);
}
.darkorange {
  color: var(--darkorange);
}
.verylightpurple {
  color: var(--verylightpurple);
}
.lightpurple {
  color: var(--lightpurple);
}
.purple {
  color: var(--purple);
}
.darkpurple {
  color: var(--darkpurple);
}
.verydarkpurple {
  color: var(--verydarkpurple);
}
.verylightred {
  color: var(--verylightred);
}
.lightred {
  color: var(--lightred);
}
.red {
  color: var(--red);
}
.darkred {
  color: var(--darkred);
}
.verydarkred {
  color: var(--verydarkred);
}
.wugblue-background {
  background-color: var(--wugblue);
}
.verydarkblue-background {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--verydarkblue);
  color: white;
}
.darkblue-background {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--darkblue);
  color: white;
}
.blue-background {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--blue);
  color: white;
}
.lightblue-background {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--lightblue);
  color: white;
}
.verylightblue-background {
  background-color: var(--verylightblue);
}
.lightblue-transparent {
  background-color: var(--lightblue-transparent);
}
.verylightblue-transparent {
  background-color: var(--verylightblue-transparent);
}
.codegray-background {
  background-color: var(--codegray);
}
.darkgray-background {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--darkgray);
  color: white;
}
.gray-background {
  background-color: var(--gray);
}
.lightgray-background {
  background-color: var(--lightgray);
}
.verylightgreen-background {
  background-color: var(--verylightgreen);
}
.lightgreen-background {
  background-color: var(--lightgreen);
}
.green-background {
  background-color: var(--green);
}
.darkgreen-background {
  background-color: var(--darkgreen);
}
.verydarkgreen-background {
  background-color: var(--verydarkgreen);
}
.superdarkgreen-background {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--superdarkgreen);
  color: white;
}
.verylightorange-background {
  background-color: var(--verylightorange);
}
.lightorange-background {
  background-color: var(--lightorange);
}
.orange-background {
  background-color: var(--orange);
}
.darkorange-background {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--darkorange);
  color: white;
}
.verylightpurple-background {
  background-color: var(--verylightpurple);
}
.lightpurple-background {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--lightpurple);
  color: white;
}
.purple-background {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--purple);
  color: white;
}
.darkpurple-background {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--darkpurple);
  color: white;
}
.verydarkpurple-background {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--verydarkpurple);
  color: white;
}
.verylightred-background {
  background-color: var(--verylightred);
}
.lightred-background {
  background-color: var(--lightred);
}
.red-background {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--red);
  color: white;
}
.darkred-background {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--darkred);
  color: white;
}
.verydarkred-background {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--verydarkred);
  color: white;
}
:root {
  --border: 0.075em solid black;
  --border-radius: 0.35em;
  --font: 'Fira Sans', 'Calibri', 'DejaVu Sans', 'Verdana', 'Arial', 'Helvetica', sans-serif;
  --font-mono: 'Fira Mono', 'Consolas', 'Monaco', 'DejaVu Mono', 'Courier New', monospace;
  --font-unicode: 'Gentium Plus', 'Charis SIL', 'Doulos SIL', 'Cambria', 'Andika', 'Lucida Sans Unicode', 'Times New Roman', 'Georgia', serif;
  --padding-text: 0.25em 0.5em;
  --shadow: 0.075em 0.075em 0.15em var(--gray);
  --shadow-button: inset -0.075em -0.075em 0.15em 0em rgba(0, 0, 0, 0.15), var(--shadow);
  --shadow-deep: 0rem 0.225em 0.225em var(--gray);
}
blockquote .code,
button .code,
caption .code,
dd .code,
dt .code,
figcaption .code,
h1 .code,
h2 .code,
h3 .code,
h4 .code,
h5 .code,
h6 .code,
input .code,
legend .code,
option .code,
output .code,
p .code,
pre .code,
select .code,
textarea .code,
blockquote .link,
button .link,
caption .link,
dd .link,
dt .link,
figcaption .link,
h1 .link,
h2 .link,
h3 .link,
h4 .link,
h5 .link,
h6 .link,
input .link,
legend .link,
option .link,
output .link,
p .link,
pre .link,
select .link,
textarea .link {
  display: inline;
}
.abbr {
  font-style: italic;
}
.button {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--blue);
  color: white;
  align-items: center;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15), transparent);
  border: 0;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-button);
  cursor: pointer;
  font: inherit;
  outline: 0;
  padding: var(--padding-text);
  text-align: center;
}
.button:active {
  --shadow-button: 0 0 0 0.075em rgba(0, 0, 0, 0.15) inset, 0 0 0.5em rgba(0, 0, 0, 0.2) inset;
}
.button:hover,
.button:focus {
  background-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.15));
}
.button:disabled {
  background-image: none;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.40;
}
.button-red {
  --link-color: white;
  --link-color-visited: white;
  background-color: var(--red);
  color: white;
}
.cite {
  font-style: italic;
}
.code {
  background-color: var(--codegray);
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--codedarkgray);
  display: block;
  font-family: var(--font-mono);
  font-size: 0.75em;
  font-style: normal;
  overflow-x: auto;
  padding: var(--padding-text);
  white-space: pre;
}
.dfn {
  font-style: italic;
}
.em {
  font-style: italic;
}
.banner {
  align-items: center;
  background-color: var(--blue);
  box-shadow: var(--shadow-deep);
  color: white;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.banner h1 {
  font-size: 2em;
  font-weight: 300;
  padding: var(--padding-text);
  white-space: nowrap;
}
.bulleted {
  list-style: disc outside none;
}
.bulleted li {
  display: list-item;
}
.kss-modifiers__example {
  border-collapse: collapse;
  font-family: var(--font);
  line-height: 1.5;
  text-decoration: none;
  vertical-align: baseline;
}
