// Card
//
// A card view
//
// Markup: card.hbs
//
// Styleguide Components.card
.card {

  --accent-color:  var(--blue);
  --border-color:  hsl(0, 0%, 85%);

  background-color: white;
  box-shadow:
    0 0 0 0.075em var(--border-color),
    0 0.075em 0.225em 0 var(--border-color),
    0 0.225em 0 0 var(--accent-color);
  border-radius:    var(--border-radius);
  margin:           1em;
  text-align:       center;

  .content {
    flex-grow: 1;
    padding:   1em;
  }

  h2 {
    font-size: 2em;
  }

  .icon {
    height: 3.5rem;
    margin: 1rem;
    width:  3.5rem;
  }

}
