@baseURL: 'https://digitallinguistics.blob.core.windows.net/less';

@import (reference) '@{baseURL}/classes.less';
@import '@{baseURL}/page-title.less';

// Banner
//
// A site banner at the top of the page. When including additional elements inside the banner, you might want to set `margin-left: auto;` on the element to push it to the opposite end of the banner from the `<h1>`.
//
// Markup: banner.hbs
//
// Styleguide Components.Layout.banner
.banner {

  .blue-background;
  align-items:     center;
  box-shadow:      var(--shadow-deep);
  display:         flex;
  flex-direction:  row;
  font-weight:     300;
  justify-content: space-between;
  overflow-wrap:   break-word;
  text-align:      center;
  width:           100%;
  word-wrap:       break-word;

  h1 {
    .page-title;
  }

  p {
    font-size: larger;
    padding:   var(--padding-text);
  }

}
