<fieldset class=fieldset>
  <label class=label style="display: flex;">
    <span>Radio 1</span>
    <input class=input type=radio name=radio>
  </label>
  <label class=label style="display: flex;">
    <span>Radio 2</span>
    <input class=input type=radio name=radio>
  </label>
</fieldset>
