<label class=label>
  <span>Label with <code>&lt;span&gt;</code> or <code>&lt;hX&gt;</code></span>
  <input class=input type=text>
</label>

<label class=label>
  <p>Label without <code>&lt;span&gt;</code> or <code>&lt;hX&gt;</code><p>
  <input class=input type=text>
</label>
