<p>
  <a class="link {{modifier_class}}" href="#">This</a> shows a link around a single word, inside a <code>&lt;p&gt;</code> tag.
</p>

<p style="background-color: var(--blue); padding: var(--padding-text);">
  <a class="link-white" href="#">This</a> shows a <code>.link-white</code> link with a dark-colored background.
</p>
