// Headings
//
// Page headings. Each heading is aliased as both `.hX` and `.heading-name`.
//
// Styleguide Elements.Headings


// Heading 1: Page Title
//
// For page titles. This is also aliased as `.page-title`. This should be an `<h1>`, and there should be only one `<h1>` / `.page-title` per page.
//
// Markup: h1.hbs
//
// Styleguide Elements.Headings.h1
.h1 {
  align-self: center;
  font-size: 2.5em;
  margin: 0;
  min-width: 0;
  padding: var(--padding-text);
  text-align: center;
}

.page-title { .h1; }


// Heading 2: Section Header
//
// For major section headers. Also aliased as `.section-header`.
//
// Markup: h2.hbs
//
// Styleguide Elements.Headings.h2
.h2 {
  font-size: 1.75em;
  font-weight: var(--bold);
  padding-bottom: 0.25em;
  padding-top: 0.5em;
}

.section-header { .h2; }


// Heading 3: Subsection Header
//
// For subsection headers. Also aliased as `.subsection-header`.
//
// Markup: h3.hbs
//
// Styleguide Elements.Headings.h3
.h3 {
  font-size: 1.5em;
  padding-bottom: 0.25em;
  padding-top: 0.5em;
}

.subsection-header { .h3; }


// Heading 4: Sub-Subsection Header
//
// For sub-subsection headers. Also aliased as `.subsubsection-header`.
//
// Markup: h4.hbs
//
// Styleguide Elements.Headings.h4
.h4 {
  font-size: 1.5em;
  font-style: italic;
}

.subsubsection-header { .h4; }


// Heading 5: Minor Header
//
// For minor headers (a level below Sub-Subsection Headers). Also aliased as `.minor-header`.
//
// Markup: h5.hbs
//
// Styleguide: Elements.Headings.h5
.h5 {
  font-size: 1.25em;
}

.minor-header { .h5; }
