// Code Block
//
// The `<code>` element is used for inline code blocks (use the `<pre>` element for standalone code blocks).
//
// Markup: code.hbs
//
// Styleguide Components.Inline.code
.code {
  background-color: var(--codegray);
  border-radius:    var(--border-radius);
  color:            var(--codedarkgray); // remove this?
  font-family:      var(--font-mono);
  font-style:       normal;
  margin:           0;
  padding:          var(--padding-text);
  white-space:      pre-line;
}
