// CLASSES FOR FONT COLORS

.wugblue         { color: var(--wugblue); }

.verylightblue   { color: var(--verylightblue); }
.lightblue       { color: var(--lightblue); }
.blue            { color: var(--blue); }
.darkblue        { color: var(--darkblue); }
.verydarkblue    { color: var(--verydarkblue); }

// you sometimes can't see .codegray because it's the same color as Atom One Light's background
// you somtimes can't see .lightgray because it's the same color as Atom One Light's text selection color
.codegray        { color: var(--codegray); }
.lightgray       { color: var(--lightgray); }
.gray            { color: var(--gray); }
.darkgray        { color: var(--darkgray); }

.verylightgreen  { color: var(--verylightgreen); }
.lightgreen      { color: var(--lightgreen); }
.green           { color: var(--green); }
.darkgreen       { color: var(--darkgreen); }
.verydarkgreen   { color: var(--verydarkgreen); }
.superdarkgreen  { color: var(--superdarkgreen); }

.verylightorange { color: var(--verylightorange); }
.lightorange     { color: var(--lightorange); }
.orange          { color: var(--orange); }
.darkorange      { color: var(--darkorange); }

.verylightpurple { color: var(--verylightpurple); }
.lightpurple     { color: var(--lightpurple); }
.purple          { color: var(--purple); }
.darkpurple      { color: var(--darkpurple); }
.verydarkpurple  { color: var(--verydarkpurple); }

.verylightred    { color: var(--verylightred); }
.lightred        { color: var(--lightred); }
.red             { color: var(--red); }
.darkred         { color: var(--darkred); }
.verydarkred     { color: var(--verydarkred); }


// CLASSES FOR BACKGROUND COLORS

// Wug Blue
.wugblue-background {
  background-color: var(--wugblue);
}

// Blue
.verylightblue-background {
  background-color: var(--verylightblue);
}

.lightblue-background {
  --link-color:         white;
  --link-color-visited: white;
  background-color:     var(--lightblue);
  color:                white;
}

.blue-background {
  --link-color:         white;
  --link-color-visited: white;
  background-color:     var(--blue);
  color:                white;
}

.darkblue-background {
  --link-color:         white;
  --link-color-visited: white;
  background-color:     var(--darkblue);
  color:                white;
}

.verydarkblue-background {
  --link-color:         white;
  --link-color-visited: white;
  background-color:     var(--verydarkblue);
  color:                white;
}

.verylightblue-transparent {
  background-color: var(--verylightblue-transparent);
}

.lightblue-transparent {
  background-color: var(--lightblue-transparent);
}

.blue-transparent {
  background-color: var(--blue-transparent);
}

.darkblue-transparent {
  background-color: var(--darkblue-transparent);
}

.verydarkblue-transparent {
  background-color: var(--verydarkblue-transparent);
}

// Gray
.codegray-background {
  background-color: var(--codegray);
}

.lightgray-background {
  background-color: var(--lightgray);
}

.gray-background {
  background-color: var(--gray);
}

.darkgray-background {
  --link-color:         white;
  --link-color-visited: white;
  background-color:     var(--darkgray);
  color:                white;
}

// Green
.verylightgreen-background {
  background-color: var(--verylightgreen);
}

.lightgreen-background {
  background-color: var(--lightgreen);
}

.green-background {
  background-color: var(--green);
}

.darkgreen-background {
  background-color: var(--darkgreen);
}

.verydarkgreen-background {
  background-color: var(--verydarkgreen);
}

.superdarkgreen-background {
  --link-color:         white;
  --link-color-visited: white;
  background-color:     var(--superdarkgreen);
  color:                white;
}

// Orange
.verylightorange-background {
  background-color: var(--verylightorange);
}

.lightorange-background {
  background-color: var(--lightorange);
}

.orange-background {
  background-color: var(--orange);
}

.darkorange-background {
  --link-color:         white;
  --link-color-visited: white;
  background-color:     var(--darkorange);
  color:                white;
}

// Purple
.verylightpurple-background {
  background-color: var(--verylightpurple);
}

.lightpurple-background {
  --link-color:         white;
  --link-color-visited: white;
  background-color:     var(--lightpurple);
  color:                white;
}

.purple-background {
  --link-color:         white;
  --link-color-visited: white;
  background-color:     var(--purple);
  color:                white;
}

.darkpurple-background {
  --link-color:         white;
  --link-color-visited: white;
  background-color:     var(--darkpurple);
  color:                white;
}

.verydarkpurple-background {
  --link-color:         white;
  --link-color-visited: white;
  background-color:     var(--verydarkpurple);
  color:                white;
}

// Red
.verylightred-background {
  background-color: var(--verylightred);
}

.lightred-background {
  background-color: var(--lightred);
}

.red-background {
  --link-color:         white;
  --link-color-visited: white;
  background-color:     var(--red);
  color:                white;
}

.darkred-background {
  --link-color:         white;
  --link-color-visited: white;
  background-color:     var(--darkred);
  color:                white;
}

.verydarkred-background {
  --link-color:         white;
  --link-color-visited: white;
  background-color:     var(--verydarkred);
  color:                white;
}
