// Colors
//
// The following colors are available as CSS variables. This theme uses the default theme colors from Semantic UI.
//
// Weight: 3
//
// Styleguide Colors

:root {

  --color-lightness: 45%;

  // --blue
  //
  // $blue      - #007AE6; blue
  // $lightBlue - #1A94FF; light blue
  //
  // Styleguide Colors.blue
  --blue-hue:       208;
  --blue:           hsl(var(--blue-hue), 100%, var(--color-lightness));
  --lightBlue:      hsl(var(--blue-hue), 100%, calc(var(--color-lightness) + 10%));

  // --gray
  //
  // $gray - #757575
  //
  // Styleguide Colors.gray
  --gray-hue: 0;
  --gray:     hsl(var(--gray-hue), 0%, var(--color-lightness));

  // --green
  //
  // $green      - #00B353; green
  //
  // Styleguide Colors.green
  --green-hue:  calc(var(--blue-hue) - 60);
  --green:      hsl(var(--green-hue), 100%, calc(var(--color-lightness) - 10%));

  // --purple
  //
  // $purple - #6B00E6; purple
  //
  // Styleguide Colors.purple
  --purple-hue: calc(var(--blue-hue) + 60);
  --purple:     hsl(var(--purple-hue), 100%, var(--color-lightness));
  --darkPurple: hsl(var(--purple-hue), 100%, calc(var(--color-lightness) - 10%));

  // --red
  //
  // $red - #CC4949; red
  //
  // Styleguide Colors.red
  --red-hue: 0;
  --red:     hsl(var(--red-hue), 56%, calc(var(--color-lightness) + 9%));

  // --wugblue
  //
  // The color of the DLx wug
  //
  // $wugblue - #6FD1F6; wug blue
  //
  // Styleguide Colors.wugblue
  --wugblue: #6FD1F6;

}
