// Colors
//
// The following colors are available as CSS variables. This theme uses the default theme colors from Semantic UI.
//
// Weight: 3
//
// Styleguide Colors

:root {

  --color-lightness: 45%;

  // --blue
  //
  // Colors:
  // $blue      - hsl(208, 100%, 45%); blue
  // $lightBlue - hsl(208, 100%, 55%); light blue
  //
  // Styleguide Colors.blue
  --blue-hue:       208;
  --blue:           hsl(var(--blue-hue), 100%, var(--color-lightness));
  --lightBlue:      hsl(var(--blue-hue), 100%, calc(var(--color-lightness) + 10%));

  // --purple
  //
  // $purple - hsl(268, 100%, 45%); purple
  //
  // Styleguide Colors.purple
  --purple-hue: calc(var(--blue-hue) + 60);
  --purple:     hsl(var(--purple-hue), 100%, var(--color-lightness));
  --darkPurple: hsl(var(--purple-hue), 100%, calc(var(--color-lightness) - 10%));

  // --wugblue
  //
  // The color of the DLx wug
  //
  // $wugblue - #6FD1F6; wug blue
  //
  // Styleguide Colors.wugblue
  --wugblue: #6FD1F6;

}
