// Variables
//
// CSS custom variables
//
// Weight: 4
//
// Styleguide Variables

:root {


  // --measure
  //
  // The maximum width for blocks of text (60em)
  //
  // Styleguide Variables.measure
  --measure: 60em;


  // --padding-ipa
  //
  // Padding to use on either side of the brackets around transcriptions (`//`, `[]`, and `<>`)
  //
  // Styleguide Variables.padding-ipa
  --padding-transcription: 0.15em;


  // --underline
  //
  // Default underlining (using `border-bottom`). The underline color is unset. You may need to set it explicitly by using `border-color-bottom`. Usually, however, the underline will wind up being the same color as the font.
  //
  // Styleguide Variables.underline
  --underline: var(--line-width) solid;


  // --underline-transparent
  //
  // The styling for a transparent underline (avoids CSS flicker effects when adding an underline on :hover).
  //
  // Styleguide Variables.underline-transparent
  --underline-transparent: var(--line-width) solid transparent;


}
