/* Global Styles */
@import 'styles/variables.css';
@import 'styles/utilities.css';
@import 'styles/colors.css';
@import 'styles/fonts.css';
@import 'styles/typography.css';
@import 'styles/reset.css';
@import 'styles/prism.css';

/* Components for Main Layout */
@import 'components/Nav/Nav.css';

/* DLx Styles */
@import '../../../dlx.bundle.css';

:root {
  --p-margin: 0.75em;
}

a {

  cursor:      pointer;
  font-weight: 500;

  &:link {

    color: var(--blue);

    @media (prefers-color-scheme: dark) {
      color: var(--blue-4);
    }

  }

  &:visited {

    color: var(--purple);

    @media (prefers-color-scheme: dark) {
      color: var(--purple-4);
    }

  }

  &:hover {
    text-decoration-line: underline;
  }

}

body {
  align-items:     center;
  display:         flex;
  inline-size:     100%;
  max-inline-size: 100%;
}

cite {
  font-style: italic;
}

:is(li, p) code {

  background-color: #EEE;
  font-family:      var(--font-mono);

  /* Prism's Okaidia theme colors */
  @media (prefers-color-scheme: dark) {
    background-color: #272822;
    color:            #F8F8F2;
  }

}

details {
  display: flex;
}

em {
  font-style: italic;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight:         bold;
  padding-block-start: 0.5em;
}

h1 {
  font-size: xxx-large;
}

h2 {
  font-size: xx-large;
}

h3 {
  font-size: x-large;
}

h4 {
  font-size: large;
}

h5 {
  font-size: medium;
}

h6 {
  font-size: medium;
}

html {

  align-items:               center;
  font-family:               var(--font);
  font-size:                 100%;
  line-height:               1.5;
  scroll-behavior:           smooth;
  text-decoration-thickness: from-font;

  @media (prefers-color-scheme: dark) {
    background-color: var(--off-black);
    color:            var(--off-white);
  }

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }

}

i {
  font-style: italic;
}

/* Lists */

:is(ol, ul) {
  margin-block:        var(--p-margin);
  margin-inline-start: 1.5em;
}

:is(ol, ul) :is(ol, ul) {
  margin-block:    0;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

ul {
  list-style: disc outside none;
}

ul ul {
  list-style-type: circle;
}

li {
  display: list-item;
}

/* End Lists */

main {
  display:            block;
  margin-block-start: 2.5em;                      /* This adds clearance for the menu button. */
  max-inline-size:    min(var(--measure), 100%);
  padding:            1em;
}

.note {
  color:       red;
  font-weight: bold;
}

p {
  margin: var(--p-margin) 0;
}

pre {
  background-color: #EEE;
  border-radius:    var(--border-radius);
  overflow-x:       auto;
  padding:          1em;
  white-space:      pre;
}

.output {
  border:        1px solid #CCC;
  border-radius: var(--border-radius);
  box-shadow:    1px 1px 3px #CCC;
  padding:       1em;
}

summary {
  cursor:              pointer;
  display:             list-item;
  list-style-position: outside;
}

table {
  margin: auto;
}

:is(td, th) {
  border:  1px solid #CCC;
  padding: 0.5em;
}

th {
  background-color: #EEE;
  font-weight:      bold;
}
