// Details / Summary
//
// A collapsable `<details>` element, with an optional `<summary>` element. **NOTE:** Not currently supported on Edge.
//
// Markup: details.hbs
//
// Styleguide Components.details
.details {
  summary {
    align-items: center;
    display: flex; // TODO: remove this when flexbox-reset is updated
    flex-direction: row;
    font-weight: var(--bold);
    margin-left: -1em;
    min-width: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}
