@import 'typography/fonts.less';
@import (reference) 'emphasis/emphasis.less';
@import (reference) 'example/example.less';

// Examples
//
// A set of one or more linguistic examples. By convention, examples in linguistics publications are numbered (1), (2), (3), etc. To number the examples, wrap them in an `<ol class=examples>` tag, and place each example in a `<li class=ex>` element. All content within an example displays in a serif Unicode font by default; you may need to override the font family for individual elements. `<b>` and `<em>` tags within examples are styled with the `.em` class by default (see the [example emphasis](#kssref-components-emphasis) component).
//
// Markup: examples.html
//
// Styleguide components.examples
.exs, .examples {

  // --example-indent
  //
  // How far to indent each example. Controlling this value is useful when the number of examples on your page reaches multiple place values. Default: `1.5em`.
  //
  // Markup:
  // <ol class=examples style="counter-reset: examples 100;">
  //   <li class='ex A' style="--example-indent: 1.5em;">This is an example with <code>--example-indent</code> set to <code>1.5em</code>.</li>
  //   <li class='ex B' style="--example-indent: 2.5em;">This is an example with <code>--example-indent</code> set to <code>2.5em</code>.</li>
  // </ol>
  //
  // Styleguide components.examples.--example-indent
  --example-indent: 1.5em;

  .ex-header { .ex-header; }
  .ex-source { .ex-source; }

  font-family:     var(--font-unicode-serif);
  list-style-type: none;
  margin:          0em;
  padding:         0em;

  b, em, .em, .emphasis {
    .em;
  }

  .ex, .example {

    .ex;
    counter-increment:   examples;
    margin-block-end:    1em;
    margin-inline-start: var(--example-indent);
    position:            relative;

    &::before {
      content:             '(' counter(examples) ')';
      margin-inline-start: calc(var(--example-indent) * -1);
      position:            absolute;
    }

  }

  .subexs, .subexamples {

    margin-inline-start: 1.25em;
    padding:             0em;
    list-style-position: outside;
    list-style-type:     lower-alpha;

    li {
      display: list-item;
    }

  }

}
