// Examples
//
// A set of one or more examples in a document. Each set of examples should be an ordered list (`<ol>`), and each item within that list should have the class `.ex` (`<li class="ex">`). If the example is also an interlinear gloss, the `.igl` class must be added as well (`<li class="ex igl">`). You may also need to reset the `examples` counter at the beginning of the document (`counter-reset: examples;`; note that the `.ling-document` class does this for you automatically).
//
// Markup: examples.hbs
//
// Styleguide Components.examples
.examples {

  // Example Indent
  //
  // How far each example should be indented from the left edge.
  //
  // Styleguide Components.examples.example-indent
  --example-indent: 2.5em;

  list-style-position: outside;
  list-style-type:     none;

  // Subexamples
  //
  // Examples may have subexamples consisting of an embedded ordered list.
  //
  // Styleguide Components.examples.subexamples
  .subexamples {

    margin-left:         1.25em;
    list-style-position: outside;
    list-style-type:     lower-alpha;

    li {
      display: list-item;
    }

  }

}
