@import (reference) '../../semantic/src/themes/default/globals/site.variables';

// Inline Code
//
// The `<code>` element is used for inline code blocks (use the `<pre>` element for standalone code blocks).
//
// Markup: code.hbs
//
// Styleguide Components.code
.code {
  background-color: @strongTransparentBlack;
  border-radius:    @relativeBorderRadius;
  font-family:      var(--font-mono);
  font-style:       normal;
  margin:           0;
  padding:          var(--padding-text);
  white-space:      pre-line;
}
