.abbr,
.abbreviation {
  cursor: help;
  text-decoration: dotted underline;
  text-underline-position: under;
}
.cite {
  font-style: italic;
}
.dfn,
.definition {
  font-style: italic;
}
.ling-document {
  counter-reset: examples;
  font-family: var(--font-unicode-serif);
}
.ling-document abbr,
.ling-document .abbr,
.ling-document .abbreviation {
  cursor: help;
  text-decoration: dotted underline;
  text-underline-position: under;
}
.ling-document cite,
.ling-document .cite {
  font-style: italic;
}
.ling-document dfn,
.ling-document .dfn,
.ling-document .definition {
  font-style: italic;
}
.ling-document .ex,
.ling-document .example {
  display: flow-root;
  font-family: var(--font-unicode-serif);
  line-height: 1.5;
}
.ling-document .ex b,
.ling-document .example b,
.ling-document .ex em,
.ling-document .example em,
.ling-document .ex .em,
.ling-document .example .em,
.ling-document .ex .emphasis,
.ling-document .example .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.ling-document .ex-header {
  margin: 0em;
  padding: 0em;
  text-decoration: underline;
  text-underline-position: under;
}
.ling-document .ex-source {
  float: right;
  float: inline-end;
  margin: 0em;
  padding: 0em;
}
.ling-document .ex-source::before {
  content: '(';
}
.ling-document .ex-source::after {
  content: ')';
}
.ling-document .exs,
.ling-document .examples {
  --example-indent: 1.5em;
  font-family: var(--font-unicode-serif);
  list-style-type: none;
  margin: 0em;
  padding: 0em;
}
.ling-document .exs .ex-header,
.ling-document .examples .ex-header {
  margin: 0em;
  padding: 0em;
  text-decoration: underline;
  text-underline-position: under;
}
.ling-document .exs .ex-source,
.ling-document .examples .ex-source {
  float: right;
  float: inline-end;
  margin: 0em;
  padding: 0em;
}
.ling-document .exs .ex-source::before,
.ling-document .examples .ex-source::before {
  content: '(';
}
.ling-document .exs .ex-source::after,
.ling-document .examples .ex-source::after {
  content: ')';
}
.ling-document .exs b,
.ling-document .examples b,
.ling-document .exs em,
.ling-document .examples em,
.ling-document .exs .em,
.ling-document .examples .em,
.ling-document .exs .emphasis,
.ling-document .examples .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.ling-document .exs .ex,
.ling-document .examples .ex,
.ling-document .exs .example,
.ling-document .examples .example {
  display: flow-root;
  font-family: var(--font-unicode-serif);
  line-height: 1.5;
  counter-increment: examples;
  margin-block-end: 1em;
  margin-inline-start: var(--example-indent);
  position: relative;
}
.ling-document .exs .ex b,
.ling-document .examples .ex b,
.ling-document .exs .example b,
.ling-document .examples .example b,
.ling-document .exs .ex em,
.ling-document .examples .ex em,
.ling-document .exs .example em,
.ling-document .examples .example em,
.ling-document .exs .ex .em,
.ling-document .examples .ex .em,
.ling-document .exs .example .em,
.ling-document .examples .example .em,
.ling-document .exs .ex .emphasis,
.ling-document .examples .ex .emphasis,
.ling-document .exs .example .emphasis,
.ling-document .examples .example .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.ling-document .exs .ex::before,
.ling-document .examples .ex::before,
.ling-document .exs .example::before,
.ling-document .examples .example::before {
  content: '(' counter(examples) ')';
  margin-inline-start: calc(var(--example-indent) * -1);
  position: absolute;
}
.ling-document .exs .subexs,
.ling-document .examples .subexs,
.ling-document .exs .subexamples,
.ling-document .examples .subexamples {
  margin-inline-start: 1.25em;
  padding: 0em;
  list-style-position: outside;
  list-style-type: lower-alpha;
}
.ling-document .exs .subexs li,
.ling-document .examples .subexs li,
.ling-document .exs .subexamples li,
.ling-document .examples .subexamples li {
  display: list-item;
}
.ling-document .fon,
.ling-document .phonetic {
  --txn-padding: 0.15em;
  font-family: var(--font-unicode-serif);
}
.ling-document .fon b,
.ling-document .phonetic b,
.ling-document .fon em,
.ling-document .phonetic em,
.ling-document .fon .em,
.ling-document .phonetic .em,
.ling-document .fon .emphasis,
.ling-document .phonetic .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.ling-document .fon::before,
.ling-document .phonetic::before {
  content: '[';
  padding-right: var(--txn-padding);
}
.ling-document .fon::after,
.ling-document .phonetic::after {
  content: ']';
  padding-left: var(--txn-padding);
}
.ling-document .gl,
.ling-document .gloss {
  font-variant: small-caps;
  text-decoration: none;
}
.ling-document .inex,
.ling-document .inline-ex {
  --txn-padding: 0.15em;
  font-family: var(--font-unicode-serif);
  font-style: italic;
}
.ling-document .inex b,
.ling-document .inline-ex b,
.ling-document .inex em,
.ling-document .inline-ex em,
.ling-document .inex .em,
.ling-document .inline-ex .em,
.ling-document .inex .emphasis,
.ling-document .inline-ex .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.ling-document .inex b,
.ling-document .inline-ex b,
.ling-document .inex em,
.ling-document .inline-ex em,
.ling-document .inex .em,
.ling-document .inline-ex .em,
.ling-document .inex .emphasis,
.ling-document .inline-ex .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.ling-document .igl,
.ling-document .interlinear {
  --igl-indent: 0em;
  --igl-horizontal-spacing: 1.25em;
  --igl-vertical-spacing: 0.25em;
  font-family: var(--font-unicode-serif);
  line-height: 1.5;
}
.ling-document .igl abbr,
.ling-document .interlinear abbr,
.ling-document .igl .gl,
.ling-document .interlinear .gl,
.ling-document .igl .gloss,
.ling-document .interlinear .gloss {
  font-variant: small-caps;
  text-decoration: none;
}
.ling-document .igl b,
.ling-document .interlinear b,
.ling-document .igl em,
.ling-document .interlinear em,
.ling-document .igl .em,
.ling-document .interlinear .em,
.ling-document .igl .emphasis,
.ling-document .interlinear .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.ling-document .igl .ex-header,
.ling-document .interlinear .ex-header {
  margin: 0em;
  padding: 0em;
  text-decoration: underline;
  text-underline-position: under;
  margin-block-end: var(--igl-vertical-spacing);
}
.ling-document .igl .ex-source,
.ling-document .interlinear .ex-source {
  float: right;
  float: inline-end;
  margin: 0em;
  padding: 0em;
}
.ling-document .igl .ex-source::before,
.ling-document .interlinear .ex-source::before {
  content: '(';
}
.ling-document .igl .ex-source::after,
.ling-document .interlinear .ex-source::after {
  content: ')';
}
.ling-document .igl .morphemes,
.ling-document .interlinear .morphemes,
.ling-document .igl .words,
.ling-document .interlinear .words {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0em;
  margin-inline-start: var(--igl-indent);
  padding: 0em;
}
.ling-document .igl .morpheme,
.ling-document .interlinear .morpheme,
.ling-document .igl .word,
.ling-document .interlinear .word {
  display: flex;
  flex-direction: column;
  margin-block-end: var(--igl-vertical-spacing);
}
.ling-document .igl .morpheme > *,
.ling-document .interlinear .morpheme > *,
.ling-document .igl .word > *,
.ling-document .interlinear .word > * {
  margin: 0em;
  padding: 0em;
}
.ling-document .igl li + li,
.ling-document .interlinear li + li,
.ling-document .igl .morpheme + .morpheme,
.ling-document .interlinear .morpheme + .morpheme,
.ling-document .igl .word + .word,
.ling-document .interlinear .word + .word {
  margin-inline-start: var(--igl-horizontal-spacing);
}
.ling-document .igl .txn,
.ling-document .interlinear .txn,
.ling-document .igl .transcription,
.ling-document .interlinear .transcription {
  --txn-padding: 0.15em;
  font-family: var(--font-unicode-serif);
  margin: 0em;
  margin-block-end: var(--igl-vertical-spacing);
  padding: 0em;
}
.ling-document .igl .txn b,
.ling-document .interlinear .txn b,
.ling-document .igl .transcription b,
.ling-document .interlinear .transcription b,
.ling-document .igl .txn em,
.ling-document .interlinear .txn em,
.ling-document .igl .transcription em,
.ling-document .interlinear .transcription em,
.ling-document .igl .txn .em,
.ling-document .interlinear .txn .em,
.ling-document .igl .transcription .em,
.ling-document .interlinear .transcription .em,
.ling-document .igl .txn .emphasis,
.ling-document .interlinear .txn .emphasis,
.ling-document .igl .transcription .emphasis,
.ling-document .interlinear .transcription .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.ling-document .igl .tln,
.ling-document .interlinear .tln,
.ling-document .igl .translation,
.ling-document .interlinear .translation {
  quotes: '‘' '’' '“' '”';
  margin: 0em;
  padding: 0em;
}
.ling-document .igl .tln::before,
.ling-document .interlinear .tln::before,
.ling-document .igl .translation::before,
.ling-document .interlinear .translation::before {
  content: open-quote;
}
.ling-document .igl .tln::after,
.ling-document .interlinear .tln::after,
.ling-document .igl .translation::after,
.ling-document .interlinear .translation::after {
  content: close-quote;
}
.ling-document .ortho,
.ling-document .orthographic {
  --txn-padding: 0.15em;
  font-family: var(--font-unicode-serif);
}
.ling-document .ortho b,
.ling-document .orthographic b,
.ling-document .ortho em,
.ling-document .orthographic em,
.ling-document .ortho .em,
.ling-document .orthographic .em,
.ling-document .ortho .emphasis,
.ling-document .orthographic .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.ling-document .ortho b,
.ling-document .orthographic b,
.ling-document .ortho em,
.ling-document .orthographic em,
.ling-document .ortho .em,
.ling-document .orthographic .em,
.ling-document .ortho .emphasis,
.ling-document .orthographic .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.ling-document .ortho::before,
.ling-document .orthographic::before {
  content: '⟨';
  padding-right: var(--txn-padding);
}
.ling-document .ortho::after,
.ling-document .orthographic::after {
  content: '⟩';
  padding-left: var(--txn-padding);
}
.ling-document .phon,
.ling-document .phonemic {
  --txn-padding: 0.15em;
  font-family: var(--font-unicode-serif);
}
.ling-document .phon b,
.ling-document .phonemic b,
.ling-document .phon em,
.ling-document .phonemic em,
.ling-document .phon .em,
.ling-document .phonemic .em,
.ling-document .phon .emphasis,
.ling-document .phonemic .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.ling-document .phon::before,
.ling-document .phonemic::before {
  content: '/';
  padding-right: var(--txn-padding);
}
.ling-document .phon::after,
.ling-document .phonemic::after {
  content: '/';
  padding-left: var(--txn-padding);
}
.ling-document i,
.ling-document .txn,
.ling-document .transcription {
  --txn-padding: 0.15em;
  font-family: var(--font-unicode-serif);
}
.ling-document i b,
.ling-document .txn b,
.ling-document .transcription b,
.ling-document i em,
.ling-document .txn em,
.ling-document .transcription em,
.ling-document i .em,
.ling-document .txn .em,
.ling-document .transcription .em,
.ling-document i .emphasis,
.ling-document .txn .emphasis,
.ling-document .transcription .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.ling-document q,
.ling-document .tln,
.ling-document .translation {
  quotes: '‘' '’' '“' '”';
}
.ling-document q::before,
.ling-document .tln::before,
.ling-document .translation::before {
  content: open-quote;
}
.ling-document q::after,
.ling-document .tln::after,
.ling-document .translation::after {
  content: close-quote;
}
.em,
.emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.ex,
.example {
  display: flow-root;
  font-family: var(--font-unicode-serif);
  line-height: 1.5;
}
.ex b,
.example b,
.ex em,
.example em,
.ex .em,
.example .em,
.ex .emphasis,
.example .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.ex-header {
  margin: 0em;
  padding: 0em;
  text-decoration: underline;
  text-underline-position: under;
}
.ex-source {
  float: right;
  float: inline-end;
  margin: 0em;
  padding: 0em;
}
.ex-source::before {
  content: '(';
}
.ex-source::after {
  content: ')';
}
.exs,
.examples {
  --example-indent: 1.5em;
  font-family: var(--font-unicode-serif);
  list-style-type: none;
  margin: 0em;
  padding: 0em;
}
.exs .ex-header,
.examples .ex-header {
  margin: 0em;
  padding: 0em;
  text-decoration: underline;
  text-underline-position: under;
}
.exs .ex-source,
.examples .ex-source {
  float: right;
  float: inline-end;
  margin: 0em;
  padding: 0em;
}
.exs .ex-source::before,
.examples .ex-source::before {
  content: '(';
}
.exs .ex-source::after,
.examples .ex-source::after {
  content: ')';
}
.exs b,
.examples b,
.exs em,
.examples em,
.exs .em,
.examples .em,
.exs .emphasis,
.examples .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.exs .ex,
.examples .ex,
.exs .example,
.examples .example {
  display: flow-root;
  font-family: var(--font-unicode-serif);
  line-height: 1.5;
  counter-increment: examples;
  margin-block-end: 1em;
  margin-inline-start: var(--example-indent);
  position: relative;
}
.exs .ex b,
.examples .ex b,
.exs .example b,
.examples .example b,
.exs .ex em,
.examples .ex em,
.exs .example em,
.examples .example em,
.exs .ex .em,
.examples .ex .em,
.exs .example .em,
.examples .example .em,
.exs .ex .emphasis,
.examples .ex .emphasis,
.exs .example .emphasis,
.examples .example .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.exs .ex::before,
.examples .ex::before,
.exs .example::before,
.examples .example::before {
  content: '(' counter(examples) ')';
  margin-inline-start: calc(var(--example-indent) * -1);
  position: absolute;
}
.exs .subexs,
.examples .subexs,
.exs .subexamples,
.examples .subexamples {
  margin-inline-start: 1.25em;
  padding: 0em;
  list-style-position: outside;
  list-style-type: lower-alpha;
}
.exs .subexs li,
.examples .subexs li,
.exs .subexamples li,
.examples .subexamples li {
  display: list-item;
}
.gl,
.gloss {
  font-variant: small-caps;
  text-decoration: none;
}
.inex,
.inline-ex {
  --txn-padding: 0.15em;
  font-family: var(--font-unicode-serif);
  font-style: italic;
}
.inex b,
.inline-ex b,
.inex em,
.inline-ex em,
.inex .em,
.inline-ex .em,
.inex .emphasis,
.inline-ex .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.inex b,
.inline-ex b,
.inex em,
.inline-ex em,
.inex .em,
.inline-ex .em,
.inex .emphasis,
.inline-ex .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.igl,
.interlinear {
  --igl-indent: 0em;
  --igl-horizontal-spacing: 1.25em;
  --igl-vertical-spacing: 0.25em;
  font-family: var(--font-unicode-serif);
  line-height: 1.5;
}
.igl abbr,
.interlinear abbr,
.igl .gl,
.interlinear .gl,
.igl .gloss,
.interlinear .gloss {
  font-variant: small-caps;
  text-decoration: none;
}
.igl b,
.interlinear b,
.igl em,
.interlinear em,
.igl .em,
.interlinear .em,
.igl .emphasis,
.interlinear .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.igl .ex-header,
.interlinear .ex-header {
  margin: 0em;
  padding: 0em;
  text-decoration: underline;
  text-underline-position: under;
  margin-block-end: var(--igl-vertical-spacing);
}
.igl .ex-source,
.interlinear .ex-source {
  float: right;
  float: inline-end;
  margin: 0em;
  padding: 0em;
}
.igl .ex-source::before,
.interlinear .ex-source::before {
  content: '(';
}
.igl .ex-source::after,
.interlinear .ex-source::after {
  content: ')';
}
.igl .morphemes,
.interlinear .morphemes,
.igl .words,
.interlinear .words {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0em;
  margin-inline-start: var(--igl-indent);
  padding: 0em;
}
.igl .morpheme,
.interlinear .morpheme,
.igl .word,
.interlinear .word {
  display: flex;
  flex-direction: column;
  margin-block-end: var(--igl-vertical-spacing);
}
.igl .morpheme > *,
.interlinear .morpheme > *,
.igl .word > *,
.interlinear .word > * {
  margin: 0em;
  padding: 0em;
}
.igl li + li,
.interlinear li + li,
.igl .morpheme + .morpheme,
.interlinear .morpheme + .morpheme,
.igl .word + .word,
.interlinear .word + .word {
  margin-inline-start: var(--igl-horizontal-spacing);
}
.igl .txn,
.interlinear .txn,
.igl .transcription,
.interlinear .transcription {
  --txn-padding: 0.15em;
  font-family: var(--font-unicode-serif);
  margin: 0em;
  margin-block-end: var(--igl-vertical-spacing);
  padding: 0em;
}
.igl .txn b,
.interlinear .txn b,
.igl .transcription b,
.interlinear .transcription b,
.igl .txn em,
.interlinear .txn em,
.igl .transcription em,
.interlinear .transcription em,
.igl .txn .em,
.interlinear .txn .em,
.igl .transcription .em,
.interlinear .transcription .em,
.igl .txn .emphasis,
.interlinear .txn .emphasis,
.igl .transcription .emphasis,
.interlinear .transcription .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.igl .tln,
.interlinear .tln,
.igl .translation,
.interlinear .translation {
  quotes: '‘' '’' '“' '”';
  margin: 0em;
  padding: 0em;
}
.igl .tln::before,
.interlinear .tln::before,
.igl .translation::before,
.interlinear .translation::before {
  content: open-quote;
}
.igl .tln::after,
.interlinear .tln::after,
.igl .translation::after,
.interlinear .translation::after {
  content: close-quote;
}
.ortho,
.orthographic {
  --txn-padding: 0.15em;
  font-family: var(--font-unicode-serif);
}
.ortho b,
.orthographic b,
.ortho em,
.orthographic em,
.ortho .em,
.orthographic .em,
.ortho .emphasis,
.orthographic .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.ortho b,
.orthographic b,
.ortho em,
.orthographic em,
.ortho .em,
.orthographic .em,
.ortho .emphasis,
.orthographic .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.ortho::before,
.orthographic::before {
  content: '⟨';
  padding-right: var(--txn-padding);
}
.ortho::after,
.orthographic::after {
  content: '⟩';
  padding-left: var(--txn-padding);
}
.phon,
.phonemic {
  --txn-padding: 0.15em;
  font-family: var(--font-unicode-serif);
}
.phon b,
.phonemic b,
.phon em,
.phonemic em,
.phon .em,
.phonemic .em,
.phon .emphasis,
.phonemic .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.phon::before,
.phonemic::before {
  content: '/';
  padding-right: var(--txn-padding);
}
.phon::after,
.phonemic::after {
  content: '/';
  padding-left: var(--txn-padding);
}
.fon,
.phonetic {
  --txn-padding: 0.15em;
  font-family: var(--font-unicode-serif);
}
.fon b,
.phonetic b,
.fon em,
.phonetic em,
.fon .em,
.phonetic .em,
.fon .emphasis,
.phonetic .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.fon::before,
.phonetic::before {
  content: '[';
  padding-right: var(--txn-padding);
}
.fon::after,
.phonetic::after {
  content: ']';
  padding-left: var(--txn-padding);
}
.txn,
.transcription {
  --txn-padding: 0.15em;
  font-family: var(--font-unicode-serif);
}
.txn b,
.transcription b,
.txn em,
.transcription em,
.txn .em,
.transcription .em,
.txn .emphasis,
.transcription .emphasis {
  color: var(--em-color);
  font-weight: bold;
}
.tln,
.translation {
  quotes: '‘' '’' '“' '”';
}
.tln::before,
.translation::before {
  content: open-quote;
}
.tln::after,
.translation::after {
  content: close-quote;
}
