<section class=reference-list>

  <h2>Reference List</h2>

  <p>This is a paragraph giving a short description of this reference list.</p>

  <ol>

    <li>
      <p>Hall, Patrick J. 2014. <cite>Serialization and hierarchy: From data to corpus in linguistic fieldwork</cite>. M.A. thesis. Linguistics, University of California, Santa Barbara.</p>
    </li>

    <li>
      <p>Hieber, Daniel W. 2015. Review: Endangered languages &amp; new technologies (Jones). <cite>Language Documentation &amp; Conservation</cite> 9: 344–350.</p>
    </li>

  </ol>

</section>
