body {
  padding: 2rem;
}

.color {

  align-items: center;
  flex-direction: row;
  padding: 0.25em 0em;

  span {
    display: flex;
    align-items: flex-start;
    width: 15em;
  }

}

#colors {

  p {
    padding: 0.5em 0em;
  }

  section {
    padding: 0.5em 1em;
  }

}

#colors section {
  align-items: center;
  padding: 0.5em 1em;
}

.patterns-h1,
.patterns-h2,
{
  padding: 1em;
  text-align: center;
}

.patterns-h1 {
  font-size: 3em;
}

.patterns-h2 {
  font-size: 2em;
}

.swatch {
  cursor: pointer;
  padding: 0.5em 1em;
}
