body {
  padding: 2rem;
}

.color {

  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25em 0em;

  span {
    align-items: flex-start;
    display: flex;
  }

}

#colors {

  p {
    padding: 0.5em 0em;
  }

  section {
    align-items: stretch;
    max-width: 30rem;
    padding: 0.5em 1em;
  }

}

.rendered {
  align-items: flex-start;
}

.swatch {
  cursor: pointer;
  padding: 0.5em 1em;
}

// styling for specific patterns
.button-example .rendered {
  button,
  input[type=button],
  {
    margin: 0.25em 0em;
  }
}
