// Example Source
//
// Examples may have a source, containing information about where the example is from (the speaker, location in the text, geographic region, etc.). See the [example component](#kssref-components-example) for a demonstration of a source being used in an example.
//
// Styleguide components.example.source
.ex-source {
  float               : right;       // fallback for inline-end
  float               : inline-end;
  margin-block        : 0em;
  padding-inline-start: 0.25em;
}
