@import 'components/transcription/transcription.less';
@import 'components/translation/translation.less';

// Interlinear Gloss
//
// An interlinear glossed example or utterance. In addition to transcription (`<p class=txn>`) and translation (`<p class=tln>`) lines, you can choose to add analysis lines grouped by words (`<ol class=words>`) or morphemes (`<ol class=morphemes>`).
//
// Markup: interlinear.hbs
//
// Styleguide Components.interlinear
.igl {

  // --igl-indent
  //
  // The amount to indent the words / morpheme breakdowns. The transcription and translation lines (the first and last lines) will be left unindented.
  //
  // Styleguide Components.interlinear.igl-indent
  --igl-indent: 0;

  // --igl-horizontal-spacing
  //
  // The amount of space to place between words / morphemes in the analysis lines.
  //
  // Styleguide Components.interlinear.igl-horizontal-spacing
  --igl-horizontal-spacing: 1.25em;
  --igl-horizontal-spacing: var(--space-md);

  // --igl-vertical-spacing
  //
  // The amount of space to place above and below the words / morphemes in the analysis lines.
  //
  // Styleguide Components.interlinear.igl-vertical-spacing
  --igl-vertical-spacing: 0.25em;
  --igl-vertical-spacing: var(--space-xxxs);

  display:     block;
  font-family: var(--font-unicode);
  line-height: 1.5;

  p {
    margin:  0;
    padding: 0;
  }

  &::after {
    clear:   both;
    content: '';
    display: block;
    height:  0;
    width:   100%;
  }

  // Grammatical Gloss
  //
  // The `<abbr>` tag is used for grammatical glosses, in small caps.
  //
  // Styleguide Components.interlinear.gloss
  abbr {
    cursor:          help;
    font-variant:    small-caps;
    text-decoration: none; /* Removes user agent styling of abbr elements */
  }

  // Example Emphasis
  //
  // You can emphasize any portion of an interlinear example with the `<em>` tag.
  //
  // Styleguide Components.interlinear.emphasis
  em {
    // The --em-color is not set by the .igl class
    // Users can set this externally
    color:        var(--em-color);
    font-style:   normal;
    font-variant: normal;
    font-weight:  bold;
  }

  li + li {
    margin-left: var(--igl-horizontal-spacing);
  }

  .txn {
    margin-bottom: var(--igl-vertical-spacing);
  }

  .morpheme,
  .word {
    margin-bottom: var(--igl-vertical-spacing);
  }

  .morphemes,
  .words {
    display:     flex;
    flex-flow:   row wrap;
    list-style:  none;
    margin:      0;
    margin-left: var(--igl-indent);
    padding:     0;
  }

}
