<div class=igl>

  <p class=ex-header>Chitimacha (isolate)</p>

  <p class=txn>siksi<em>nk</em> his heːčtiʔi</p>

  <ol class=words>

    <li class=word>
      <span class=w-m>siksi‑<em>nk</em></span>
      <span class=w-gl>eagle‑<abbr title=unknown>??</abbr></span>
    </li>

    <li class=word>
      <span class=w-m>his</span>
      <span class=w-gl><abbr title=responsive>resp</abbr></span>
    </li>

    <li class=word>
      <span class=w-m>heːčt‑iʔi</span>
      <span class=w-gl>call‑<abbr title=non-first>nf</abbr>;<abbr title=singular>sg</abbr></span>
    </li>

  </ol>

  <p class=tln>an eagle met him</p>

  <p class=ex-source>Swadesh 1939b: A1b.1</p>

</div>

<div class=igl>

  <p class=ex-header>Menominee (Algonquian)</p>

  <p class=txn>pemētaehkipew</p>

  <ol class=morphemes>

    <li class=morpheme>
      <span class=m-txn>paemet‑</span>
      <span class=m-gl>crosswise</span>
      <span class=m-gl><abbr title=initial>initial</abbr></span>
    </li>

    <li class=morpheme>
      <span class=m-txn>‑aehkw‑</span>
      <span class=m-gl>face</span>
      <span class=m-gl><abbr title=medial>medial</abbr></span>
    </li>

    <li class=morpheme>
      <span class=m-txn>‑ape</span>
      <span class=m-gl>sit</span>
      <span class=m-gl><abbr title=final>final</abbr></span>
    </li>

  </ol>

  <p class=tln>S/he sits sideways.</p>

</div>

<div class=igl>

  <p class=ex-header>Mohawk (Iroquoian)</p>

  <ol class=words>

    <li class=word>
      <span class=w-txn>wa’óhtero<b>n’</b>ne’</span>
      <span class=w-m>wa’‑io‑hteron‑<b>’n</b>‑e‑’</span>
      <span class=w-gl><abbr title=factual>fac</abbr>‑<abbr title=neuter>n</abbr>.<abbr title=patient>pat</abbr>‑be.afraid‑<b><abbr title=inchoative>inch</abbr></b>‑<abbr title=epenthetic>ep</abbr>‑<abbr title=punctual>pct</abbr></span>
      <span class=w-tln></span>
    </li>

    <li class=word>
      <span class=w-txn>nòn:wa</span>
      <span class=w-m>nonhwa</span>
      <span class=w-gl>now</span>
      <span class=w-tln></span>
    </li>

    <li class=word>
      <span class=w-txn>ne’</span>
      <span class=w-m>ne’</span>
      <span class=w-gl>it.is</span>
      <span class=w-tln></span>
    </li>

    <li class=word>
      <span class=w-txn>kí:ken</span>
      <span class=w-m>kiken</span>
      <span class=w-gl>this</span>
      <span class=w-tln></span>
    </li>

    <li class=word>
      <span class=w-txn>enkahón:io<b>’n</b>e’</span>
      <span class=w-m>en‑ka‑honw‑o‑<b>’n</b>‑e‑’</span>
      <span class=w-gl><abbr title=future>fut</abbr>‑<abbr title=neuter>n</abbr>.<abbr title=agent>agt</abbr>‑vessel‑be.in.water‑<b><abbr title=inchoative>inch</abbr></b>‑<abbr title=epenthetic>ep</abbr>‑<abbr title=punctual>pct</abbr></span>
      <span class=w-tln>it will become immersed</span>
    </li>

    <li class=word>
      <span class=w-txn>tho</span>
      <span class=w-m>tho</span>
      <span class=w-gl>there</span>
      <span class=w-tln>there</span>
    </li>

    <li class=word>
      <span class=w-txn>enhaia’tarátie’</span>
      <span class=w-m>en‑ha‑ia’t‑a‑r‑ati‑e’</span>
      <span class=w-gl><abbr title=future>fut</abbr>‑<abbr title=masculine>m</abbr>.<abbr title=singular>sg</abbr>.<abbr title=agent>agt</abbr>‑body‑<abbr title='stem joiner'>jr</abbr>‑be.in‑<abbr title=progressive>prog</abbr>‑<abbr title=stative>st</abbr></span>
      <span class=w-tln>he will be going along in it</span>
    </li>

  </ol>

  <p class=tln>She became afraid that the ship would sink and that he would go with it.</p>

  <p class=ex-source>L Jacob (Ks), SM Montour (Ks), KH Nicholas (Ks)</p>

</div>
