<div class=igl>

  <p class=txn>siksi<em>nk</em> his heːčtiʔi</p>

  <ul class=words>

    <li class=word>
      <p class=word-txn>siksi‑<em>nk</em></p>
      <p class=word-gl>eagle‑<abbr title=unknown class=gl>??</abbr></p>
    </li>

    <li class=word>
      <p class=word-txn>his</p>
      <p class=word-gl><abbr title=responsive class=gl>resp</abbr></p>
    </li>

    <li class=word>
      <p class=word-txn>heːčt‑iʔi</p>
      <p class=word-gl>call‑<abbr title=non-first class=gl>nf</abbr>;<abbr title=singular class=gl>sg</abbr></p>
    </li>

  </ul>

  <p class=tln>an eagle met him</p>

  <p class=source>Swadesh 1939b: A1b.1</p>

</div>
