<div class=igl>

  <p class=ex-header>Chitimacha (isolate)</p>

  <p class=txn>siksi<em>nk</em> his heːčtiʔi</p>

  <ol class=words>

    <li class=word>
      <p class=word-m>siksi‑<em>nk</em></p>
      <p class=word-gl>eagle‑<abbr title=unknown>??</abbr></p>
    </li>

    <li class=word>
      <p class=word-m>his</p>
      <p class=word-gl><abbr title=responsive>resp</abbr></p>
    </li>

    <li class=word>
      <p class=word-m>heːčt‑iʔi</p>
      <p class=word-gl>call‑<abbr title=non-first>nf</abbr>;<abbr title=singular>sg</abbr></p>
    </li>

  </ol>

  <p class=tln>an eagle met him</p>

  <p class=ex-source>Swadesh 1939b: A1b.1</p>

</div>

<div class=igl>

  <p class=ex-header>Menominee (Algonquian)</p>

  <p class=txn>pemētaehkipew</p>

  <ol class=morphemes>

    <li class=morpheme>
      <p class=m-txn>paemet‑</p>
      <p class=m-gl>crosswise</p>
      <p class=m-gl><abbr title=initial>initial</abbr></p>
    </li>

    <li class=morpheme>
      <p class=m-txn>‑aehkw‑</p>
      <p class=m-gl>face</p>
      <p class=m-gl><abbr title=medial>medial</abbr></p>
    </li>

    <li class=morpheme>
      <p class=m-txn>‑ape</p>
      <p class=m-gl>sit</p>
      <p class=m-gl><abbr title=final>final</abbr></p>
    </li>

  </ol>

  <p class=tln>S/he sits sideways.</p>

</div>
