<div class='ex demo'>

  <p class=ex-header>Abstract nouns: <i class=txn lang=crk>‑win</i> / <i class=txn lang=crk>‑owin</i></p>

  <p><i class=txn lang=crk>kisēwātisi</i> <q class=tln>be kind</q> + <i class=txn lang=crk>‑win</i> = <i class=txn lang=crk>kisēwātisiwin</i> <q class=tln>kindness</q></p>
  <p><i class=txn lang=crk>nēhiyawē</i> <q class=tln>speak Cree</q> + <i class=txn lang=crk>‑win</i> = <i class=txn lang=crk>nēhiyawēwin</i> <q class=tln>Cree language</q></p>
  <p><i class=txn lang=crk>ākayāsīmo</i> <q class=tln>speak English</q> + <i class=txn lang=crk>‑win</i> = <i class=txn lang=crk>ākayāsīmowin</i> <q class=tln>English language</q></p>
  <p><i class=txn lang=crk>māsihito</i> <q class=tln>wrestle one another</q> + <i class=txn lang=crk>‑win</i> = <i class=txn lang=crk>māsihitowin</i> <q class=tln>wrestling</q></p>
  <p><i class=txn lang=crk>sākihito</i> <q class=tln>love one another</q> + <i class=txn lang=crk>‑win</i> = <i class=txn lang=crk>sākihitowin</i> <q class=tln>love</q></p>
  <p><i class=txn lang=crk>kihcēyihtam</i> <q class=tln>s/he has respect for it</q> + <i class=txn lang=crk>‑owin</i> = <i class=txn lang=crk>kihcēyihtamowin</i> <q class=tln>respect</q></p>

  <p class=ex-source>Okimāsis. 2018. <cite>Cree: Language of the Plains / nehiyawewin: paskwāwi-pīkiskwēwin</cite></p>

</div>
