// Typography
//
// These are the primary fonts used in DLx projects. Other fonts may be used as appropriate when representing linguistic data; however, fonts used for actual DLx interfaces should be limited to the ones shown here. Projects should use a line height of 1.5.
//
// Weight: 1
//
// Styleguide Typography

@path: 'https://cdn.digitallinguistics.io/fonts';

// Cannot use CSS variables for these - it breaks the @font-face declarations
@font-family:         'Fira Sans';
@font-family-mono:    'Fira Sans Mono';
@font-family-unicode: 'Charis SIL';

:root {

  --font:
    'Fira Sans',
    'Noto Sans',
    'Source Sans Pro',
    'Segoe UI',
    Roboto,
    'Lucida Sans Unicode',
    'Lucida Grande',
    'DejaVu Sans',
    'Open Sans',
    sans-serif;

  --font-mono:
    'Fira Mono',
    'Consolas',
    'Monaco',
    'DejaVu Sans Mono',
    'Courier New',
    monospace;

  --font-unicode:
    'Charis SIL',
    'Gentium Plus',
    'Doulos SIL',
    'Linux Libertine',
    'Andika',
    'Source Serif Pro',
    'Noto Serif',
    'Source Sans Pro',
    'Lucida Sans Unicode',
    'Times New Roman',
    serif;

  // Set font display values
  --font-display:          fallback;
  --font-display-critical: swap;

  // Set base values for typography
  --text-base-size:     1em;
  --text-border-radius: 0.375em;
  --text-scale-ratio:   1.2;

  // Type scale
  --text-xs:   calc(1em / var(--text-scale-ratio) / var(--text-scale-ratio));
  --text-sm:   calc(1em / var(--text-scale-ratio));
  --text-md:   calc(1em * var(--text-scale-ratio));
  --text-lg:   calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl:   calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl:  calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

  // Padding
  --text-padding:    0.25em 0.5em;
  --text-padding-lg: 0.5em 1em;
  
}

// Fira Sans
//
// The Fira Sans set of fonts (developed by Mozilla) are the primary fonts used for DLx interfaces.
//
// Weight: 1
//
// Styleguide Typography.FiraSans

// Fira Sans Light
//
// Markup:
// <p style="font-family: 'Fira Sans'; font-weight: 300;"><strong style="font-weight: 500;">Fira Sans Light</strong> (<code>font-weight: 300;</code>) may also be used for the default font, depending on what weight suits the page best. It provides a slimmer and slightly less bulky font profile, which is especially good for large headings.</p>
//
// Weight: 5
//
// Styleguide Typography.FiraSans.Light
@font-face {
  font-family: @font-family;
  src:
    local('Fira Sans Light'),
    url('@{path}/FiraSans-Light.woff2') format('woff2'),
    url('@{path}/FiraSans-Light.woff') format('woff');
  font-display: var(--font-display);
  font-style:   normal;
  font-weight:  300;
}

// Fira Sans Light Italic
//
// Markup:
// <p style="font-family: 'Fira Sans'; font-weight: 300; font-style: italic;"><strong style="font-weight: 500;">Fira Sans Light Italic</strong> is the italicized version of Fira Sans Light.</p>
//
// Weight: 6
//
// Styleguide Typography.FiraSans.LightItalic
@font-face {
  font-family: @font-family;
  src:
    local('Fira Sans Light Italic'),
    url('@{path}/FiraSans-LightItalic.woff2') format('woff2'),
    url('@{path}/FiraSans-LightItalic.woff') format('woff');
  font-display: var(--font-display);
  font-style:   italic;
  font-weight:  300;
}

// Fira Sans Regular
//
// Markup:
// <p style="font-family: 'Fira Sans';"><strong>Fira Sans Regular</strong> is the default font used throughout DLx tools, with a line height of 1.5. At larger sizes this font tends to look bold, in which case it may be a good idea to use Fira Sans Light (<code>font-weight: 300;</code>) instead.</p>
//
// Weight: 1
//
// Styleguide Typography.FiraSans.Regular
@font-face {
  font-family: @font-family;
  src:
    local('Fira Sans Regular'),
    url('@{path}/FiraSans-Regular.woff2') format('woff2'),
    url('@{path}/FiraSans-Regular.woff') format('woff');
  font-display: var(--font-display);
  font-style:   normal;
  font-weight:  normal;
}

// Fira Sans Italic
//
// Markup:
// <p style="font-family: 'Fira Sans'; font-style: italic;"><strong>Fira Sans Regular Italic</strong> is used for italics.</p>
//
// Weight: 2
//
// Styleguide Typography.FiraSans.Italic
@font-face {
  font-family: @font-family;
  src:
    local('Fira Sans Regular Italic'),
    url('@{path}/FiraSans-Italic.woff2') format('woff2'),
    url('@{path}/FiraSans-Italic.woff') format('woff');
  font-display: var(--font-display);
  font-style:   italic;
  font-weight:  normal;
}

// Fira Sans Medium
//
// Markup:
// <p style="font-family: 'Fira Sans'; font-weight: 500;"><strong style="font-weight: 500;">Fira Sans Medium</strong> (<code>font-weight: 500;</code>) is used as the bold version of Fira Sans Light.</p>
//
// Weight: 7
//
// Styleguide Typography.FiraSans.Medium
@font-face {
  font-family: @font-family;
  src:
    local('Fira Sans Medium'),
    url('@{path}/FiraSans-Medium.woff2') format('woff2'),
    url('@{path}/FiraSans-Medium.woff') format('woff');
  font-display: var(--font-display);
  font-style:   normal;
  font-weight:  500;
}

// Fira Sans Medium Italic
//
// Markup:
// <p style="font-family: 'Fira Sans'; font-style: italic; font-weight: 500;"><strong style="font-weight: 500;">Fira Sans Medium Italic</strong> is used as the bold version of Fira Sans Light Italic.</p>
//
// Weight: 8
//
// Styleguide Typography.FiraSans.MediumItalic
@font-face {
  font-family: @font-family;
  src:
    local('Fira Sans Medium Italic'),
    url('@{path}/FiraSans-MediumItalic.woff2') format('woff2'),
    url('@{path}/FiraSans-MediumItalic.woff') format('woff');
  font-display: var(--font-display);
  font-style:   italic;
  font-weight:  500;
}

// Fira Sans SemiBold
//
// Markup:
// <p style="font-family: 'Fira Sans'; font-weight: bold;"><strong>Fira Sans SemiBold</strong> is used as the bold version of Fira Sans Regular.</p>
//
// Weight: 3
//
// Styleguide Typography.FiraSans.SemiBold
@font-face {
  font-family: @font-family;
  src:
    local('Fira Sans SemiBold'),
    url('@{path}/FiraSans-SemiBold.woff2') format('woff2'),
    url('@{path}/FiraSans-SemiBold.woff') format('woff');
  font-display: var(--font-display);
  font-style:   normal;
  font-weight:  600;
}

// Fira Sans SemiBold Italic
//
// Markup:
// <p style="font-family: 'Fira Sans'; font-weight: bold; font-style: italic;"><strong>Fira Sans SemiBold Italic</strong> is used as the bold version of Fira Sans Regular Italic.</p>
//
// Weight: 4
//
// Styleguide Typography.FiraSans.SemiBoldItalic
@font-face {
  font-family: @font-family;
  src:
    local('Fira Sans SemiBold Italic'),
    url('@{path}/FiraSans-SemiBoldItalic.woff2') format('woff2'),
    url('@{path}/FiraSans-SemiBoldItalic.woff') format('woff');
  font-display: var(--font-display);
  font-style:   italic;
  font-weight:  600;
}


// Fira Mono
//
// The Fira Mono set of fonts (developed by Mozilla) are used for representing code blocks and other monospaced text.
//
// Weight: 2
//
// Styleguide Typography.FiraMono

// Fira Mono Regular
//
// Markup:
// <p style="font-family: 'Fira Mono';"><strong>Fira Mono</strong> is used for monospaced code blocks.</p>
//
// Weight: 1
//
// Styleguide Typography.FiraMono.Regular
@font-face {
  font-family: @font-family-mono;
  src:
    local('Fira Mono Regular'),
    url('@{path}/FiraMono-Regular.woff2') format('woff2'),
    url('@{path}/FiraMono-Regular.woff') format('woff');
  font-display: var(--font-display);
  font-style:   normal;
  font-weight:  normal;
}

// Fira Mono Bold
//
// Markup:
// <p style="font-family: 'Fira Mono'; font-weight: bold;"><strong>Fira Mono Bold</strong> is used for emphasized or bolded code.</p>
//
// Weight: 2
//
// Styleguide Typography.FiraMono.Bold
@font-face {
  font-family: @font-family-mono;
  src:
    local('Fira Mono Bold'),
    url('@{path}/FiraMono-Bold.woff2') format('woff2'),
    url('@{path}/FiraMono-Bold.woff') format('woff');
  font-display: var(--font-display);
  font-style:   normal;
  font-weight:  600;
}


// Charis SIL
//
// The Charis SIL fonts (developed by SIL) are used for representing linguistic transcriptions.
//
// Weight: 3
//
// Styleguide Typography.CharisSIL

// Charis SIL Regular
//
// Markup:
// <p style="font-family: 'Charis SIL'; font-size: 1.075em;"><strong>Charis SIL</strong> is used for text that needs to support Unicode characters, such as data input fields. It should typically have <code>font-size: 1.075em;</code> so that it occupies the same line height as Fira Sans.</p>
//
// Weight: 1
//
// Styleguide Typography.CharisSIL.Regular
@font-face {
  font-family: @font-family-unicode;
  src:
    local('Charis SIL Regular'),
    url('@{path}/CharisSIL-R.woff2') format('woff2'),
    url('@{path}/CharisSIL-R.woff') format('woff');
  font-display: var(--font-display-critical);
  font-style:   normal;
  font-weight:  normal;
}

// Charis SIL Italic
//
// Markup:
// <p style="font-family: 'Charis SIL'; font-size: 1.075em; font-style: italic;"><strong>Charis SIL Italic</strong> is used for italicized text that requires Unicode support, such as inline presentation of example data.</p>
//
// Weight: 2
//
// Styleguide Typography.CharisSIL.Italic
@font-face {
  font-family: @font-family-unicode;
  src:
    local('Charis SIL Italic'),
    url('@{path}/CharisSIL-I.woff2') format('woff2'),
    url('@{path}/CharisSIL-I.woff') format('woff');
  font-display: var(--font-display-critical);
  font-style:   italic;
  font-weight:  normal;
}

// Charis SIL Bold
//
// Markup:
// <p style="font-family: 'Charis SIL'; font-size: 1.075em; font-weight: bold;"><em>Charis SIL Bold</em> is used for bolded text that requires Unicode support.</p>
//
// Weight: 3
//
// Styleguide Typography.CharisSIL.Bold
@font-face {
  font-family: @font-family-unicode;
  src:
    local('Charis SIL Bold'),
    url('@{path}/CharisSIL-B.woff2') format('woff2'),
    url('@{path}/CharisSIL-B.woff') format('woff');
  font-display: var(--font-display-critical);
  font-style:   normal;
  font-weight:  bold;
}

// Charis SIL Bold Italic
//
// Markup:
// <p style="font-family: 'Charis SIL'; font-size: 1.075em; font-weight: bold; font-style: italic;"><em>Charis SIL Bold Italic</em> is used for bolded and italicized text that requires Unicode support.</p>
//
// Weight: 4
//
// Styleguide Typography.CharisSIL.BoldItalic
@font-face {
  font-family: @font-family-unicode;
  src:
    local('Charis SIL Bold Italic'),
    url('@{path}/CharisSIL-BI.woff2') format('woff2'),
    url('@{path}/CharisSIL-BI.woff') format('woff');
  font-display: var(--font-display-critical);
  font-style:   italic;
  font-weight:  bold;
}
