// Abbreviation
//
// Styling for inline abbreviations (not grammatical glosses).
//
// Markup: abbreviation.html
//
// Styleguide components.abbreviation
.abbr, .abbreviation {

  &[title] {
    cursor:                  help;
    text-decoration:         dotted underline;
    text-underline-position: under;
  }

  &:not([title]) {
    text-decoration: none;
  }

}
