// Button
//
// A basic button.
//
// Markup: button.hbs
//
// :active     - When the button is clicked
// :disabled   - When the button is disabled
// :focus      - When the button is focused
// :hover      - When the user hovers over the button
// .button-red - A red button
//
// Styleguide Components.Forms.button
.button {

  .blue-background;
  align-items:      center;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15), transparent);
  border:           0;
  border-radius:    var(--border-radius);
  box-shadow:       var(--shadow-button);
  cursor:           pointer;
  font:             inherit;
  outline:          0;
  padding:          var(--padding-text);
  text-align:       center;
  white-space:      normal;

  &:active {
    --shadow-button: 0 0 0 0.075em rgba(0, 0, 0, 0.15) inset, 0 0 0.5em rgba(0, 0, 0, 0.2) inset;
  }

  &:hover, &:focus {
    background-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.15));
  }

  &:disabled {
    background-image: none;
    box-shadow:       none;
    cursor:           not-allowed;
    opacity:          0.4;
  }

  &-red {
    .red-background;
  }

}
