<label class=label>
  <span>Button</span>
  <input class=input type=button value=Button>
</label>

<label class=label>
  <span>Checkbox</span>
  <input class=input type=checkbox>
</label>

<label class=label>
  <span>Color</span>
  <input class=input type=color>
</label>

<label class=label>
  <span>Date</span>
  <input class=input type=date>
</label>

<label class=label>
  <span>Datetime</span>
  <input class=input type=datetime>
</label>

<label class=label>
  <span>Datetime Local</span>
  <input class=input type=datetime-local>
</label>

<label class=label>
  <span>Email</span>
  <input class=input type=email value=name@domain.com>
</label>

<label class=label>
  <span>File</span>
  <input class=input type=file>
</label>

<label class=label>
  <span>Hidden</span>
  <input class=input type=hidden value='This input is hidden'>
</label>

<label class=label>
  <span>Image</span>
  <input class=input type=image src=img/tunnel.svg>
</label>

<label class=label>
  <span>Month</span>
  <input class=input type=month>
</label>

<label class=label>
  <span>Number</span>
  <input class=input type=number value=1000>
</label>

<label class=label>
  <span>Password</span>
  <input class=input type=password value=password>
</label>

<fieldset>
  <label class=label>
    <span>Radio 1</span>
    <input class=input type=radio name=radio>
  </label>
  <label class=label>
    <span>Radio 2</span>
    <input class=input type=radio name=radio>
  </label>
</fieldset>

<label class=label>
  <span>Range</span>
  <input class=input type=range>
</label>

<label class=label>
  <span>Reset</span>
  <input class=input type=reset value=Reset>
</label>

<label class=label>
  <span>Search</span>
  <input class=input type=search value=Search>
</label>

<label class=label>
  <span>Submit</span>
  <input class=input type=submit value=Submit>
</label>

<label class=label>
  <span>Telephone</span>
  <input class=input type=tel value='A telephone input'>
</label>

<label class=label>
  <span>Text</span>
  <input class=input type=text value='A text input'>
</label>

<label class=label>
  <span>Time</span>
  <input class=input type=time>
</label>

<label class=label>
  <span>URL</span>
  <input class=input type=url>
</label>

<label class=label>
  <span>Week</span>
  <input class=input type=week>
</label>
