<label class=label>
  <span>Label with <code>&lt;span&gt;</code></span>
  <input class=input type=text>
</label>

<label class=label>
  Label without <code>&lt;span&gt;</code>
  <input class=input type=text>
</label>
