<a href=#>
  <p>This is a <code>&lt;p&gt;</code> tag wrapped in an <code>&lt;a&gt;</code> tag. It does not get link styling.</p>
</a>

<p>
  <a href=#>This is an <code>&lt;a&gt;</code> tag inside of a <code>&lt;p&gt;</code> tag. It gets link styling.</a>
</p>

<p>
  <a href="#">This</a> shows a link around a single word, inside a <code>&lt;p&gt;</code> tag.
</p>
