// Linux Libertine
//
// This is the main recommended font for representing linguistic data in Unicode. `.woff2` versions of this font family are located in `/typography/LinuxLibertine`.
//
// Weight: 2
//
// Styleguide typography.Linux Libertine

// Linux Libertine Regular
//
// Markup:
// <p style="font-family: 'Linux Libertine';">àáâãäåāăąǎǟǡȧǻȁȃḁẚạảầấẩẫậắằẳẵặ ḃḅḇ ćĉċčḉ ďḋḍḏḑḓ èéêëēĕėęěȅȩȇḕḗḙḛḝẹẻẽềếểễệ ḟ ĝğġģǧǵḡ ĥȟḣḥḧḩḫẖ ìíîȉǐïįīịĩḭḯỉȋĭ ĵǰ ķǩḱḳḵ ĺļľḻŀḷḹḽ ḿṁṃ ñńņňŉǹṅṇṉṋ òóôõöōŏőǒǫǭȍȏȫȭȯȱṍṏṑṓọỏồốổỗộớờởỡợ ṕṗ ŕŗřȑȓṙṛṝṟ śŝşšșṡṣṥṧṩ ţťțṫṭṯṱẗ ùúûüũūŭůűųǔǖǘǚǜȕȗṳṵṷṹṻụủứừửữự ṽṿ ŵẁẃẅẇẉẘ ẋẍ ýÿŷȳẏẙỳỵỷỹ źżžẑẓẕǯ ǣǽ ǿ ẛ</p>
//
// Weight: 1
//
// Styleguide typography.Linux Libertine.Regular
@font-face {
  font-family: 'Linux Libertine';
  src:
    local('Linux Libertine'), local('LinLibertine_R'),
    url(/fonts/LinLibertine.woff2) format('woff2');
  font-weight: normal;
  font-style:  normal;
}

// Linux Libertine Bold
//
// Markup:
// <p style="font-family: 'Linux Libertine'; font-weight: bold;">àáâãäåāăąǎǟǡȧǻȁȃḁẚạảầấẩẫậắằẳẵặ ḃḅḇ ćĉċčḉ ďḋḍḏḑḓ èéêëēĕėęěȅȩȇḕḗḙḛḝẹẻẽềếểễệ ḟ ĝğġģǧǵḡ ĥȟḣḥḧḩḫẖ ìíîȉǐïįīịĩḭḯỉȋĭ ĵǰ ķǩḱḳḵ ĺļľḻŀḷḹḽ ḿṁṃ ñńņňŉǹṅṇṉṋ òóôõöōŏőǒǫǭȍȏȫȭȯȱṍṏṑṓọỏồốổỗộớờởỡợ ṕṗ ŕŗřȑȓṙṛṝṟ śŝşšșṡṣṥṧṩ ţťțṫṭṯṱẗ ùúûüũūŭůűųǔǖǘǚǜȕȗṳṵṷṹṻụủứừửữự ṽṿ ŵẁẃẅẇẉẘ ẋẍ ýÿŷȳẏẙỳỵỷỹ źżžẑẓẕǯ ǣǽ ǿ ẛ</p>
//
// Weight: 2
//
// Styleguide typography.Linux Libertine.Bold
@font-face {
  font-family: 'Linux Libertine';
  src:
    local('Linux Libertine Bold'), local('LinLibertine_RB'),
    url(/fonts/LinLibertineB.woff2) format('woff2');
  font-weight: bold;
  font-style:  normal;
}

// Linux Libertine Bold Italic
//
// Markup:
// <p style="font-family: 'Linux Libertine'; font-style: italic; font-weight: bold;">àáâãäåāăąǎǟǡȧǻȁȃḁẚạảầấẩẫậắằẳẵặ ḃḅḇ ćĉċčḉ ďḋḍḏḑḓ èéêëēĕėęěȅȩȇḕḗḙḛḝẹẻẽềếểễệ ḟ ĝğġģǧǵḡ ĥȟḣḥḧḩḫẖ ìíîȉǐïįīịĩḭḯỉȋĭ ĵǰ ķǩḱḳḵ ĺļľḻŀḷḹḽ ḿṁṃ ñńņňŉǹṅṇṉṋ òóôõöōŏőǒǫǭȍȏȫȭȯȱṍṏṑṓọỏồốổỗộớờởỡợ ṕṗ ŕŗřȑȓṙṛṝṟ śŝşšșṡṣṥṧṩ ţťțṫṭṯṱẗ ùúûüũūŭůűųǔǖǘǚǜȕȗṳṵṷṹṻụủứừửữự ṽṿ ŵẁẃẅẇẉẘ ẋẍ ýÿŷȳẏẙỳỵỷỹ źżžẑẓẕǯ ǣǽ ǿ ẛ</p>
//
// Weight: 3
//
// Styleguide typography.Linux Libertine.Bold Italic
@font-face {
  font-family: 'Linux Libertine';
  src:
    local('Linux Libertine Bold Italic'), local('LinLibertine_RBI'),
    url(/fonts/LinLibertineBI.woff2) format('woff2');
  font-weight: bold;
  font-style:  italic;
}

// Linux Libertine Display
//
// Markup:
// <p style="font-family: 'Linux Libertine Display';">àáâãäåāăąǎǟǡȧǻȁȃḁẚạảầấẩẫậắằẳẵặ ḃḅḇ ćĉċčḉ ďḋḍḏḑḓ èéêëēĕėęěȅȩȇḕḗḙḛḝẹẻẽềếểễệ ḟ ĝğġģǧǵḡ ĥȟḣḥḧḩḫẖ ìíîȉǐïįīịĩḭḯỉȋĭ ĵǰ ķǩḱḳḵ ĺļľḻŀḷḹḽ ḿṁṃ ñńņňŉǹṅṇṉṋ òóôõöōŏőǒǫǭȍȏȫȭȯȱṍṏṑṓọỏồốổỗộớờởỡợ ṕṗ ŕŗřȑȓṙṛṝṟ śŝşšșṡṣṥṧṩ ţťțṫṭṯṱẗ ùúûüũūŭůűųǔǖǘǚǜȕȗṳṵṷṹṻụủứừửữự ṽṿ ŵẁẃẅẇẉẘ ẋẍ ýÿŷȳẏẙỳỵỷỹ źżžẑẓẕǯ ǣǽ ǿ ẛ</p>
//
// Weight: 3
//
// Styleguide typography.Linux Libertine.Display
@font-face {
  font-family: 'Linux Libertine Display';
  src:
    local('Linux Libertine Display'), local('LinLibertine_DR'),
    url(/fonts/LinLibertineDisplay.woff2) format('woff2');
  font-weight: normal;
  font-style:  normal;
}

// Linux Libertine Italic
//
// Markup:
// <p style="font-family: 'Linux Libertine'; font-style: italic;">àáâãäåāăąǎǟǡȧǻȁȃḁẚạảầấẩẫậắằẳẵặ ḃḅḇ ćĉċčḉ ďḋḍḏḑḓ èéêëēĕėęěȅȩȇḕḗḙḛḝẹẻẽềếểễệ ḟ ĝğġģǧǵḡ ĥȟḣḥḧḩḫẖ ìíîȉǐïįīịĩḭḯỉȋĭ ĵǰ ķǩḱḳḵ ĺļľḻŀḷḹḽ ḿṁṃ ñńņňŉǹṅṇṉṋ òóôõöōŏőǒǫǭȍȏȫȭȯȱṍṏṑṓọỏồốổỗộớờởỡợ ṕṗ ŕŗřȑȓṙṛṝṟ śŝşšșṡṣṥṧṩ ţťțṫṭṯṱẗ ùúûüũūŭůűųǔǖǘǚǜȕȗṳṵṷṹṻụủứừửữự ṽṿ ŵẁẃẅẇẉẘ ẋẍ ýÿŷȳẏẙỳỵỷỹ źżžẑẓẕǯ ǣǽ ǿ ẛ</p>
//
// Weight: 3
//
// Styleguide typography.Linux Libertine.Italic
@font-face {
  font-family: 'Linux Libertine';
  src:
    local('Linux Libertine Italic'), local('LinLibertine_RI'),
    url(/fonts/LinLibertineI.woff2) format('woff2');
  font-weight: normal;
  font-style:  italic;
}

// Linux Libertine Semibold
//
// Markup:
// <p style="font-family: 'Linux Libertine'; font-weight: 600;">àáâãäåāăąǎǟǡȧǻȁȃḁẚạảầấẩẫậắằẳẵặ ḃḅḇ ćĉċčḉ ďḋḍḏḑḓ èéêëēĕėęěȅȩȇḕḗḙḛḝẹẻẽềếểễệ ḟ ĝğġģǧǵḡ ĥȟḣḥḧḩḫẖ ìíîȉǐïįīịĩḭḯỉȋĭ ĵǰ ķǩḱḳḵ ĺļľḻŀḷḹḽ ḿṁṃ ñńņňŉǹṅṇṉṋ òóôõöōŏőǒǫǭȍȏȫȭȯȱṍṏṑṓọỏồốổỗộớờởỡợ ṕṗ ŕŗřȑȓṙṛṝṟ śŝşšșṡṣṥṧṩ ţťțṫṭṯṱẗ ùúûüũūŭůűųǔǖǘǚǜȕȗṳṵṷṹṻụủứừửữự ṽṿ ŵẁẃẅẇẉẘ ẋẍ ýÿŷȳẏẙỳỵỷỹ źżžẑẓẕǯ ǣǽ ǿ ẛ</p>
//
// Weight: 3
//
// Styleguide typography.Linux Libertine.Semibold
@font-face {
  font-family: 'Linux Libertine';
  src:
    local('Linux Libertine Semibold'), local('LinLibertine_RZ'),
    url(/fonts/LinLibertineZ.woff2) format('woff2');
  font-weight: 600;
  font-style:  normal;
}

// Linux Libertine Semibold Italic
//
// Markup:
// <p style="font-family: 'Linux Libertine'; font-style: italic; font-weight: 600;">àáâãäåāăąǎǟǡȧǻȁȃḁẚạảầấẩẫậắằẳẵặ ḃḅḇ ćĉċčḉ ďḋḍḏḑḓ èéêëēĕėęěȅȩȇḕḗḙḛḝẹẻẽềếểễệ ḟ ĝğġģǧǵḡ ĥȟḣḥḧḩḫẖ ìíîȉǐïįīịĩḭḯỉȋĭ ĵǰ ķǩḱḳḵ ĺļľḻŀḷḹḽ ḿṁṃ ñńņňŉǹṅṇṉṋ òóôõöōŏőǒǫǭȍȏȫȭȯȱṍṏṑṓọỏồốổỗộớờởỡợ ṕṗ ŕŗřȑȓṙṛṝṟ śŝşšșṡṣṥṧṩ ţťțṫṭṯṱẗ ùúûüũūŭůűųǔǖǘǚǜȕȗṳṵṷṹṻụủứừửữự ṽṿ ŵẁẃẅẇẉẘ ẋẍ ýÿŷȳẏẙỳỵỷỹ źżžẑẓẕǯ ǣǽ ǿ ẛ</p>
//
// Weight: 3
//
// Styleguide typography.Linux Libertine.Semibold Italic
@font-face {
  font-family: 'Linux Libertine';
  src:
    local('Linux Libertine Semibold Italic'), local('LinLibertine_RZI'),
    url(/fonts/LinLibertineZI.woff2) format('woff2');
  font-weight: 600;
  font-style:  italic;
}
