@import (reference) 'https://cdn.digitallinguistics.io/less/variables.less';

// Heading 1: Page Title
//
// For page titles. This is also aliased as `.page-title`. This should be an `<h1>`, and there should be only one `<h1>` / `.page-title` per page.
//
// Markup: page-title.hbs
//
// Styleguide Components.Headings.h1
.h1 {
  align-self: center;
  font-size: 2.5em;
  margin: 0;
  min-width: 0;
  padding: var(--padding-text);
  text-align: center;
}

.page-title { .h1; }
