// Details / Summary
//
// A collapsable `<details>` element, with an optional `<summary>` element.
//
// Markup: details.hbs
//
// Styleguide Components.Content.details
.details {
  summary {
    align-items:    center;
    flex-direction: row;
    font-weight:    var(--bold);
    margin-left:    -1em;
    min-width:      0;
    overflow-wrap:  break-word;
    word-wrap:      break-word;
  }
}
