@baseURL: 'https://digitallinguistics.blob.core.windows.net';

@import '@{baseURL}/less/cite.less';
@import '@{baseURL}/less/link.less';
@import '@{baseURL}/less/section-header.less';

// Reference List
//
// Styling for a bibliographic reference list. Note that each reference should be an `<li>` tag containing a `<p>` tag. **NOTE:** You may have to further customize the styling of the `<hX>` element depending on which header you are using. Use `<cite>` for publication titles.
//
// Markup: reference-list.hbs
//
// Styleguide Components.Lists.reference-list
.reference-list {

  a { .link; }

  cite { .cite; }

  h2 { .section-header; }

  ol, ul {
    list-style:   disc outside none;
    padding:      0.5em 0em;
    padding-left: 1.5em;
  }

  li {
    display: list-item;
    padding: var(--padding-text);

    p {
      display:     block;
      margin:      0;
      margin-left: 1.5em;
      padding:     var(--padding-text);
      text-indent: -1.5em;
    }

  }

}
