@import (reference) 'globals/classes.less';

// Skip Link
//
// An accessible skip link at the start of the page
//
// Markup: skip-link.hbs
//
// Styleguide Components.skip-link
.skip-link {

  position:             absolute;
  text-decoration-skip: ink;
  z-index:              1;

  &:not(:focus) {
    .visually-hidden;
  }

}
