// Numbered List
//
// For numbered lists
//
// Markup: numbered.hbs
//
// Styleguide Components.numbered
.numbered {

  counter-reset: numbered;
  list-style:    none;

  li {

    counter-increment: numbered;
    display:           list-item;
    position:          relative;

    &::before {
      display:  inline-block;
      content:  counter(numbered) '.';
      left:     -1.5em;
      position: absolute;
    }

  }

}
