// Numbered List
//
// For numbered lists. List items with text in them should contain a `<p>` tag or other relevant element, following the principles of semantic markup.
//
// Markup: numbered.hbs
//
// Styleguide Components.numbered
.numbered {

  counter-reset: numbered;
  list-style: none;

  li {

    counter-increment: numbered;
    display: list-item;
    margin: 0;
    margin-left: 2.5em;

    &::before {
      content: counter(numbered) '.';
      font-weight: bold;
      margin-left: -2.5em;
      padding: var(--padding-text);
      padding: 0.25em 0.5em; // fallback for Edge bug; see issue https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/11495448/
    }

  }

}
