<label class="textline {{modifier_class}}">
  <span>Label Name</span>
  <div>
    <input
      class="{{modifier_class}}"
      inputmode=verbatim
      placeholder='placeholder data'
      type=text
    >
    <p>An abbreviation for this language variety. May contain only letters and numbers.</p>
  </div>
</label>

<label class="textline {{modifier_class}}">
  <span>Label Name</span>
  <div>
    <input
      class="{{modifier_class}}"
      inputmode=verbatim
      pattern=[0-9]
      placeholder='placeholder data'
      type=text
      value='Invalid data'
    >
    <p>An abbreviation for this language variety. May contain only letters and numbers.</p>
  </div>
</label>
