// Link
//
// The `.link` class styles an anchor (`<a>`) element as an inline link. Change the CSS `--link-color` variable to change the link's color.
//
// Markup: link.hbs
//
// :hover   - When the link is hovered over
// :visited - When the link has already been visited
//
// Styleguide Components.Inline.link
.link {

  background:      transparent;
  border-bottom:   var(--underline-transparent);
  color:           var(--link-color);
  text-decoration: none;

  &:link {
    border-bottom:   var(--underline-transparent);
    color:           var(--link-color);
    text-decoration: none;
  }

  &:visited {
    --link-color: var(--link-color-visited);
  }

  &:hover {
    border-bottom: var(--underline);
  }

}

.link-white {

  .link;

  --link-color: white;

  &:visited { --link-color: white; }

}
