:root {

  --font:
    'Fira Sans',
    'Roboto',
    'Open Sans',
    'Lato',
    'Noto Sans',
    'Verdana',
    sans-serif;

  --font-mono:
    'Fira Code',
    'Fira Mono',
    'Cascadia Code',
    'Roboto Mono',
    'Inconsolata',
    'Consolas',
    'Courier New',
    monospace;

  --measure: 60em;

}