<section id=colors>

  <h1 class=h-section>Colors</h2>

  <p>The following colors are available as LESS variables and classes. Click on the color to copy it to the clipboard. To set the font color, use <code>.{color}</code> (e.g. <code>.wugblue</code>). To set the background color, use <code>.{color}-background</code>, (e.g. <code>.wugblue-background</code>).</p>

  {{#each colorGroups}}
    <section>
      {{#each this}}
        <div class=color>
          <span><code>@{{name}}</code>{{#if note}}<p>({{{note}}})</p>{{/if}}</span>
          <span><code class='swatch {{name}}-background'>#{{hex}}</code></span></div>
      {{/each}}
    </section>
  {{/each}}

  <section>

    <div class=color>
      <span><code>@lightblue-transparent</code></span>
      <span><code class='swatch lightblue-transparent'>rgba(92, 175, 255, 0.2)</code></span>
    </div>

    <div class=color>
      <span><code>@verylightblue-transparent</code></span>
      <span><code class='swatch verylightblue-transparent'>rgba(136, 196, 254, 0.2)</code></span>
    </div>

  </section>

</section>
