<section id=typography>

  <h1 class=h-section>Typography</h1>

  <p class=hanging-indent><strong>Fira Sans Light</strong> (<em>not</em> Fira Sans Regular) is the default font used throughout DLx tools, with a line height of 1.5.</p>
  <p class=hanging-indent style="font-style: italic;"><strong>Fira Sans Light Italic</strong> is used for italics.</p>
  <p class=hanging-indent style="font-weight: bold;"><strong>Fira Sans Medium</strong> (<em>not</em> Fira Sans Bold) is used for bold styling.</p>
  <p class=hanging-indent style="font-style: italic; font-weight: bold;"><strong>Fira Sans Medium Italic</strong> is used for the combination of bold and italics.</p>
  <p class=hanging-indent style="font-family: 'Fira Mono';"><strong>Fira Mono</strong> is used for monospaced code blocks.</p>
  <p class=hanging-indent style="font-family: 'Fira Mono'; font-weight: bold;"><strong>Fira Mono Bold</strong> is used for emphasized or bolded code.</p>
  <p class='hanging-indent unicode'><strong>Gentium Plus Regular</strong> is used for text that needs to support Unicode characters, such as data input fields.</p>
  <p class='hanging-indent unicode' style="font-style: italic;"><strong>Gentium Plus Italic</strong> is used for italicized text that requires Unicode support, such as inline citation of data.</p>
  <p class=hanging-indent>Gentium Fonts are also enlarged slightly so that <span class=unicode>they can be used inline</span> in stretches of Fira Sans text without too much of a size disparity.</p>

</section>
