<section id=variables>

  <h1 class=header-section>Variables</h2>

  <p>The following LESS variables are available:</p>

  <ul class=bulleted>
    <li><p><code>@cdn</code>: <code>https://cdn.digitallinguistics.io</code></p></li>
  </ul>

</section>
