@import '../transcription/transcription.less';

// Phonetic
//
// Used for phonetic representations of data.
//
// Markup: phonetic.hbs
//
// Styleguide Components.phonetic
.phonetic {

  .transcription;

  &::before {
    content:      '[';
    padding-right: var(--transcription-padding);
  }

  &::after  {
    content:      ']';
    padding-left: var(--transcription-padding);
  }

}
