// Navigation
//
// A main navigation bar at the top of the page. The `.banner` and `.nav` classes are generally compatible.
//
// Markup: nav.hbs
//
// Styleguide Components.Layout.nav
.nav {

  ul {

    .blue-background;
    display:         flex;
    flex-flow:       row wrap;
    font-size:       1.25em;
    list-style:      none;
    justify-content: space-around;
    margin:          0;
    padding:         0;

  }

  li {
    flex-grow:     1;
    min-width:     0;
    overflow-wrap: break-word;
    padding:       0.5em;
    text-align:    center;
    word-wrap:     break-word;
  }

  a {
    .link-white;
    text-align: center;
  }

}
