// Heading 3: Subsection Header
//
// For subsection headers. Also aliased as `.subsection-header`.
//
// Markup: subsection-header.hbs
//
// Styleguide Components.Headings.h3
.h3 {
  font-size:      1.5em;
  padding-bottom: 0.25em;
  padding-top:    0.5em;
}

.subsection-header { .h3; }
