// Label
//
// Label elements. If the text inside the element is wrapped in a `span` or header element, that text will be styled as well.
//
// Markup: label.hbs
//
// Styleguide Components.Forms.label
.label {

  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  h1, h2, h3, h4, h5, h6,
  span
  {
    font-size: smaller;
    font-weight: var(--bold);
    min-width: 0;
    padding: var(--padding-text);
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  input {
    margin: 0.25em;
  }

  p {
    padding: var(--padding-text);
  }

}
