@import (reference) 'components/message/message.less';

// Block Quote
//
// For block quotes within a text.
//
// Markup: blockquote.hbs
//
// Styleguide Components.blockquote
.blockquote {

  .message;

  /* NOTE: LESS isn't processing HSL values stored as CSS variables (from variables.less) here */
  background-color: hsl(0, 0%, 95%);
  border-radius:    var(--message-border-radius);
  box-shadow:       0 0 0 0.075em hsl(0, 0%, 75%);
  color:            hsl(0, 0%, 20%);
  padding:          var(--message-padding);
  quotes:           '“' '”' '‘' '’';

  &::before {
    content:      open-quote;
    margin-right: -0.25em;
  }

  &::after {
    content:     close-quote;
    margin-left: -0.25em;
  }

}
