// Warning Message
//
// For warning messages
//
// Markup: warning.hbs
//
// Styleguide Components.warning
.warning {

  --warning-hue: 35;

  background-color: hsl(var(--warning-hue), 100%, var(--message-background-lightness));
  border-radius:    var(--border-radius);
  box-shadow:       0 0 0 0.075em hsl(var(--warning-hue), 100%, var(--message-border-lightness));
  color:            hsl(var(--warning-hue), 100%, var(--message-text-lightness));
  padding:          var(--padding-message);

}
