// NOTE: This file is old, and is being cannibalized for patterns.css

@import 'less/fonts.less';
@import 'less/colors.less';
@import 'less/variables.less';
@import 'less/elements.less';
@import 'less/components.less';

* {
  font: inherit;
}

.kss-modifiers__example {

  border-collapse: collapse;
  font-family: var(--font);
  line-height: 1.5;
  text-decoration: none;
  vertical-align: baseline;

  code { .code; }
  pre { .pre; }

}
